{% extends "layout-sign-in.html" %}

{% block pageTitle %}
An email has been sent
{% endblock %}

<!–– Beta header ––>

{% block beforeContent %}

{% from "phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
tag: {
text: "beta"
},
html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}


<!-- Breadcrumbs -->
<a href="enter-email.html" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
<a href="#main-content" class="govuk-skip-link">Skip to main content</a>
<script src="/govuk-frontend/all.js"></script>
<script>window.GOVUKFrontend.initAll()</script>

<body class="govuk-template__body">
  <span class="govuk-caption-l">Reset your password</span>
  <h1 class="govuk-heading-l">An email has been sent</h1>
  
  <p class="govuk-body">If your account is registered you will be sent an email to reset your password.</p>

</body>
{% endblock %}
