{% macro balanceMessage(category, balance = undefined) %}

{% if category === 'recommended' %}

	<div role="note" aria-label="message" class="atf-m-t-20 panel panel-border-wide atf-success-border atf-background-green">
		<p>
			{% if not balance %}
				Your account balance is at the recommended amount
			{% else %}
				Your account balance is <span class="bold">&pound;{{balance}}</span> and at the recommended amount
			{% endif %}
		</p>
	</div>

{% elif category === 'critical' %}

	<div role="note" aria-label="message" class="atf-m-t-20 panel panel-border-wide atf-error-border atf-background-red">
		<p>
			{% if not balance %}
				Your account balance is below the recommended amount. Please top up your account now in order to make upcoming payments
			{% else %}
				Your account balance is <span class="bold">&pound;{{balance}}</span> and below the recommended amount. Please top up your account now in order to make incoming payments
			{% endif %}
		</p>
	</div>

{% else %}

	<div role="note" aria-label="message" class="atf-m-t-20 panel panel-border-wide atf-warning-border atf-background-yellow">
		<p>
			{% if not balance %}
				Your account balance is running low, please top up your account
			{% else %}
				Your account balance is <span class="bold">&pound;{{balance}}</span> and running low, please top up your account
			{% endif %}
		</p>
	</div>

{% endif %}

{% endmacro %}