{% extends "layout.html" %}
{% import '../macros/download_file_link.html' as download %}
{% import '../macros/data-table.html'as grid %}

{% block page_title %} Manage your Authorised Testing Facility {% endblock %}

{% block page_content %}
<div>
	<span class="atf-grey atf-m-t-30">{{ atfName }}</span>
</div>
<div>
	<div>
		<h1 class="heading-xlarge">
			Your account history
		</h1>
		<p class="lede">Use the filters below to define the search for your history</p>
	</div>
	<div>
		{% include "../includes/history/search_form.html" %}
	</div>
	{% if showDefaultLastNumDaysText %}
		<p class="lede">Your account history from the last seven days</p>
	{% endif %}
	<div>
		{% if GridData %} 
			{% include "../includes/history/results-per-page.html" %} 
			{% include "../includes/history/pagination.html" %} 
			{{ grid.searchGrid(GridData) }} 
			{% include "../includes/history/pagination.html" %} 
		{% endif %}
	</div>
	<div>
		{% if showDownload %}
		<br>
		<p>{{ download.downloadFileLink("Download summary CSV for period shown",'/prototype/download-summary') }}</p>
		<p>{{ download.downloadFileLink("Download detailed CSV for period shown",'/prototype/download-detail') }}</p>
		{% endif %}
	</div>
	<div>
		<div id="atf-print-replace"></div>
	</div>
	<div>
		<br>
		<br>
		<a href="/prototype/account-summary">Return to account</a>
	</div>
</div>
<br /> {% endblock %}