{% extends "layout.html" %}

{% block page_title %}
	Manage your Authorised Testing Facility
{% endblock %}

{% block page_content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        {% if serviceName %} {{ serviceName }} {% endif %}
      </h1>

      <p>Use this service to:</p>

      <ul class="list list-bullet">
        <li>View or top-up your account balance</li>
        <li>View or search historic test information</li>
        <li>Cancel resources for upcoming test</li>
      </uL>

      <p>Registering takes around 5 minutes.</p>

      <p>
        <a class="button button-start" href="{{urlRoot}}prototype/account-summary" role="button">Start now</a>
      </p>

      <h2 class="heading-medium">Before you start</h2>

      <p>You can also <a href="#">register by post.</a></p>

      <p>You can’t register for this service if you’re in the UK illegally.</p>

    </div>
    <div class="column-third">

      <aside class="govuk-related-items" role="complementary">
        <h2 class="heading-medium" id="links-title">Useful links</h2>
        <nav role="navigation" aria-labelledby="links-title">
          <ul class="font-xsmall">
              <li>
                  <a href="https://www.gov.uk/government/publications/heavy-goods-vehicle-fees/heavy-goods-vehicle-hgv-and-trailer-test-fees">View HGV test fees</a>
                  <br />
                  <a href="https://www.gov.uk/government/publications/public-service-vehicle-fees/public-service-vehicle-psv-test-fees">View PSV test fees</a>
                </li>
          </ul>
        </nav>
      </aside>

    </div>
  </div>

</main>

{% endblock %}
