{% extends "layout.html" %}

{% block page_title %}
	Manage your Authorised Testing Facility
{% endblock %}

{% block page_content %}

<div class="grid-row">
    <div class="column-two-thirds">

        {% if (loginAuthenticationError === 'true') %}
            {% include "includes/login/login-authentication-error.html" %}
        {% endif %}

        <h1 class="heading-large">
            Sign in to your account
        </h1>

        <p>Please enter your Government ATF details in order to view your account. You received these when you created your ATF account online.</p>

        <form action="{{urlRoot}}prototype/login" method="post" class="form">
            <div class="form-group">
                <label class="form-label-bold" for="user-id">User ID</label>
                <input class="form-control" name="user-id" id="user-id" aria-describedby="" required="" type="text">
                <label class="form-label-bold" for="password">Password</label>
                <input class="form-control" name="password" id="password" aria-describedby="" required="" type="password">
            </div>
            <input class="button" type="submit" value="Sign in">
        </form>

        <h2 class="heading-large">Problems signing in</h2>

        <ul>
            <li><a href="#">Forgotten User ID</a></li>
            <li><a href="#">Forgotten Password</a></li>
        </ul>

    </div>
</div>

{% endblock %}


