{% extends "layout.html" %}

{% block page_title %} Your ATF sites {% endblock %} 

{% block page_content %}

<div class="atf-m-t-30">
	<h1 class="heading-large">Your ATF sites</h1>
	{% include "../includes/forms/search_bar.html" %}
	{% if atfSites %}
		<br />
		{% include "../includes/history/results-per-page.html" %}
		{% include "../includes/history/pagination.html" %}
		{% for atfSite in atfSites %}
			{% include "../includes/multisite/atf-site-row.html" %}
		{% endfor %}
		<br />
		{% include "../includes/history/pagination.html" %}
	{% endif %}
</div>

{% endblock %} 