{% extends "layout.html" %}

{% block page_title %}
	Manage your Authorised Testing Facility
{% endblock %}

{% block page_content %}
<div>
	<span class="atf-grey atf-m-t-30">{{ atfName }}</span>
</div>
<div>
    <h1 class="heading-large">
            Top up could not be completed
    </h1>

    <div class="panel panel-border-wide atf-error-border atf-background-red">
        <p>
            Your payment of &pound;{{ data['topup-amount'] }} has not been successful
        </p>
    </div>

    <h2 class="heading-medium">
        Why was my payment denied?
    </h2>
    <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
    </p>
    <br />

    <h2 class="heading-small">
        What happens next?
    </h2>
    <p class="atf-m-t-30"><a href="{{urlRoot}}prototype/topup">Try and top up your account again</a></p>
    <p><a href="#">Contact DVSA support</a></p>
</div>

{% endblock %}


