{% extends "layout-sign-in.html" %}

{% block pageTitle %}
MFA code text message
{% endblock %}

<!-- Beta header -->

{% block beforeContent %}

{% from "phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
tag: {
text: "beta"
},
html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}


<!-- Breadcrumbs -->
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a href="../home.html" class="govuk-breadcrumbs__link">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a href="../account-details.html" class="govuk-breadcrumbs__link">Your settings</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a href="new-number.html" class="govuk-breadcrumbs__link">Create a new mobile number</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      Check your phone
    </li>
  </ol>
</div>
{% endblock %}

{% block content %}
<script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
<a href="#main-content" class="govuk-skip-link">Skip to main content</a>
<script src="/govuk-frontend/all.js"></script>
<script>window.GOVUKFrontend.initAll()</script>

<body class="govuk-template__body ">
  <span class="govuk-caption-l">Change your mobile number</span>
  <h1 class="govuk-heading-l">Check your phone</h1> 
  <!-- 07*****0789 -->
  <p class="govuk-body">A 6-digit code has been sent to 07700 900789. It may take a few minutes to arrive.</p>
  
  <div class="govuk-form-group">  
    <label class="govuk-label" for="securitycode">Access code</label>
    <input class="govuk-input govuk-input--width-5" id="securitycode" name="width-5" type="text">
  </div> 

  <form method="get" action="confirmation.html">
    <button type="submit" class="govuk-button">Continue</button>
  </form>
  
  <p class="govuk-body govuk-!-margin-bottom-8">
    <a class="govuk-link govuk-link--no-visited-state" href="mfa-code-resent.html">Resend code</a>
  </p>
</body>
{% endblock %}
