
{% extends "layout-sign-in.html" %}

{% block pageTitle %}
New mobile number
{% endblock %}

<!-- Beta header -->

{% block beforeContent %}

{% from "phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
tag: {
text: "beta"
},
html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

<!-- Breadcrumbs -->
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a href="../home.html" class="govuk-breadcrumbs__link">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a href="../account-details.html" class="govuk-breadcrumbs__link">Your settings</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      Create a new mobile number
    </li>
  </ol>
</div>
{% endblock %}

{% block content %}
<script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
<a href="#main-content" class="govuk-skip-link">Skip to main content</a>
<script src="/govuk-frontend/all.js"></script>
<script>window.GOVUKFrontend.initAll()</script>

<body class="govuk-template__body ">
  <span class="govuk-caption-l">Change your mobile number</span>
  <h1 class="govuk-heading-l">Enter a new mobile number</h1>

  <p class="govuk-body">You will be sent an access code to confirm your new number: 07700 900789.</p>
  
  <div class="govuk-form-group">
    <label class="govuk-label" for="mobile-number">New UK mobile number</label>
    <input class="govuk-input textwidth govuk-!-margin-bottom-6" id="mobile-number" name="mobile-number" type="mobile-number" aria-describedby="mobile">
      
    <label class="govuk-label" for="mobile">Confirm new UK mobile number</label>
    <input class="govuk-input textwidth" id="width-20" name="width-10" type="mobile-number">
  </div> 

  <form method="get" action="mfa-code.html">
    <button type="submit" class="govuk-button">Continue</button>
  </form>
</body>
{% endblock %}