
{% extends "layout-sign-in.html" %}

{% block pageTitle %}
incorrect phone number
{% endblock %}

<!-- Beta header -->

{% block beforeContent %}

{% from "phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
tag: {
text: "beta"
},
html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

<!-- Breadcrumbs -->
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a href="../home.html" class="govuk-breadcrumbs__link">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a href="../account-details.html" class="govuk-breadcrumbs__link">Your settings</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      Create a new mobile number
    </li>
  </ol>
</div>
{% endblock %}

{% block content %}
<script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
<a href="#main-content" class="govuk-skip-link">Skip to main content</a>
<script src="/govuk-frontend/all.js"></script>
<script>window.GOVUKFrontend.initAll()</script>

<body class="govuk-template__body ">
  <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
    <h2 class="govuk-error-summary__title" id="error-summary-title">There is a problem</h2>
    <div class="govuk-error-summary__body">
      <ul class="govuk-list govuk-error-summary__list">
        <li>
          <a href="#mobile" style="font-weight: bold;">Enter a UK mobile number, like 07700 900789 or +44 7700 900789</a>
        </li>
      </ul>
    </div>
  </div>
  
  <span class="govuk-caption-l">Change your mobile number</span>
  <h1 class="govuk-heading-l">Create a new mobile number</h1>

  <p class="govuk-body">You will be sent an access code to confirm your new number: 07700 900789.</p>

  <div class="govuk-form-group govuk-form-group--error">
    <label class="govuk-label" for="mobile">UK mobile number</label>
    <span id="telephone-number-error" class="govuk-error-message">
      <span class="govuk-visually-hidden">Error:</span> Enter a UK mobile number, like 07700 900789 or +44 7700 900789
    </span>
    <input class="govuk-input govuk-input--error textwidth" id="mobile" name="mobile" type="text" aria-describedby="mobile">
  </div>  
  <div class="govuk-form-group">  
    <label class="govuk-label" for="mobile">Confirm UK mobile number</label>
    <input class="govuk-input textwidth" id="mobile2" name="mobile2" type="text" aria-describedby="mobile">
  </div> 

  <form method="get" action="mfa-code.html">
    <button type="submit" class="govuk-button">Continue</button>
  </form>
</body>
{% endblock %}