// global styles for <a> and <p> tags
$govuk-global-styles: true;

// We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework.
$govuk-assets-path: '/govuk/assets/';

// Import GOV.UK Frontend and any extension styles if extensions have been configured
@import "lib/extensions/extensions";

// Patterns that aren't in Frontend
@import "patterns/step-by-step-navigation";
@import "patterns/task-list";
@import "patterns/related-items";

// Components that aren't in Frontend
@import "components/cookie-banner";

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you

// DY-Styles

hr {
  border: none;
  height: 1px;
  /* Set the hr color */
  color: #BFC1C3; /* old IE */
  background-color: #BFC1C3; /* Modern Browsers */
}

.govuk-grid-column-one-third hr {
  border-color: #dee0e2;
}

.govuk-grid-row span {
  margin-top: 10%;
}
.govuk-grid-column-one-third a {
  color:#005ea5;
}

.govuk-grid-column-two-thirds a {
  color:#005ea5;
}

// Add 20px vertical space between elements
.v-space {
  margin: 20px 0;
  color: rgba(0, 0, 0, 0.0);
}
// Paste this (as many time as you want) between divs: <div><p class="v-space">space</p></div>

// Add 10px vertical space between elements
.v-space10 {
  margin: 10px 0;
  color: rgba(0, 0, 0, 0.0);
}
// Paste this (as many time as you want) between divs: <div><p class="v-space10">space</p></div>


// Add 10px vertical space between elements
.v-space2 {
  margin: 1px 0;
  color: rgba(0, 0, 0, 0.0);
}
// Paste this (as many time as you want) between divs: <div><p class="v-space2">space</p></div>

.indexText01{
  color:gray; 
  // padding-left:5px
}


.indexText02{
  color:orange; 
  // padding-left:5px
}

.indexText03{
  color:green; 
  // padding-left:5px
}

// DY-Styles: myatf-account / datepicker

#datepicker1 {
  display: inline-block;
  float: left;
  width:100%;
  padding-left: 20px;
  padding-bottom: 20px
}



#divdate21 {
  display: inline-block;
  float: left;
  padding: 0 10px 0 0;
}

#divdate22 {
  display: inline-block;
  float: left;
  margin-left: 52px;
  padding: 0 10px;
}

@media screen and (max-width: 700px){
  #divdate21,
  #divdate22{
    width: 100%;
    padding-left: 0;
  }

  #divdate22{
    margin-top: 32px;
    margin-left: 0;
  }

  #divdate2{
    padding-left: 10px;
  }
}

// DY-Styles: myatf-account / radio buttons

#radiopanel1 {
  display: inline-block;
  float: left;
  width:100%;
  padding-left: 20px;
  padding-bottom: 20px
}


// DY-Styles: todays activity / running totals

#runningtotal1 {

  background-color: #DEE0E2; 
  width:100%;
  padding-left: 20px;
  padding-bottom: 20px
}

#runningtotal2 {

  background-color: #ffffff; 
  width:100%;
  padding-left: 20px;
  padding-bottom: 20px
}

#columpad1 {
 
  padding-left: 10px;
}

// DY-Styles: todays activity-history-search / drop-downs

#divdate21 {
  display: inline-block;
  float: left;
  padding-left: 10px;
 
}

#divdate22 {
  display: inline-block;
  float: none;
  padding-left: 0px;
}

// DY-Styles: Home / tiles

.register-themes {
  display: grid;
  grid-column-gap: 1.5em;
  grid-row-gap: 0.75em;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(5em, auto);
  padding-bottom: 0;
  padding-left: 0;
}

.register-theme {
  display: inline-block;
  vertical-align: top;
  width: 300px;
}

.register-theme__link {
  background: #f8f8f8;
  
  outline-style: solid;
  outline-color: #bfc1c3;
  outline-width: thin;
  box-sizing: border-box;
  display: block;
  height: 100%;
  margin: 0;
  padding: 0.75em 0.75em 0.6em 0.75em;
  text-decoration: none;
  align-content: flex-start;
  align-items: stretch;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.register-theme__link:hover {
  background: white;
  color: white !important;
  outline-style: solid;
  outline-color: 	#2b8cc4;
  outline-width: medium;
  box-sizing: border-box;
  display: block;
  height: 100%;
  margin: 0;
  padding: 0.75em 0.75em 0.6em 0.75em;
  text-decoration: none;
  align-content: flex-start;
  align-items: stretch;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.home_alert {
  
  border-color: coral;
  color:white; 
  background: white; 
  height: 80px;
  width: 100%;
  padding-left:10px; 
  display:block;

}



// DY-Styles: Nav / horizontal top nav bar

.first-page-menu-list li {
  
  display: inline;
  padding: 10px;
  
}


.bg-block {
  background-color: #F8F8F8;
  color: black;
  padding: 5px;
  Width: 100%;
} 

// DY-Styles: Nav / two column local nav list <div style="localbox"></div>

.localbox {
  display: inline;
  width: 500px;
  height: 100px;
  
}

.localbox2 {

  display: inline;
  width: 400px;
  height: 100px;
  padding: 2em;
}

.box2 {
  float: left;
  width: 200px;
  height: 100px;
  margin: 1em;
}

.after-box {
  clear: left;
}


// DY-Styles: position right

.right_header {
    float: right;
    margin-left: 60%
}

.left_header {
  float: left;
  margin-left: 100%
}



// DY-Styles: pside by side divs in a container
.invcontainer {
  width: 100%;
  height: 150px;
  background: white;
  margin: auto;
  padding: 1px;
}

.invone {
  width: 30%;
  height: 150px;
  background: white;
  float: left;
}

.invtwo {
  margin-left: 30%;
  height: 150px;
  background: white;
}

// DY-Styles: pside by side divs in a container - to use: <section class="container"><div class="one"></div><div class="two"></div></section>


// DY-Styles: Start - responsive style for home page


  .home-block {
    display: inline-block;
    grid-column-gap: 1.5em;
    grid-row-gap: 0.75em;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(5em, auto);
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 10px;
    // padding-top: 20px;
    margin-top: 0px;
    width: 100%;
    height: 160px;
}

.home-block li {
  display: inline-block; /* Get all things to show in a row */
  width: 31%;            /* Show 3 things per row */
  text-align: left;    /* Left align the text */
}


@media (max-width: 960px) and (min-width: 501px) {
  .home-block li { 
    width: 40%; 
  } /* Show 2 things per row on medium devices (tablets, phones in landscape) */
}

@media (max-width: 500px) {
  .home-block li { 
    width: 100%; 
    padding-right: 0px;
    padding-bottom: 0px;
    height: 80%;
    
  
  } /* On small screens, show one thing per row */


}


.nav-block {
  display: inline-block;
  grid-column-gap: 1.5em;
  grid-row-gap: 0.75em;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(5em, auto);
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 30px;
  padding-top: 0px;
  width: 100%;
  height: 160px;
 
  
  

}

.nav-block li {
display: inline-block; /* Get all things to show in a row */
width: 40%;            /* Show 3 things per row */
text-align: left;    /* Left align the text */
padding-left: 0px;
padding-right: 93px;
vertical-align: top;
line-height: 40px




}

.nav-sub-title {
line-height: 5px;

}



@media (max-width: 960px) and (min-width: 501px) {
.nav-block li { 
  width: 40%; 
} /* Show 2 things per row on medium devices (tablets, phones in landscape) */
}

@media (max-width: 500px) {
.nav-block li { 
  width: 100%; 
  padding-right: 0px;
  padding-bottom: 0px;
  padding-top: 30px;
  height: 80%;
  

} /* On small screens, show one thing per row */


}

hr.new1 {
  border-top: 4px solid govuk-colour("blue");
  margin-bottom: -20px !important;
  
}

hr.new2 {
  border-top: 4px solid govuk-colour("blue");
  margin-bottom: 0px !important;
  
}


.homebox {
  color: #0b0c0c;
  font-family: "nta", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.14286;
  margin-top: 0;
  margin-bottom: 15px;
}


@media (max-width: 500px) {
  .govuk-body-s { 
    font-size: 1.1em;
    
  
  } /* On small screens, make box text bigger */


}

@media (max-width: 500px) {
  .govuk-heading-xl { 
    margin-bottom: -30px
    
  
  } /* On small screens, reduce space below header */


}

.sign-out{
  float: right;   
}

.link{
  color:#1d70b8; 
  text-decoration: underline;
}

.statusPending{
  color: #626a6e;
}

@media (max-width: 500px) {
  .sign-out { 
   
    padding-left: 100px;
    white-space: nowrap;


    
  
  } /* On small screens, make items stack */


}


/* multi-date picker  */

.multidate1 {
  display: inline-block;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}


.multidate2 {
  display: inline-block;
  float: none;
  padding-left: 0px;
}

@media (max-width: 500px) {
  .multidate1 { 
    width: 30%; 
    padding-right: 0px;
    padding-bottom: 0px;
    padding-top: 30px;
    height: 80%;
    
  
  } /* On small screens, make items stack */


}

@media (max-width: 500px) {
  .multidate2 { 
    width: 30%; 
    padding-right: 0px;
    padding-bottom: 0px;
    padding-top: 30px;
    height: 80%;
    
  
  } /* On small screens, make items stack */


}


/* responsive tables */

.table tr td,table tr td{
  text-align: center;
}
@media only screen and (max-width: 500px) {

table,head,tbody,th,td,tr {
  display: block;
}



.sum-table tr{
  display: flex;
  justify-content: space-between;
  border-top: 0;
  padding-bottom: 6px;
  border-bottom: 1px solid #bfc1c3
}

.sum-table tr td{
  border-bottom: 0;
}

thead tr {
display: none;

}

.mobile-hide{
  display: none;
}

tr {
border-top: 1px solid #ccc; 
padding-top: 0px;
padding-bottom: 50px;
font-weight: normal

}




td {
border: none;
border-bottom: 1px solid #eee;
position: relative;
padding-left: 50%;
white-space: normal;
text-align:left;
min-height: 30px;
overflow: hidden;
word-break:break-all;

}
td:before {
position: absolute;
top: 6px;
left: 6px;
width: 45%;
padding-right: 10px;
text-align:left;
font-weight: bold;


}


/* Today's activity */

#a-line1 {
 
  font-weight: normal;
  background: 	#dee0e2;
  padding-left: 172px;
  padding-top: 16px;

}

#a-line1:before {

  content: "Start time: ";
  padding-left: 5px;
  padding-top: 10px;
}


#a-line2 {
 
  font-weight: normal;
  padding-left: 172px;
  padding-top: 16px;

}

#a-line2:before {

  content: "Test duration: ";
  padding-left: 5px;
  padding-top: 10px;
}

#a-line3 {
 
  font-weight: normal;
  padding-left: 172px;
  padding-top: 16px;

}

#a-line3:before {

  content: "Vehicle: ";
  padding-left: 5px;
  padding-top: 10px;
}

#a-line4 {
 
  font-weight: normal;
  padding-left: 172px;
  padding-top: 16px;
  word-break: keep-all !important;

}

#a-line4:before {

  content: "Activity: ";
  padding-left: 5px;
  padding-top: 10px;

  
}

#a-line5 {
 
  font-weight: normal;
  padding-left: 172px;
  padding-top: 16px;

}

#a-line5:before {

  content: "Pass/Fail: ";
  padding-left: 5px;
  padding-top: 10px;
}

#a-line6 {
 
  font-weight: bold;
  padding-left: 172px;
  padding-top: 16px;

}

#a-line6:before {

  content: "Net amount: ";
  padding-left: 5px;
  padding-top: 10px;
}


#home-line1 {
 
  font-weight: normal;
  text-align: left;
  padding-top: 30px;
  padding-left: 5px;

}

#home-line2 {
 
  text-align: left;
  padding-top: 16px;
  background-color: #dee0e2;
  padding-left: 5px;

}

#activity-line1 {
 
  font-weight: normal;
  background: 	#dee0e2;
  padding-left: 172px;
  padding-top: 16px;

}

#activity-line1:before {

  content: "Date: ";
  padding-left: 5px;
  padding-top: 10px;
}

#activity-line2 {
 
  font-weight: normal;
  padding-left: 172px;
  padding-top: 16px;

}

#activity-line2:before {

  content: "Item: ";
  padding-left: 5px;
  padding-top: 10px;
}



#activity-line3:before {

  content: "Details: ";
  padding-left: 5px;
  padding-top: 10px;
  padding-right: 103px;
  color: black;
 
  font-weight: bold;
}

#activity-line3 {
 
  font-weight: normal;
  padding-left: 5px;
  padding-top: 16px;
  text-decoration: none;
  
}





.collapse-line {

  display: none;

}

.pretendlink {

  color: #005EA5 !important;

}



#activity-line4 {
 
  font-weight: bold;
  padding-left: 5px;
  padding-top: 16px;
  padding-right: 70px;
  


}

#activity-line4:before {

  content: "Net amount: ";
  padding-left: 5px;
  padding-top: 10px;
  color: black;
  
}

#hidden {

  visibility: 0;

}

// #sum-line1 {
//   font-weight: bold;
//   background: 	#dee0e2;
//   text-align: left;
//   padding-left: 5px;
//   padding-top: 16px;
// }

// #sum-line1:before {
//   content: "8 ";
//   text-align: right;
//   padding-left: 160px;
//   padding-top: 12px;
// }

// #sum-line2 {
//   background: 	#dee0e2;
//   font-weight: bold;
//   text-align: left;
//   padding-left: 5px;
//   padding-top: 16px;
// }

// #sum-line2:before {
//   content: "£963.00 ";
//   text-align: right;
//   padding-left: 160px;
//   padding-top: 12px;
// }

// #sum-line3 {
//   background: 	#dee0e2;
//   font-weight: bold;
//   text-align: left;
//   padding-left: 5px;
//   padding-top: 16px;
// }

// #sum-line3:before {
//   content: "1";
//   text-align: right;
//   padding-left: 160px;
//   padding-top: 12px;
// }

// #sum-line4 {
//   background: 	#dee0e2;
//   font-weight: bold;
//   text-align: left;
//   padding-left: 5px;
//   padding-top: 16px;
// }

// #sum-line4:before {
//   content: "96%";
//   text-align: right;
//   padding-left: 160px;
//   padding-top: 12px;
// }





#transaction-line1 {
  font-weight: normal;
  text-align: right;
  background: 	#dee0e2;
  padding-left: 200px;
  padding-top: 16px;
}

#transaction-line1:before {
  content: "Test date: ";
  padding-left: 5px;
  padding-top: 10px;
}


#transaction-line2 {
  font-weight: normal;
  text-align: right !important;
  padding-left: 200px;
  padding-top: 16px;
}

#transaction-line2:before {
  content: "Time: ";
  padding-left: 5px;
  padding-top: 10px;
}



#transaction-line3 {
  font-weight: normal;
  text-align: right !important;
  padding-left: 200px;
  padding-top: 16px;
  word-break: keep-all !important;
}

#transaction-line3:before {
  content: "Activity: ";
  padding-left: 5px;
  padding-top: 10px;
}



#transaction-line4 {
  font-weight: normal;
  text-align: right !important;
  padding-left: 200px;
  padding-top: 16px;

}

#transaction-line4:before {
  content: "Registration/ID: ";
  padding-left: 5px;
  padding-top: 10px;
}



#transaction-line5 {
  font-weight: normal;
  text-align: right !important;
  padding-left: 200px;
  padding-top: 16px;
  padding-right: 50px;
}
#transaction-line5:before {
  content: "Net Amount: ";
  padding-left: 5px;
  padding-top: 10px;
}

#transaction-line6 {
  font-weight: normal;
  text-align: right !important;
  padding-left: 200px;
  padding-top: 16px;
  padding-right: 50px;
}
#transaction-line6:before {
  content: "VAT: ";
  padding-left: 5px;
  padding-top: 10px;
}

#transaction-line7 {
  font-weight: normal;
  text-align: right !important;
  padding-left: 200px;
  padding-top: 16px;
  padding-right: 50px !important;
}
#transaction-line7:before {
  content: "Total: ";
  padding-left: 5px;
  padding-top: 10px;

}

#transaction-total {
  font-weight: normal;

  padding-left: 200px;
  padding-top: 16px;
  padding-right: 50px !important;
  background: #6f777b !important;
  color:white;
}
#transaction-total:before {
  content: "Invoice total: ";
  padding-left: 5px;
  padding-top: 10px;
}


#advice-line1 {
  font-weight: normal;
  text-align: right !important;
  background: 	#dee0e2;
  padding-left: 200px;
  padding-top: 16px;
}

#advice-line1:before {
  content: "Date: ";
  padding-left: 5px;
  padding-top: 10px;
}

#advice-line2 {
  font-weight: normal;
  text-align: right !important;
  padding-left: 200px;
  padding-top: 16px;
}

#advice-line2:before {
  content: "Reference no: ";
  padding-left: 5px;
  padding-top: 10px;
}

#advice-line3 {
  font-weight: normal;
  text-align: right !important;
  padding-left: 200px;
  padding-top: 16px;
  word-break: keep-all !important;
}

#advice-line3:before {
  content: "Payment type: ";
  padding-left: 5px;
  padding-top: 10px;
}

/* rpayment advice */

#advice-total {
  font-weight: bold;
  padding-left: 200px;
  padding-top: 16px;
  padding-right: 50px !important;
}
#advice-total:before {
  content: "Total: ";
  padding-left: 5px;
  padding-top: 10px;
}


.resp-vspace{
  padding-top: 30px;


}

/*summary table*/

#summary1 {
  font-weight: bold;
  padding-left: 10px;
  padding-top: 16px;

  text-align: left;
}

.sum-table{
  
}

}


/* responsive tables */


/*text box width*/
.textwidth{
  width: 380px;

}

@media (max-width: 500px) {
  .textwidth {
    width: 320px; 

  }
}

.email01{
  font-family: Arial, Helvetica, sans-serif !important;


}

.email-body{
  font-family: Arial, Helvetica, sans-serif !important;
padding-left: 50px;


}

div.ex1 {
  width:320px;
  
  border: 0px solid #73AD21;
}


.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* cookie banner start */



/* cookie banner end */