{% extends "layout-sign-in.html" %}

{% block pageTitle %}
Password short 
{% endblock %}

<!-- Beta header -->

{% block beforeContent %}

{% from "phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
tag: {
text: "beta"
},
html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

{% endblock %}

{% block content %}
<script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
<a href="#main-content" class="govuk-skip-link">Skip to main content</a>
<script src="/govuk-frontend/all.js"></script>
<script>window.GOVUKFrontend.initAll()</script>

<body class="govuk-template__body ">
  <!-- error message start -->
   <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
   <h2 class="govuk-error-summary__title" id="error-summary-title">There is a problem</h2>
     <div class="govuk-error-summary__body">
       <ul class="govuk-list govuk-error-summary__list">
         <li>
           <!-- <a href="#tandc" style="font-weight: bold;">Password entered is one of the most commonly used on the internet. Use an alternative password</a> -->
           <a href="#password" style="font-weight: bold;">Confirm your password</a>
         </li>
       </ul>
     </div>
   </div>
  <!-- error message end -->
  
  <span class="govuk-caption-l">Create your account</span>
  <h1 class="govuk-heading-l">Create a password</h1>

  <div class="govuk-form-group">
    <label class="govuk-label" for="password">Password</label>
    <label class="govuk-caption-m">Password must be 10 characters or more, and not easily guessed</label>
    <input class="govuk-input textwidth" id="password" name="password" type="password">
  </div> 
  <div class="govuk-form-group govuk-form-group--error">
    <label class="govuk-label" for="mobile">Confirm password</label>
    <span class="govuk-error-message">
      <span class="govuk-visually-hidden">Error:</span> Confirm your password
    </span>
    <input class="govuk-input govuk-input--error textwidth" id="width-20" name="width-10" type="password">
  </div> 
  
  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
      <div class="govuk-checkboxes">
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="tandc" name="tandc" type="checkbox">
          <label class="govuk-label govuk-checkboxes__label" for="tandc">I accept the <a class="govuk-link govuk-link--no-visited-state" href="../privacy/terms-conditions.html" target="_blank">terms and conditions</a> to use this service</label>
        </div>
      </div>
    </fieldset>
  </div>

  <form method="get" action="../mfa/set-up-mobile.html">
    <button type="submit" class="govuk-button">Continue</button>
  </form>
</body>
{% endblock %}