{% extends "layout3.html" %}

{% block pageTitle %}
Set up confirmation
{% endblock %}

<!–– Beta header ––>

{% block beforeContent %}

{% from "phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
tag: {
text: "beta"
},
html: 'This is a new service – your <a class="govuk-link" href="placeholder.html">feedback</a> will help us to improve it.'
}) }}

<!–– Breadcrumbs ––>
<!-- <div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a href="../home.html" class="govuk-breadcrumbs__link">Home</a>
    </li>
  </ol>
</div> -->

{% endblock %}

{% block content %}

<!-- Headings start here -->
<body>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-panel confirmation govuk-!-margin-bottom-8">
        <h1 class="govuk-panel__title confirmation">Your account has been created</h1>
      </div>
<!-- 
      <h2 class="govuk-heading-m">What happens next</h2> -->
      <p class="govuk-body">You will need to use your registration email address and password everytime you sign in to the Manage Your Authorised Testing Facility portal.</p>

      <form method="get" action="../home.html">
        <button type="submit" class="govuk-button">Continue</button>
      </form>
    </div>
  </div>
</body>
{% endblock %}