{% extends "layout3.html" %}

{% block pageTitle %}
Account details
{% endblock %}

<!–– Beta header ––>

{% block beforeContent %}

{% from "phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
tag: {
text: "beta"
},
html: 'This is a new service – your <a class="govuk-link" href="placeholder.html">feedback</a> will help us to improve it.'
}) }}

<!–– Breadcrumbs ––>
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a href="home.html" class="govuk-breadcrumbs__link">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      Account details
    </li>
  </ol>
</div>

{% endblock %}

{% block content %}

<!-- Headings start here -->
<body>
  <span class="govuk-caption-m">Your settings</span>
  <h1 class="govuk-heading-l">Account details </h1>
  
  <ol class="govuk-list govuk-!-margin-bottom-8" style="font-size:large">
    <li class="govuk-!-margin-bottom-2"> &#8212;
      <span style="padding-left: 5px;">Your details</span>
    </li>
    <li class="govuk-!-margin-bottom-2"> &#8212;
      <a class="govuk-link govuk-link--no-visited-state" Style="padding-left: 5px;" href="change-password-email-link.html">Change password</a>
    </li>
    <!-- <li class="govuk-!-margin-bottom-2"> &#8212;
      <a class="govuk-link govuk-link--no-visited-state" Style="padding-left: 5px;" href="placeholder.html">Change security phone number</a>
    </li> -->
    <li class="govuk-!-margin-bottom-2"> &#8212;
      <a class="govuk-link govuk-link--no-visited-state" Style="padding-left: 5px;" href="register-secondary-delegate.html">Manage team members</a>
    </li>
    <li>
      <hr class="govuk-!-margin-bottom-8 govuk-!-margin-top-8">
    </li>
  </ol>

  <h1 class="govuk-fieldset__legend--m govuk-!-margin-bottom-1">Your details</h1>
  <table class="govuk-table">
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Email address</th>
        <td class="govuk-table__cell">johnsmith@atf.co.uk</td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Security phone number</th>
        <td class="govuk-table__cell">0749 4672 319</td>
      </tr>
    </tbody>
  </table>
</body>
{% endblock %}