{% extends "layout3.html" %}

{% block pageTitle %}
Search transactions
{% endblock %}

<!–– Beta header ––>

{% block beforeContent %}

{% from "phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
tag: {
text: "beta"
},
html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}


<!–– Breadcrumbs ––>
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a href="home.html" class="govuk-breadcrumbs__link">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">Search transactions</li>
    <li>
      <span class="sign-out__searchTransactions">
        <a href="sign-in.html">Sign out</a>
      </span>
    </li>
  </ol>
</div>
{% endblock %}

{% block content %}
<span class="govuk-caption-m">P57832 Scania Lincoln</span>
<h1 class="govuk-heading-l govuk-!-margin-bottom-8">Account activity</h1>
<thead class="govuk-table__head">
<body class="govuk-template__body ">
<a href="#main-content" class="govuk-skip-link">Skip to main content</a>
<script src="/govuk-frontend/all.js"></script>
<script>window.GOVUKFrontend.initAll()</script>

<div class="govuk-form-group marginTopRemoved">
  <hr class="govuk-!-margin-bottom-8"> 
  <ol class="govuk-list govuk-!-margin-bottom-8" style="font-size:large">
    <li style="margin-bottom: 10px;"> &#8212;
      <a class="govuk-link govuk-link--no-visited-state" Style="padding-left: 5px;" href="account-activity-prefunded-balance.html">Pre-funded account balance</a></li>
    <li style="margin-bottom: 10px;"> &#8212;
      <span class="govuk-link govuk-link--no-visited-state" Style="padding-left: 5px;" href="#jump-link">Search transactions</span>
    </li>
  </ol>
  <hr>
</div> 

<h1 class="govuk-fieldset__legend--m" id="jump-link">Search transactions</h1>      
<!–– Radios START ––>
<div class="govuk-radios govuk-radios--conditional" data-module="radios">
<!–– Single selection START ––>
  <form action="../">
    <fieldset style="border-style: hidden;">
<!–– Single date radio button START ––>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="how-contacted-conditional-1" name="radioselection" type="radio" value="invoice-4jan" data-aria-controls="conditional-how-contacted-conditional-1">
        <label class="govuk-label govuk-radios__label" for="how-contacted-conditional-1">Select a single date</label>
      </div>

      <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-how-contacted-conditional-1">
<!–– dropdown ––>
        <span id="dob-hint" class="govuk-hint">For example, 31 3 1980</span>
          <div class="govuk-date-input" id="dob">
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="dob-day">Day</label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dob-day" name="dob-day" type="number" pattern="[0-9]*">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="dob-month">Month</label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dob-month" name="dob-month" type="number" pattern="[0-9]*">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="dob-year">Year</label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="dob-year" name="dob-year" type="number" pattern="[0-9]*">
              </div>
            </div>
          </div>
<!–– dropdown ––>
      </div>

<!–– Long period selection START ––>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="how-contacted-conditional-2" name="radioselection" type="radio" value="myatf-account.html" data-aria-controls="conditional-how-contacted-conditional-2">
        <label class="govuk-label govuk-radios__label" for="how-contacted-conditional-2">Select a longer period of time</label>
      </div>
      <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-how-contacted-conditional-2">
<!–– Long period selection END ––>

<!–– From START ––>
        <div id="divdate21" class="multidate1">
          <span id="dob-hint" class="govuk-hint">
            <strong class="bold-small" style="color:black">From:</strong><br />for example, 31 3 2017
          </span>
              
          <div class="govuk-date-input">
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="dob-day">Day</label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dob-day" name="dob-day" type="number" pattern="[0-9]*">
              </div>
            </div>
                        
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="dob-month">Month</label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dob-month" name="dob-month" type="number" pattern="[0-9]*">
              </div>
            </div>
            
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="dob-year">Year</label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="dob-year" name="dob-year" type="number" pattern="[0-9]*">
              </div>
            </div>
          </div>
        </div>
<!–– From End ––>

<!–– To START ––>
        <div id="divdate22" class="mult1date2">
          <span id="divtitle2" class="govuk-hint">
            <strong class="bold-small" style="color:black">To:</strong> <br />for example, 31 3 2018
          </span>
          <div class="govuk-date-input" id="divdate2">
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="dob-day">Day</label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dob-day" name="dob-day" type="number" pattern="[0-9]*">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="dob-month">Month</label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dob-month" name="dob-month"
              type="number" pattern="[0-9]*">
              </div>
            </div>

            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="dob-year">Year</label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="dob-year" name="dob-year"type="number" pattern="[0-9]*">
              </div>
            </div>
          </div>
        </div>
<!–– To END ––>
<!–– multit-date dropdown END ––>

      </div>  
      <div>
        <p class="v-space10">space</p>
      </div>
      <input type="button" class="govuk-button" value="Show transactions" onclick="ob=this.form.radioselection;for(i=0;i<ob.length;i++){if(ob[i].checked){window.open(ob[i].value,'_self');};}" />
    </fieldset>
  </form>
</div>
<!–– Search button ––>
</body>
{% endblock %}