{% extends "layout-sign-in.html" %}

{% block pageTitle %}
Change your security phone number
{% endblock %}

<!–– Beta header ––>

{% block beforeContent %}

{% from "phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
tag: {
text: "beta"
},
html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}


<!–– Breadcrumbs ––>
<a href="account-details-v2.html" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
<a href="#main-content" class="govuk-skip-link">Skip to main content</a>
<script src="/govuk-frontend/all.js"></script>
<script>window.GOVUKFrontend.initAll()</script>

<body class="govuk-template__body ">
  <span class="govuk-caption-l">Your settings</span>
  <h1 class="govuk-heading-l">Change your phoneNumber</h1>
    
  <div class="govuk-form-group">
    <label class="govuk-label" for="phoneNumber">Existing mobile number</label>
    <input class="govuk-input textwidth govuk-!-margin-bottom-6" id="phoneNumber" name="phoneNumber" type="text" >
    
    <label class="govuk-label" for="phoneNumber">New mobile number</label>
    <label class="govuk-caption-m">Your phoneNumber must be 10 characters or more.</label>
    <input class="govuk-input textwidth govuk-!-margin-bottom-6" id="phoneNumber" name="phoneNumber" type="text" >
      
    <label class="govuk-label" for="mobile">Confirm new mobile number</label>
    <input class="govuk-input textwidth" id="width-20" name="width-10" type="text">
  </div> 

  <form method="get" action="create-your-account.html">
    <button type="submit" class="govuk-button">Continue</button>
  </form>
</body>
{% endblock %}