{% extends "layout-sign-in.html" %}

{% block pageTitle %}
Identity Verification
{% endblock %}

<!–– Beta header ––>

{% block beforeContent %}

{% from "phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
tag: {
text: "beta"
},
html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}


<!–– Breadcrumbs ––>
<a href="change-password-email-link.html" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
<a href="#main-content" class="govuk-skip-link">Skip to main content</a>
<script src="/govuk-frontend/all.js"></script>
<script>window.GOVUKFrontend.initAll()</script>

<body class="govuk-template__body ">
  <span class="govuk-caption-l">Change your password</span>
  <h1 class="govuk-heading-l">Check your email</h1> 
  
  <p class="govuk-body">We've sent a verification code to your email address, enter it below.</p>
  
  <div class="govuk-form-group">  
    <label class="govuk-label" for="securitycode">Verification code</label>
    <input class="govuk-input govuk-input--width-5" id="securitycode" name="width-5" type="text">
  </div> 

  <form method="get" action="change-your-password.html">
    <button type="submit" class="govuk-button">Continue</button>
  </form>
  
  <p class="govuk-body">
    <a class="govuk-link" href="change-password-email-link.html">Resend code</a>
  </p>
</body>
{% endblock %}
