{% extends "layout-sign-in.html" %}

{% block pageTitle %}
Create account - Password match error
{% endblock %}

<!–– Beta header ––>

{% block beforeContent %}

{% from "phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
tag: {
text: "beta"
},
html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}


<!–– Breadcrumbs ––>
<a href="sign-in.html" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
<a href="#main-content" class="govuk-skip-link">Skip to main content</a>
<script src="/govuk-frontend/all.js"></script>
<script>window.GOVUKFrontend.initAll()</script>

<body class="govuk-template__body ">
<!–– error message start ––>  
  <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
  <h2 class="govuk-error-summary__title" id="error-summary-title">There is a problem</h2>
    <div class="govuk-error-summary__body">
      <ul class="govuk-list govuk-error-summary__list">
        <li>
          <a href="#confirmpassword" style="font-weight: bold;">Passwords do not match</a>
        </li>
      </ul>
    </div>
  </div>
<!–– error message end ––>  
  <span class="govuk-caption-l">Create your account</span>
  <h1 class="govuk-heading-l">Create a password</h1>  

  <p class="govuk-body govuk-!-font-weight-bold">You will use this everytime you sign in.</p>
  
  <div class="govuk-form-group">
    <label class="govuk-label" for="password">Password</label>
    <label class="govuk-caption-m govuk-!-margin-bottom-2">Your password must be 10 characters or more.</label>
    <input class="govuk-input textwidth" id="password" name="password" type="password" aria-describedby="mobile">
  </div> 
  <div class="govuk-form-group govuk-form-group--error">  
    <label class="govuk-label" for="confirmpassword">Confirm password</label>
    <span class="govuk-error-message">
      <span class="govuk-visually-hidden">Error:</span> Passwords do not match
    </span>
    <input class="govuk-input govuk-input--error textwidth" id="confirmpassword" name="width-10" type="password">
  </div> 
  
  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
      <div class="govuk-checkboxes">
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="tandc" name="tandc" type="checkbox" value="carcasses">
          <label class="govuk-label govuk-checkboxes__label" for="tandc">I agree to the <a href="terms-conditions.html" target="_blank">terms and conditions</a></label>
        </div>
      </div>
    </fieldset>
  </div>

  <form method="get" action="create-your-account.html">
    <button type="submit" class="govuk-button">Continue</button>
  </form>
</body>
{% endblock %}
