{% extends "layout3.html" %}

{% block pageTitle %}
Create your account
{% endblock %}

<!–– Beta header ––>

{% block beforeContent %}

{% from "phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
tag: {
text: "beta"
},
html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}


<!–– Breadcrumbs ––>
<div class="govuk-breadcrumbs">
  <a href="create-your-account-password.html" class="govuk-back-link">Back</a>
</div>

{% endblock %}

{% block content %}
<script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
<a href="#main-content" class="govuk-skip-link">Skip to main content</a>
<script src="/govuk-frontend/all.js"></script>
<script>window.GOVUKFrontend.initAll()</script>

<body class="govuk-template__body ">
  <h1 class="govuk-caption-l" style="margin-bottom: 2px">Create your account</h1>
  <p class="govuk-heading-l">Enter your mobile phone number</p>
  <p class="v-space10">space</p>
  <p class="govuk-heading-s">You will get a code sent to this number every time you sign in.</p>
  <div class="govuk-form-group govuk-form-group--error">
    <label class="govuk-label" for="width-20">Mobile number</label>
    <span class="govuk-error-message">Enter a valid U mobile phone number, like 07700 900 982 or +44 7700 900 923</span>
    <input class="govuk-input govuk-input--width-20 govuk-input--error" id="width-20" name="width-10" type="text">
  </div>

  <div>
    <p class="v-space10">space</p>
  </div>
  <form method="get" action="multi-factor-authentication.html">
    <button type="submit" class="govuk-button">Continue</button>
  </form>
</body>

  </html>
  {% endblock %}
