{% extends "layout3.html" %}

{% block pageTitle %}
Create your account
{% endblock %}

<!–– Beta header ––>

{% block beforeContent %}

{% from "phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
tag: {
text: "beta"
},
html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}


<!–– Breadcrumbs ––>


{% endblock %}

{% block content %}
<script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
<a href="#main-content" class="govuk-skip-link">Skip to main content</a>
<script src="/govuk-frontend/all.js"></script>
<script>window.GOVUKFrontend.initAll()</script>

<body class="govuk-template__body ">
  <h1 class="govuk-heading-l" style="margin-bottom: 2px">Create your account</h1>
  <p class="v-space10">space</p>
  
  <!–– error message start ––>
    <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
      <h2 class="govuk-error-summary__title" id="error-summary-title">There is a problem</h2>
      <div class="govuk-error-summary__body">
        <ul class="govuk-list govuk-error-summary__list">
          <li>
            <span style="font-weight: bold; color: #B10E1E">Your passwords do not match</span>
          </li>
        </ul>
      </div>
    </div>
  <!–– error message end ––>    
  
  <p class="govuk-heading-m">Create a password</p>
  <p class="govuk-heading-s">You will use this everytime you sign in.</p>
  <div class="govuk-inset-text">
    Your password must be more than 10 characters.
  </div>
  <p class="v-space10">space</p>
  <div class="govuk-form-group">
    <label class="govuk-label" for="width-20">Password</label>
    <input class="govuk-input govuk-input--width-20" id="width-20" name="width-10" type="password" value="password">
  </div>
  <div class="govuk-form-group govuk-form-group--error">
    <label class="govuk-label" for="width-20">Confirm password</label>
    <span class="govuk-error-message">Passwords need to match</span>
    <input class="govuk-input govuk-input--error govuk-input--width-20" id="width-20" name="width-10" type="password" value="password">
  </div>
  
  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
      <div class="govuk-checkboxes">
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="waste-1" name="waste" type="checkbox" value="carcasses">
          <label class="govuk-label govuk-checkboxes__label" for="waste-1">I agree to the <a href="placeholder.html">terms and conditions</a> of the MyATF service</label>
        </div>
      </div>
    </fieldset>
  </div>

  <div>
    <p class="v-space10">space</p>
  </div>
  <form method="get" action="home.html">
    <button type="submit" class="govuk-button">Continue</button>
  </form>
</body>

  </html>
  {% endblock %}
