{% extends "layout-sign-in.html" %}

{% block pageTitle %}
Create your account
{% endblock %}

<!–– Beta header ––>

{% block beforeContent %}

{% from "phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
tag: {
text: "beta"
},
html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}


<!–– Breadcrumbs ––>
  <a href="create-your-account-password.html" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
<a href="#main-content" class="govuk-skip-link">Skip to main content</a>
<script src="/govuk-frontend/all.js"></script>
<script>window.GOVUKFrontend.initAll()</script>

<body class="govuk-template__body ">
<!–– error message start ––> 
  <div class="govuk-error-summary govuk-!-margin-bottom-8" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
  <h2 class="govuk-error-summary__title" id="error-summary-title">There is a problem</h2>
    <div class="govuk-error-summary__body">
      <ul class="govuk-list govuk-error-summary__list">
        <li>
          <a href="#mobile" style="font-weight: bold;">Enter a valid UK mobile phone number, like 07700 900 982 or +44 7700 900 923</a>
        </li>
      </ul>
    </div>
  </div>
<!–– error message end ––>    
  <span class="govuk-caption-l">Create your account</span>
  <h1 class="govuk-heading-l">Enter your mobile phone number</h1>  
  
  <p class="govuk-body govuk-!-font-weight-bold">You will get a code sent to this number every time you sign in.</p>
  
  <div class="govuk-form-group govuk-form-group--error">
    <label class="govuk-label" for="mobile">Mobile number</label>
    <span id="email-error" class="govuk-error-message">
      <span class="govuk-visually-hidden">Error:</span> Enter a valid UK mobile phone number, like 07700 900 982 or +44 7700 900 923
    </span>
    <input class="govuk-input govuk-input--error textwidth" id="mobile" name="mobile" type="text" aria-describedby="mobile-error">
  </div> 

  <form method="get" action="multi-factor-authentication.html">
    <button type="submit" class="govuk-button">Continue</button>
  </form>
</body>

{% endblock %}
