{% extends "layout3.html" %}

{% block pageTitle %}
Withdrawal invoice
{% endblock %}

<!–– Beta header ––>

{% block beforeContent %}

{% from "phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
tag: {
text: "beta"
},
html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}


<!–– Breadcrumbs ––>

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="home.html">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="account-activity-prefunded-balance.html">Account activity</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="account-activity-search.html">Search historic transactions</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="transactions-all-results-multiple.html">Historic transactions</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link">Withdrawal receipt</a>
    </li>
  </ol>
</div>
{% endblock %}

{% block content %}
<thead class="govuk-table__head">
<body class="govuk-template__body ">
<a href="#main-content" class="govuk-skip-link">Skip to main content</a>
<script src="/govuk-frontend/all.js"></script>
<script>window.GOVUKFrontend.initAll()</script>

  <!-- Local nav and header ENDS here -->    
  <span class="govuk-caption-m">P57832 Scania Lincoln</span>
  <h1 class="govuk-heading-l govuk-!-margin-bottom-1">Withdrawal receipt</h1>
  <p class="govuk-body govuk-!-margin-bottom-4">Transaction number: INV-20203001-1B2A </p>

  <p>
    <a href="placeholder.html" class="govuk-body govuk-link govuk-link--no-visited-state">Print receipt (PDF, 53KB)</a>
  </p>

  <h1 class="govuk-heading-m govuk-!-margin-bottom-1">£1,000.00</h1>
  <p class="govuk-body govuk-!-margin-bottom-4">Withdrawn on 9 March 2020</p>

  <table class="govuk-table govuk-!-margin-bottom-8">
    <p class="govuk-heading-m">Payee details</p>
    <tbody class="govuk-table__body">
      <hr class="govuk-!-margin-bottom-1">
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header govuk-!-width-one-half">Supplier</th>
        <td class="govuk-table__cell">DVSA</td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header govuk-!-width-one-half">Address</th>
        <td class="govuk-table__cell">Ellipse, Padley Road, Swansea SA18AN</td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header govuk-!-width-one-half">VAT number</th>
        <td class="govuk-table__cell">989 212 656</td>
      </tr>
    </tbody>
  </table>

  <table class="govuk-table govuk-!-margin-bottom-8">
    <p class="govuk-heading-m">Customer details</p>
    <tbody class="govuk-table__body">
      <hr class="govuk-!-margin-bottom-1">
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header govuk-!-width-one-half">Customer</th>
        <td class="govuk-table__cell">Mike Thomas</td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header govuk-!-width-one-half">Authorised Testing Facility</th>
        <td class="govuk-table__cell">Scania Lincoln</td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header govuk-!-width-one-half">Address</th>
        <td class="govuk-table__cell">Plot 5, Whisby Way, Whisby Road Industrial Estate, Lincoln LN6 3LQ</td>
      </tr>
    </tbody>
    
    <table class="govuk-table govuk-!-margin-bottom-8">
      <p class="govuk-heading-m">Withdrawal details</p>
      <tbody class="govuk-table__body">
        <hr class="govuk-!-margin-bottom-1">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header govuk-!-width-one-half">Status</th>
          <td class="govuk-table__cell">Successful</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header govuk-!-width-one-half">Payment reference</th>
          <td class="govuk-table__cell">230</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header govuk-!-width-one-half">Amount</th>
          <td class="govuk-table__cell">£1,000.00</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header govuk-!-width-one-half">Withdrawal date</th>
          <td class="govuk-table__cell">9 March 2020</td>
        </tr>
      </tbody>
    </table>
</body>
{% endblock %}