{% extends "layout3.html" %}

{% block pageTitle %}
Landing page
{% endblock %}

{% block beforeContent %}

{% from "phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
tag: {
text: "beta"
},
html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

{% endblock %}

{% block content %}
<div class="govuk-width-container">  
  <h1 class="govuk-heading-l">Manage your Authorised Testing Facility</h1>

  <p class="govuk-body">Sign in to your account to:</p>

  <ul class="govuk-list govuk-list--bullet">
    <li>Top up Pre-Funded Account</li>
    <li>Reconiliating DVSA tests and charges</li>
    <li>Monitor Pre-Funded Account Balance</li>
    <li>Monitor spending and invoices</li>
    <li>Manage the testing lane</li>
  </ul>
  
  <p class="govuk-body">You must be registered to an Authorised Testing Facility to access this service.</p>
  
  <h2 class="govuk-heading-m">Before you start</h2>

  <p class="govuk-body govuk-!-margin-bottom-8">Create an account at
    <a class="govuk-link govuk-link--no-visited-state" href="https://www.access.service.gov.uk/registration/email">https://website.co.uk/</a>.
  </p>

  <a href="sign-in/enter-personal-details.html" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
    Start now
    <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
      <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
    </svg>
  </a>
  
  
</div>
{% endblock %}