{% extends "layout3.html" %}

{% block pageTitle %}
Identity Verification
{% endblock %}

<!–– Beta header ––>

{% block beforeContent %}

{% from "phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
tag: {
text: "beta"
},
html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}


<!–– Breadcrumbs ––>
<div class="govuk-breadcrumbs">
  <a href="sign-in.html" class="govuk-back-link">Back</a>
</div>

{% endblock %}

{% block content %}
<script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
<a href="#main-content" class="govuk-skip-link">Skip to main content</a>
<script src="/govuk-frontend/all.js"></script>
<script>window.GOVUKFrontend.initAll()</script>

<body class="govuk-template__body ">
  <h1 class="govuk-heading-l" style="margin-bottom: 2px">How would you like to receive<br> your security code?</h1>
  <p class="v-space10">space</p>
  <div class="govuk-form-group govuk-!-padding-bottom-5">
    <fieldset class="govuk-fieldset">
      <div class="govuk-radios">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="where-do-you-live" name="where-do-you-live" type="radio" value="england">
          <label class="govuk-label govuk-radios__label" for="where-do-you-live">
            SMS text to 07*****88
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="where-do-you-live-2" name="where-do-you-live" type="radio" value="scotland">
          <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
            Phone call to 020*****452
          </label>
        </div>
    </fieldset>
  </div>

  <!-- <p class="v-space10">space</p> -->

  <form method="get" action="multi-factor-authentication-code.html">
    <button type="submit" class="govuk-button govuk-button__callPhone">Continue</button>
  </form>

  <!--   
  <p class="govuk-body">In order to keep your information secure, we need to authenticate you.
    <span class="govuk-hint">To do this, we can send you a code via SMS text or phone call to the following number.</span>  
  </p>
  
  <br>
  
  <div class="govuk-form-group">
    <label class="govuk-label" for="width-20">Phone number</label>
    <input class="govuk-input govuk-input--width-10" id="width-10" name="width-10" type="text" placeholder="07** **** 482" disabled>
  </div>
  
  <form method="get" action="multi-factor-authentication-code.html">
    <button type="submit" class="govuk-button govuk-button__sendText">Send text</button>
  </form>
  
  <form method="get" action="multi-factor-authentication-code.html">
    <button type="submit" class="govuk-button govuk-button__callPhone">Call phone</button>
  </form>
  
  <br>
  <a class="govuk-link" href="sign-in.html">Cancel</a> -->
</body>

  </html>
  {% endblock %}
