{% extends "layout3.html" %}

{% block pageTitle %}
Account activity - Error Balance
{% endblock %}

<!–– Beta header ––>

{% block beforeContent %}

{% from "phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
tag: {
text: "beta"
},
html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}


<!-- Breadcrumbs -->
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a href="home.html" class="govuk-breadcrumbs__link">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">Account activity</li>
  </ol>
</div>
{% endblock %}

{% block content %}
<!-- Headings start here -->

<div class="govuk-width-container">
<!-- Local nave and header STARTS here -->
  <span class="govuk-caption-m">P57832 Scania Lincoln</span>
  <h1 class="govuk-heading-l">Account activity</h1>
<!-- links start here -->
  <ol class="govuk-list">
    <li> &#8212;
      <span style="padding-left: 5px;">Pre-funded account balance</span>
    </li>
    <li> &#8212;
      <a class="govuk-link govuk-link--no-visited-state" Style="padding-left: 5px;" href="account-activity-search.html">Search historic transactions</a>
    </li>
    <li> &#8212;
      <a class="govuk-link govuk-link--no-visited-state" Style="padding-left: 5px;" href="#">Top up account</a>
    </li>
  </ol>  
  <br>
  <hr class="govuk-!-margin-bottom-8">
<!-- Local nav and header ENDS here -->

<!-- Table starts here -->
  <table class="govuk-table sum-table" id="summary1">
    <h1 class="govuk-fieldset__legend--m govuk-!-margin-bottom-6">
      <span id="summary-table">Pre-funded account balance</span>
    </h1> 
    
    <div class="govuk-warning-text atf-warning-background--colour panel panel-border-wide panel-border-color--red">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-warning-text__assistive">Warning</span>Your account balance has fallen below £0.00. To avoid future visits being cancelled, <a href="top-up.html" class="govuk-link--no-visited-state">top up now.</a>
      </strong>
    </div>
    
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <br>
      </tr>
    </thead>

    <tbody class="govuk-table__body" id="summary1">
      <tr class="govuk-table__row">
        <td class="govuk-table__cell govuk-!-font-weight-bold error-color" id="sum-line1" scope="row">Current balance</td>
        <td class="govuk-table__cell govuk-table__cell--numeric govuk-!-font-weight-bold error-color">-£134.00</td>
      </tr>

      <tr class="govuk-table__row">
        <td class="govuk-table__cell" id="sum-line2" scope="row" >
          <a href="todays-completed-tests-charged.html">Most recent testing total (inc. VAT)</a>
          <br>
          <span class="govuk-body-s">Was charged on completion of latest tests</span>
        </td>
        <td class="govuk-table__cell govuk-table__cell--numeric">£973.00</td>
      </tr>
    </tbody>
  </table>
</div>
{% endblock %}