{% extends "layout-sign-in.html" %}

{% block pageTitle %}
You do not have access to this service
{% endblock %}

<!–– Beta header ––>

{% block beforeContent %}

{% from "phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
tag: {
text: "beta"
},
html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
<!-- Breadcrumbs -->
{% endblock %}

{% block content %}
<!-- Headings start here -->
<body> 
  <h1 class="govuk-heading-l">You do not have access to this service</h1>
  
  <p class="govuk-body">If you think you should be able to view the 'Manage Your Authorised Testing Facility' portal, contact your team administrator.</p>
  <form method="get" action="sign-in.html">
    <button type="submit" class="govuk-button">Try and sign in again</button>
  </form> 
</body>
{% endblock %}