{% extends "layout3.html" %}

{% block pageTitle %}
Invite a team member
{% endblock %}

<!–– Beta header ––>

{% block beforeContent %}

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
tag: {
text: "beta"
},
html: 'This is a new service – your <a class="govuk-link" href="placeholder.html">feedback</a> will help us to improve it.'
}) }}

<!–– Breadcrumbs ––>
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a href="home.html" class="govuk-breadcrumbs__link">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a href="register-secondary-delegate.html" class="govuk-breadcrumbs__link">Team member</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      Invite a team member
    </li>
    <li>
      <span class="sign-out">
        <a href="sign-in.html">Sign out</a>
      </span>
    </li>
  </ol>
</div>

<a href="register-secondary-delegate.html" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

<!-- Headings start here -->
<body>
  <span class="govuk-caption-m">P57832 Scania Lincoln</span>
  <h1 class="govuk-heading-l">Invite a team member</h1>  
    
  <div class="govuk-form-group">
    <label class="govuk-label" for="mobile">Name</label>
    <input class="govuk-input textwidth govuk-!-margin-bottom-6" id="name" name="name" type="text" aria-describedby="name">
    
    <label class="govuk-label" for="mobile">Email</label>
    <input class="govuk-input textwidth" id="email" name="email" type="text" aria-describedby="email">
  </div>

  <form method="get" action="register-secondary-delegate-confirmation.html">
    <button type="submit" class="govuk-button">Send invite</button>
  </form>
</body>
{% endblock %}