{% extends "layout3.html" %}

{% block pageTitle %}
Password matching error
{% endblock %}

<!–– Beta header ––>

{% block beforeContent %}

{% from "phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
tag: {
text: "beta"
},
html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}


<!–– Breadcrumbs ––>


{% endblock %}

{% block content %}
<script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
<a href="#main-content" class="govuk-skip-link">Skip to main content</a>
<script src="/govuk-frontend/all.js"></script>
<script>window.GOVUKFrontend.initAll()</script>
<body class="govuk-template__body">
  <h1 class="govuk-heading-l" style="margin-bottom: 2px">Choose your new password</h1>
  
  <!–– error message start ––>
    <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
      <h2 class="govuk-error-summary__title" id="error-summary-title">There is a problem</h2>
      <div class="govuk-error-summary__body">
        <ul class="govuk-list govuk-error-summary__list">
          <li>
            <span style="font-weight: bold; color: #B10E1E">Your passwords do not match</span>
          </li>
        </ul>
      </div>
    </div>
  <!–– error message end ––> 
  
  <p class="v-space10">space</p>
  <div class="govuk-inset-text">
    <p>Your password must:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>be more than 10 characters</li>
      <li>contain at least one letter (a-z)</li>
      <li>contain at least two numbers (0-9)</li>
      <li>not contain the word password, your name, or date of birth</li>
    </ul>
  </div>

  <p class="v-space10">space</p>
  <div class="govuk-form-group">
    <label class="govuk-label" for="width-20">New password</label>
    <input class="govuk-input govuk-input--width-20" id="width-20" name="width-10" type="password" value="password">
  </div>  
  <div class="govuk-form-group govuk-form-group--error">
    <label class="govuk-label" for="width-20">Confirm new password</label>
    <span class="govuk-error-message">Passwords need to match</span>
    <input class="govuk-input govuk-input--error govuk-input--width-20" id="width-20" name="width-10" type="password" value="password">
  </div>
  <form method="get" action="pass-recover-email.html">
    <button type="submit" class="govuk-button">Submit</button>
  </form>

  <p class="v-space10">space</p>
  <ul class="govuk-list">
    <li>
      <a class="govuk-link" href="sign-in.html">cancel</a>
    </li>
  </ul>
</body>

  </html>
  {% endblock %}
