{% extends "layout3.html" %}

{% block pageTitle %}
Reset password - short error
{% endblock %}

<!–– Beta header ––>

{% block beforeContent %}

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
tag: {
text: "beta"
},
html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}


<!–– Breadcrumbs ––>
<a href="reset-password-email-link.html" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
<a href="#main-content" class="govuk-skip-link">Skip to main content</a>
<script src="/govuk-frontend/all.js"></script>
<script>window.GOVUKFrontend.initAll()</script>

<body class="govuk-template__body">
<!–– error message start ––>
  <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
  <h2 class="govuk-error-summary__title" id="error-summary-title">There is a problem</h2>
    <div class="govuk-error-summary__body">
      <ul class="govuk-list govuk-error-summary__list">
        <li>
          <a href="#password" style="font-weight: bold;">Enter a password 10 characters or more</a>
        </li>
      </ul>
    </div>
  </div>
<!–– error message end ––> 

  <span class="govuk-caption-l">Reset your password</span>
  <h1 class="govuk-heading-l">Create a password</h1>
  
  <div class="govuk-form-group govuk-form-group--error">
    <label class="govuk-label" for="password">New password</label>
    <label class="govuk-caption-m govuk-!-margin-bottom-1">Your password must be 10 characters or more.</label>
    <span class="govuk-error-message">
      <span class="govuk-visually-hidden">Error:</span> Enter a password 10 characters or more
    </span>
    <input class="govuk-input govuk-input--error textwidth" id="password" name="password" type="password" aria-describedby="mobile">
  </div> 
  <div class="govuk-form-group">  
    <label class="govuk-label" for="confirmpassword">Confirm new password</label>
    <input class="govuk-input textwidth" id="confirmpassword" name="width-10" type="password">
  </div> 
  
  <form method="get" action="pass-recover-email.html">
    <button type="submit" class="govuk-button">Continue</button>
  </form>

  <p class="govuk-body">
    <a class="govuk-link" href="sign-in.html">Cancel</a>
  </p>
</body>
{% endblock %}