{% extends "layout-sign-in.html" %}

{% block pageTitle %}
Reset password - Confirmation
{% endblock %}

<!–– Beta header ––>
F
{% block beforeContent %}

{% from "phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
tag: {
text: "beta"
},
html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}


<!–– Breadcrumbs ––>
<a href="reset-password.html" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
<a href="#main-content" class="govuk-skip-link">Skip to main content</a>
<script src="/govuk-frontend/all.js"></script>
<script>window.GOVUKFrontend.initAll()</script>

<body class="govuk-template__body">
  <span class="govuk-caption-l">Reset your password</span>
  <h1 class="govuk-heading-l">Your password has been changed</h1>
  
  <p class="govuk-body">Please sign in with your new password to manage your Authorised Testing Facility.</p>

  <form method="get" action="sign-in.html">
    <button type="submit" class="govuk-button">Sign in</button>
  </form>
</body>
{% endblock %}
