{% extends "layout3.html" %}

{% block pageTitle %}
password 01
{% endblock %}

<!–– Beta header ––>

{% block beforeContent %}

{% from "phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
tag: {
text: "beta"
},
html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}


<!–– Breadcrumbs ––>


{% endblock %}

{% block content %}
<script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
<a href="#main-content" class="govuk-skip-link">Skip to main content</a>
<script src="/govuk-frontend/all.js"></script>
<script>window.GOVUKFrontend.initAll()</script>
<body class="govuk-template__body">
  <h1 class="govuk-heading-l" style="margin-bottom: 2px">Your password has been reset</h1>
  <p class="v-space10">space</p>
  <p>Please sign in with your new password to manage your Authorised Testing Facility</p>

  <p class="v-space10">space</p>
  <form method="get" action="sign-in.html">
    <button type="submit" class="govuk-button">Sign In</button>
  </form>

  <p class="v-space10">space</p>
  <ul class="govuk-list">
    <li>
      <a class="govuk-link" href="sign-in.html">cancel</a>
    </li>
  </ul>
</body>

  </html>
  {% endblock %}
