{% extends "layout3.html" %}

{% block pageTitle %}
Reset password - Email link
{% endblock %}

<!–– Beta header ––>

{% block beforeContent %}

{% from "phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
tag: {
text: "beta"
},
html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}


<!–– Breadcrumbs ––>
<a href="sign-in.html" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
<a href="#main-content" class="govuk-skip-link">Skip to main content</a>
<script src="/govuk-frontend/all.js"></script>
<script>window.GOVUKFrontend.initAll()</script>

<body class="govuk-template__body">
  <span class="govuk-caption-l">Reset your password</span>
  <h1 class="govuk-heading-l">Enter your email address</h1>
  
  <p class="govuk-body govuk-!-font-weight-bold">Enter your MYATF email address below to be sent a password reset link</p>
  
  <div class="govuk-form-group">
    <label class="govuk-label" for="email">Email address</label>
    <input class="govuk-input textwidth" id="email" name="email" type="text">
  </div> 

  <form method="get" action="reset-password.html">
    <button type="submit" class="govuk-button">Send email</button>
  </form>
</body>
{% endblock %}
