{% extends "layout3.html" %}

{% block pageTitle %}
reset password
{% endblock %}

<!–– Beta header ––>

{% block beforeContent %}

{% from "phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
tag: {
text: "beta"
},
html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}


<!–– Breadcrumbs ––>
<div class="govuk-breadcrumbs">
  <a href="reset-password-email-link.html" class="govuk-back-link">Back</a>
</div>

{% endblock %}

{% block content %}
<script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
<a href="#main-content" class="govuk-skip-link">Skip to main content</a>
<script src="/govuk-frontend/all.js"></script>
<script>window.GOVUKFrontend.initAll()</script>
<body class="govuk-template__body">
  <h1 class="govuk-heading-l" style="margin-bottom: 2px">Reset your password</h1>
  <p class="v-space10">space</p>
  <div class="govuk-form-group">
    <label class="govuk-label" for="width-20">New password</label>
    <label class="govuk-caption-m govuk-!-padding-bottom-2">Your password must be 10 characters or more.</label>
    <input class="govuk-input govuk-input--width-20" id="width-20" name="width-10" type="password">
    <p class="v-space10">space</p>
    <label class="govuk-label" for="width-20">Confirm new password</label>
    <input class="govuk-input govuk-input--width-20" id="width-20" name="width-10" type="password">
  </div>
  <form method="get" action="pass-recover-email.html">
    <button type="submit" class="govuk-button">Contine</button>
  </form>
  <ul class="govuk-list">
    <li>
      <a class="govuk-link" href="sign-in.html">Cancel</a>
    </li>
  </ul>
</body>

  </html>
  {% endblock %}
