{% extends "layout3.html" %}

{% block pageTitle %}
Sign in
{% endblock %}

<!–– Beta header ––>

{% block beforeContent %}

{% from "phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
tag: {
text: "beta"
},
html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}


<!–– Breadcrumbs ––>


{% endblock %}

{% block content %}
<script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
<a href="#main-content" class="govuk-skip-link">Skip to main content</a>
<script src="/govuk-frontend/all.js"></script>
<script>window.GOVUKFrontend.initAll()</script>

<body class="govuk-template__body ">
  <h1 class="govuk-heading-l govuk-!-margin-bottom-8">Sign in</h1> 
  
  <div class="govuk-form-group  govuk-!-margin-bottom-6">
    <label class="govuk-label" for="email">Email address</label>
    <input class="govuk-input textwidth govuk-!-margin-bottom-6" id="email" name="email" type="text" aria-describedby="email-error">
    
    <label class="govuk-label" for="password">Password</label>
    <input class="govuk-input textwidth" id="password" name="password" type="text" aria-describedby="password-error">
  </div> 

  <form class="govuk-!-margin-bottom-5" method="get" action="home.html">
    <button type="submit" class="govuk-button">Continue</button>
  </form>

  <h2 class="govuk-heading-m">Problems signing in</h2>
  <ul class="govuk-list">
    <li class="govuk-!-padding-bottom-2">
      <a class="govuk-link" href="reset-password.html">I have forgotten my login email</a>
    </li>
    <li>
      <a class="govuk-link" href="reset-password.html">I have forgotten my login password</a>
    </li>
  </ul>
</body>

  </html>
  {% endblock %}
