{% extends "layout3.html" %}

{% block pageTitle %}
Sign in error
{% endblock %}

<!–– Beta header ––>

{% block beforeContent %}

{% from "phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
tag: {
text: "beta"
},
html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}


<!–– Breadcrumbs ––>


{% endblock %}

{% block content %}
<script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

<a href="#main-content" class="govuk-skip-link">Skip to main content</a>
<script src="/govuk-frontend/all.js"></script>
<script>window.GOVUKFrontend.initAll()</script>

<body class="govuk-template__body ">
  
<!–– error message start ––>
  <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
    <h2 class="govuk-error-summary__title" id="error-summary-title">There is a problem</h2>
    <div class="govuk-error-summary__body">
      <ul class="govuk-list govuk-error-summary__list">
        <li>
          <span style="font-weight: bold; color: #B10E1E">Your account is not currently active. To reactivate it, contact the DVSA on <a href="mailto:dvsasupport@dvsa.gov.uk">dvsasupport@dvsa.gov.uk</a></span>
        </li>
      </ul>
    </div>
  </div>
<!–– error message end ––>    
  <h1 class="govuk-heading-l" style="margin-bottom: 2px">Sign in</h1>
  <p class="v-space10">space</p>
  
  <div class="govuk-form-group">
    <label class="govuk-label" for="width-20">Email address</label>
    <input class="govuk-input govuk-input--width-20" id="width-20" name="width-10" type="text">
  </div>
  <div class="govuk-form-group">
    <label class="govuk-label" for="width-20">Password</label>
    <input class="govuk-input govuk-input--width-20" id="width-20" name="width-10" type="password">
  </div>
    
  <form method="get" action="home.html">
    <button type="submit" class="govuk-button">Continue</button>
  </form>

  <h2 class="govuk-heading-m">Problems signing in</h2>
  <ul class="govuk-list">
    <li class="govuk-!-padding-bottom-2">
      <a class="govuk-link" href="reset-password.html">I have forgotten my login email</a>
    </li>
    <li>
      <a class="govuk-link" href="reset-password.html">I have forgotten my password</a>
    </li>
  </ul>
</body>

  </html>
  {% endblock %}