{% extends "layout3.html" %}

{% block pageTitle %}
Today's completed tests
{% endblock %}

<!–– Beta header ––>

{% block beforeContent %}

{% from "phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
tag: {
text: "beta"
},
html: 'This is a new service – your <a class="govuk-link" href="placeholder.html">feedback</a> will help us to improve it.'
}) }}


<!–– Breadcrumbs ––>
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a href="home.html" class="govuk-breadcrumbs__link">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      Site Management
    </li>
    <li>
      <span class="sign-out__sitemanagement">
        <a href="sign-in.html">Sign out</a>
      </span>
    </li>
  </ol>
</div>

{% endblock %}

{% block content %}

<!-- Headings start here -->
<div class="govuk-width-container">
    <!-- Local nave and header STARTS here -->
  <span id="with-hint-hint" class="govuk-hint" style="margin-top: 0%; margin-bottom: 0%;">P57832 Scania Lincoln</span>
  <thead class="govuk-table__head">
    <h1 class="govuk-heading-l govuk-!-padding-bottom-4" style="margin-bottom: 2px">Site management</h1>
    <!-- links start here -->
    <ol class="govuk-list" style="font-size:large">
      <li style="margin-bottom: 10px;"> &#8212;
        <span style="padding-left: 5px;">Today's completed tests</span>
      </li>
      <li style="margin-bottom: 10px;"> &#8212;
        <a class="govuk-link govuk-link--no-visited-state" Style="padding-left: 5px;" href="account-activity-search.html">Search transactions</a>
      </li>
      <li style="margin-bottom: 10px;"> &#8212;
        <a class="govuk-link govuk-link--no-visited-state" Style="padding-left: 5px;" href="#">Vehicle MOT history</a>
      </li>
      <li style="margin-bottom: 10px;">
        <p class="v-space2">space</p>
      </li>
    </ol>
    <hr>
    <p class="v-space10">space</p>
  </thead>
    <!-- Local nav and header ENDS here -->

<!–– local headers START ––>
  <h1 class="govuk-fieldset__legend--m" style="margin-bottom: 2px">Today's completed tests</h1>
  <span id="with-hint-hint" class="govuk-hint" style="margin-top: 0%;">Monday 16 October 2019</span>
  <p class="v-space2">space</p>
  <p align="left" class="govuk-body">Today's running total, net: <strong>£963.00</strong><br><span class="govuk-body-s">Charged at the end of each day</span></p>
  <p class="v-space2">space</p>
<!–– local headers ENDS ––>
    
<!–– Table 1 start ––>
  <table class="govuk-table" style="font-size:medium">
    <h2 class="govuk-fieldset__legend--s" style="margin-bottom: 2px">
      <a id="test-table">Assessor 1</a>
    </h2>

    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="col" style="text-align: left;">Start</th>
        <th class="govuk-table__header" scope="col" style="text-align: left;">Duration</th>
        <th class="govuk-table__header" scope="col">Vehicle</th>
        <th class="govuk-table__header" scope="col" width="40%">Activity</th>
        <th class="govuk-table__header" scope="col">Pass/Fail</th>
        <th class="govuk-table__header" scope="col" style="text-align: right;">Net Amount</th>
      </tr>
    </thead>
      
    <tbody>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell" style="text-align: left;" id="a-line1">08:00</td>
        <td class="govuk-table__cell" style="text-align: left;" id="a-line2">59 mins</td>
        <td class="govuk-table__cell" id="a-line3">X973 PYK</td>
        <td class="govuk-table__cell" id="a-line4">4 axle motor vehicle annual test</td>
        <td class="govuk-table__cell" id="a-line5"><a href="placeholder.html">Pass</a></td>
        <td class="govuk-table__cell" style="text-align: right;" id="a-line6">£137.00</td>
      </tr>

      <tr class="govuk-table__row">
        <td class="govuk-table__cell" style="text-align: left;" id="a-line1">09:02</td>
        <td class="govuk-table__cell" style="text-align: left;" id="a-line2">47 mins</td>
        <td class="govuk-table__cell" id="a-line3">JY52 PDF</td>
        <td class="govuk-table__cell" id="a-line4">3 axle motor vehicle annual test</td>
        <td class="govuk-table__cell" id="a-line5"><a href="placeholder.html">Fail</a></td>
        <td class="govuk-table__cell" style="text-align: right;" id="a-line6">£113.00</td>
      </tr>

      <tr class="govuk-table__row">
        <td class="govuk-table__cell" style="text-align: left;" id="a-line1">10:05</td>
        <td class="govuk-table__cell" style="text-align: left;" id="a-line2">48 mins</td>
        <td class="govuk-table__cell" id="a-line3">KV63 CYC</td>
        <td class="govuk-table__cell" id="a-line4">3 axle motor vehicle annual test</td>
        <td class="govuk-table__cell" id="a-line5"><a href="placeholder.html">Pass</a></td>
        <td class="govuk-table__cell" style="text-align: right;" id="a-line6">£113.00</td>
      </tr>
        
      <tr class="govuk-table__row">
        <td class="govuk-table__cell" style="text-align: left;" id="a-line1">10:55</td>
        <td class="govuk-table__cell" style="text-align: left;" id="a-line2">18 mins</td>
        <td class="govuk-table__cell" id="a-line3">KV63 CYC</td>
        <td class="govuk-table__cell" id="a-line4">HGV Annual Test & LEC Low Emissions test</td>
        <td class="govuk-table__cell" id="a-line5"><a href="placeholder.html">Pass</a></td>
        <td class="govuk-table__cell" style="text-align: right;" id="a-line6">£25.00</td>
      </tr>
        
      <tr class="govuk-table__row">
        <td class="govuk-table__cell" style="text-align: left;" id="a-line1">11:14</td>
        <td class="govuk-table__cell" style="text-align: left;" id="a-line2">33 mins</td>
        <td class="govuk-table__cell" id="a-line3">C896121</td>
        <td class="govuk-table__cell" id="a-line4">2 axle TRAILER annual test</td>
        <td class="govuk-table__cell" id="a-line5"><a href="placeholder.html">Pass</a></td>
        <td class="govuk-table__cell" style="text-align: right;" id="a-line6">£54.00</td>
      </tr>

      <tr class="govuk-table__row">
        <td class="govuk-table__cell" style="text-align: left;" id="a-line1">11:47</td>
        <td class="govuk-table__cell" style="text-align: left;" id="a-line2">57 mins</td>
        <td class="govuk-table__cell" id="a-line3">VU60 PSK</td>
        <td class="govuk-table__cell" id="a-line4">4 axle motor vehicle annual test</td>
        <td class="govuk-table__cell" id="a-line5"><a href="placeholder.html">Pass</a></td>
        <td class="govuk-table__cell" style="text-align: right;" id="a-line6">£137.00</td>
      </tr>
    </tbody>
  </table>
    
  <div>
    <p class="v-space">space</p>
  </div>

<!–– Table 1 end ––>

<!–– Table 2a start ––>
  <table class="govuk-table" style="font-size:medium">
    <h2 class="govuk-fieldset__legend--s" style="margin-bottom: 2px">Assessor 2</h2>

    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="col" style="text-align: left;" >Start</th>
        <th class="govuk-table__header" scope="col" style="text-align: left;">Duration</th>
        <th class="govuk-table__header" scope="col">Vehicle</th>
        <th class="govuk-table__header" scope="col" width="40%">Activity</th>
        <th class="govuk-table__header" scope="col">Pass/Fail</th>
        <th class="govuk-table__header" scope="col" style="text-align: right;">Net Amount</th>
      </tr>
    </thead>
      
    <tbody>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell" style="text-align: left;" id="a-line1">09:20</td>
        <td class="govuk-table__cell" style="text-align: left;" id="a-line2">48 mins</td>
        <td class="govuk-table__cell" id="a-line3">CB56 KTP</td>
        <td class="govuk-table__cell" id="a-line4">3 axle motor vehicle annual test</td>
        <td class="govuk-table__cell" id="a-line5"><a href="placeholder.html">Pass</a></td>
        <td class="govuk-table__cell" style="text-align: right;" id="a-line6">£113.00</td>
      </tr>

      <tr class="govuk-table__row">
        <td class="govuk-table__cell" style="text-align: left;" id="a-line1">10:22</td>
        <td class="govuk-table__cell" style="text-align: left;" id="a-line2">47 mins</td>
        <td class="govuk-table__cell" id="a-line3">JY52 PDF</td>
        <td class="govuk-table__cell" id="a-line4">3 axle motor vehicle annual test</td>
        <td class="govuk-table__cell" id="a-line5"><a href="placeholder.html">Fail</a></td>
        <td class="govuk-table__cell" style="text-align: right;" id="a-line6">£113.00</td>
      </tr>

      <tr class="govuk-table__row">
        <td class="govuk-table__cell" style="text-align: left;" id="a-line1">10:54</td>
        <td class="govuk-table__cell" style="text-align: left;" id="a-line2">36 mins</td>
        <td class="govuk-table__cell" id="a-line3">RP16 OJW</td>
        <td class="govuk-table__cell" id="a-line4">2 axle motor vehicle annual test</td>
        <td class="govuk-table__cell" id="a-line5"><a href="placeholder.html">Pass</a></td>
        <td class="govuk-table__cell" style="text-align: right;" id="a-line6">£91.00</td>
      </tr>

      <tr class="govuk-table__row">
        <td class="govuk-table__cell" style="text-align: left;" id="a-line1">11:32</td>
        <td class="govuk-table__cell" style="text-align: left;" id="a-line2">49 mins</td>
        <td class="govuk-table__cell" id="a-line3">BM55 NLV</td>
        <td class="govuk-table__cell" id="a-line4">3 axle motor vehicle annual test</td>
        <td class="govuk-table__cell" id="a-line5"><a href="placeholder.html">Fail</a></td>
        <td class="govuk-table__cell" style="text-align: right;" id="a-line6">£113.00</td>
      </tr>

      <tr class="govuk-table__row">
        <td class="govuk-table__cell" style="text-align: left;" id="a-line1">12:23</td>
        <td class="govuk-table__cell" style="text-align: left;" id="a-line2">9 mins</td>
        <td class="govuk-table__cell" id="a-line3"></td>
        <td class="govuk-table__cell" id="a-line4">Wait time</td>
        <td class="govuk-table__cell" id="a-line5"><a href="placeholder.html"></a></td>
        <td class="govuk-table__cell" style="text-align: right;" id="a-line6"></td>
      </tr>

      <tr class="govuk-table__row">
        <td class="govuk-table__cell" style="text-align: left;" id="a-line1">12.43</td>
        <td class="govuk-table__cell" style="text-align: left;" id="a-line2">39 mins</td>
        <td class="govuk-table__cell" id="a-line3">AB58 XWV</td>
        <td class="govuk-table__cell" id="a-line4">2 axle motor vehicle annual test</td>
        <td class="govuk-table__cell" id="a-line5"><a href="placeholder.html">Pass</a></td>
        <td class="govuk-table__cell" style="text-align: right;" id="a-line6">£91.00</td>
      </tr>
    </tbody>
  </table>
  
  <div>
    <p class="v-space">space</p>
  </div>
<!–– Table 2a end ––>

  <div>
    <p class="v-space">space</p>
  </div>
</div>


{% endblock %}