{% extends "layout3.html" %}

{% block pageTitle %}
Today's completed tests
{% endblock %}

<!–– Beta header ––>

{% block beforeContent %}

{% from "phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
tag: {
text: "beta"
},
html: 'This is a new service – your <a class="govuk-link" href="placeholder.html">feedback</a> will help us to improve it.'
}) }}

<!–– Breadcrumbs ––>
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a href="home.html" class="govuk-breadcrumbs__link">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      Site Management
    </li>
  </ol>
</div>

{% endblock %}

{% block content %}

<!-- Headings start here -->
<body>
  <span class="govuk-caption-m">P57832 Scania Lincoln</span>
  <h1 class="govuk-heading-l">Manage your ATF</h1>
  <!-- <hr class="govuk-!-margin-bottom-8 govuk-!-margin-top-8"> -->

<!–– local headers START ––>
  <h1 class="govuk-fieldset__legend--m govuk-!-margin-bottom-1">Today's completed tests</h1>
  <span id="with-hint-hint" class="govuk-hint" style="margin-top: 0%;">Monday 16 October 2019</span>

  <p align="left" class="govuk-body">Today's running total, net: <strong>£963.00</strong><br>
    <span class="govuk-body-s">Charged at the end of each day</span>
  </p>
<!–– local headers ENDS ––>
    
<!–– Assessor 1 start ––>
  <table class="govuk-table" style="font-size:medium">
    <h2 class="govuk-fieldset__legend--s" style="margin-bottom: 2px">
      <a id="test-table">Assessor 1</a>
    </h2>

    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="col">Order number</th>
        <th class="govuk-table__header" scope="col">Start</th>
        <th class="govuk-table__header" scope="col">Duration</th>
        <th class="govuk-table__header" scope="col">Vehicle</th>
        <th class="govuk-table__header" scope="col">Activity</th>
        <th class="govuk-table__header" scope="col">Pass/Fail</th>
        <th class="govuk-table__header govuk-table__header--numeric" scope="col">Net Amount</th>
      </tr>
    </thead>
      
    <tbody>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell" id="a-line1">ORD-12367-QV46J0</td>
        <td class="govuk-table__cell" id="a-line2">08:00</td>
        <td class="govuk-table__cell" id="a-line3">59 mins</td>
        <td class="govuk-table__cell" id="a-line4">X973 PYK</td>
        <td class="govuk-table__cell" id="a-line5">2 axle TRAILER annual test</td>
        <td class="govuk-table__cell" id="a-line6">Pass</td>
        <td class="govuk-table__cell govuk-table__cell--numeric"" id="a-line7">£137.00</td>
      </tr>

      <tr class="govuk-table__row">
        <td class="govuk-table__cell" id="a-line1">ORD-78928-ES12F6</td>
        <td class="govuk-table__cell" id="a-line2">08:59</td>
        <td class="govuk-table__cell" id="a-line3">47 mins</td>
        <td class="govuk-table__cell" id="a-line4">JY52 PDF</td>
        <td class="govuk-table__cell" id="a-line5">tbc</td>
        <td class="govuk-table__cell" id="a-line6">Fail</td>
        <td class="govuk-table__cell govuk-table__cell--numeric"" id="a-line7">£113.00</td>
      </tr>

      <tr class="govuk-table__row">
        <td class="govuk-table__cell" id="a-line1">ORD-13384-GH459F</td>
        <td class="govuk-table__cell" id="a-line2">09:46</td>
        <td class="govuk-table__cell" id="a-line3">48 mins</td>
        <td class="govuk-table__cell" id="a-line4">KV63 CYC</td>
        <td class="govuk-table__cell" id="a-line5">tbc</td>
        <td class="govuk-table__cell" id="a-line6">Pass</td>
        <td class="govuk-table__cell govuk-table__cell--numeric"" id="a-line7">£113.00</td>
      </tr>
        
      <tr class="govuk-table__row">
        <td class="govuk-table__cell" id="a-line1">ORD-74938-AK64T3</td>
        <td class="govuk-table__cell" id="a-line2">10:34</td>
        <td class="govuk-table__cell" id="a-line3">18 mins</td>
        <td class="govuk-table__cell" id="a-line4">KV63 CYC</td>
        <td class="govuk-table__cell" id="a-line5">tbc</td>
        <td class="govuk-table__cell" id="a-line6">Pass</td>
        <td class="govuk-table__cell govuk-table__cell--numeric"" id="a-line7">£25.00</td>
      </tr>
        
      <tr class="govuk-table__row">
        <td class="govuk-table__cell" id="a-line1">ORD-29743-ZX101S</td>
        <td class="govuk-table__cell" id="a-line2">10:52</td>
        <td class="govuk-table__cell" id="a-line3">33 mins</td>
        <td class="govuk-table__cell" id="a-line4">C896121</td>
        <td class="govuk-table__cell" id="a-line5">tbc</td>
        <td class="govuk-table__cell" id="a-line6">Pass</td>
        <td class="govuk-table__cell govuk-table__cell--numeric"" id="a-line7">£54.00</td>
      </tr>

      <tr class="govuk-table__row">
        <td class="govuk-table__cell" id="a-line1">ORD-29847-PL574U</td>
        <td class="govuk-table__cell" id="a-line2">11:25</td>
        <td class="govuk-table__cell" id="a-line3">57 mins</td>
        <td class="govuk-table__cell" id="a-line4">VU60 PSK</td>
        <td class="govuk-table__cell" id="a-line5">tbc</td>
        <td class="govuk-table__cell" id="a-line6">Pass</td>
        <td class="govuk-table__cell govuk-table__cell--numeric"" id="a-line7">£137.00</td>
      </tr>
    </tbody>
  </table>
<!–– Assessor 1 end ––>

<!–– Assessor 2 start ––>
  <table class="govuk-table" style="font-size:medium">
    <h2 class="govuk-fieldset__legend--s" style="margin-bottom: 2px">Assessor 2</h2>

    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="col">Order number</th>
        <th class="govuk-table__header" scope="col">Start</th>
        <th class="govuk-table__header" scope="col">Duration</th>
        <th class="govuk-table__header" scope="col">Vehicle</th>
        <th class="govuk-table__header" scope="col">Activity</th>
        <th class="govuk-table__header" scope="col">Pass/Fail</th>
        <th class="govuk-table__header govuk-table__header--numeric"" scope="col" >Net Amount</th>
      </tr>
    </thead>
      
    <tbody>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell" id="a-line1">ORD-04233-PO48S3</td>
        <td class="govuk-table__cell" id="a-line2">09:00</td>
        <td class="govuk-table__cell" id="a-line3">48 mins</td>
        <td class="govuk-table__cell" id="a-line4">CB56 KTP</td>
        <td class="govuk-table__cell" id="a-line5">2 axle TRAILER annual test</td>
        <td class="govuk-table__cell" id="a-line6">Pass</td>
        <td class="govuk-table__cell govuk-table__cell--numeric""id="a-line7">£113.00</td>
      </tr>

      <tr class="govuk-table__row">
        <td class="govuk-table__cell" id="a-line1">ORD-45847-WO574N</td>
        <td class="govuk-table__cell" id="a-line2">09:48</td>
        <td class="govuk-table__cell" id="a-line3">47 mins</td>
        <td class="govuk-table__cell" id="a-line4">JY52 PDF</td>
        <td class="govuk-table__cell" id="a-line5">tbc</td>
        <td class="govuk-table__cell" id="a-line6">Fail</td>
        <td class="govuk-table__cell govuk-table__cell--numeric"" id="a-line7">£113.00</td>
      </tr>

      <tr class="govuk-table__row">
        <td class="govuk-table__cell" id="a-line1">ORD-76133-KI423T</td>
        <td class="govuk-table__cell" id="a-line2">10:35</td>
        <td class="govuk-table__cell" id="a-line3">36 mins</td>
        <td class="govuk-table__cell" id="a-line4">RP16 OJW</td>
        <td class="govuk-table__cell" id="a-line5">tbc</td>
        <td class="govuk-table__cell" id="a-line6">Pass</td>
        <td class="govuk-table__cell govuk-table__cell--numeric"" id="a-line7">£91.00</td>
      </tr>

      <tr class="govuk-table__row">
        <td class="govuk-table__cell" id="a-line1">ORD-29371-RD404B</td>
        <td class="govuk-table__cell" id="a-line2">11:11</td>
        <td class="govuk-table__cell" id="a-line3">49 mins</td>
        <td class="govuk-table__cell" id="a-line4">BM55 NLV</td>
        <td class="govuk-table__cell" id="a-line5">tbc</td>
        <td class="govuk-table__cell" id="a-line6">Fail</td>
        <td class="govuk-table__cell govuk-table__cell--numeric"" id="a-line7">£113.00</td>
      </tr>

      <tr class="govuk-table__row">
        <td class="govuk-table__cell" id="a-line1">ORD-43234-FE923Z</td>
        <td class="govuk-table__cell" id="a-line2">12:00</td>
        <td class="govuk-table__cell" id="a-line3">9 mins</td>
        <td class="govuk-table__cell" id="a-line4"></td>
        <td class="govuk-table__cell" id="a-line5">Wait time</td>
        <td class="govuk-table__cell" id="a-line6"></td>
        <td class="govuk-table__cell govuk-table__cell--numeric"" id="a-line7"></td>
      </tr>

      <tr class="govuk-table__row">
        <td class="govuk-table__cell" id="a-line1">ORD-39475-DC945C</td>
        <td class="govuk-table__cell" id="a-line2">12.09</td>
        <td class="govuk-table__cell" id="a-line3">39 mins</td>
        <td class="govuk-table__cell" id="a-line4">AB58 XWV</td>
        <td class="govuk-table__cell" id="a-line5">tbc</td>
        <td class="govuk-table__cell" id="a-line6">Pass</td>
        <td class="govuk-table__cell govuk-table__cell--numeric" id="a-line7">£91.00</td>
      </tr>
    </tbody>
  </table>
<!–– Assessor 2 end ––>
</body>
{% endblock %}