{% extends "layout3.html" %}

{% block pageTitle %}
Today's completed tests
{% endblock %}

<!–– Beta header ––>

{% block beforeContent %}

{% from "phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
tag: {
text: "beta"
},
html: 'This is a new service – your <a class="govuk-link" href="placeholder.html">feedback</a> will help us to improve it.'
}) }}

<!–– Breadcrumbs ––>
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a href="home.html" class="govuk-breadcrumbs__link">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      Site Management
    </li>
  </ol>
</div>

{% endblock %}

{% block content %}

<!-- Headings start here -->
<body>
  <span class="govuk-caption-m">P57832 Scania Lincoln</span>
  <h1 class="govuk-heading-l">Site management</h1>
  
<!–– local headers START ––>
    <ol class="govuk-list govuk-!-margin-bottom-8">
      <li class="govuk-!-margin-bottom-2"> &#8212;
        <span style="padding-left: 5px;">Today's completed tests</span>
      </li>
      <li class="govuk-!-margin-bottom-2"> &#8212;
        <a class="govuk-link govuk-link--no-visited-state" Style="padding-left: 5px;" href="account-activity-search.html">Search historic transactions</a>
      </li>
      <li> &#8212;
        <a class="govuk-link govuk-link--no-visited-state" Style="padding-left: 5px;" href="https://www.gov.uk/check-mot-history" target="_blank">Check the MOT history of a Vehicle</a>
      </li>
      <li>
        <hr class="govuk-!-margin-bottom-8 govuk-!-margin-top-8">
      </li>
    </ol>
<!–– local headers END ––>

<!–– local headers START ––>
  <h1 class="govuk-fieldset__legend--m govuk-!-margin-bottom-1">Today's completed tests</h1>
  <span class="govuk-hint" style="margin-top: 0%;">Monday 16 October 2019</span>

  <p class="govuk-body">Today's running total, net: <strong>£0.00</strong><br>
    <span class="govuk-body-s">Charged on completion of todays testing</span>
  </p>
<!–– local headers ENDS ––>
    
<!–– Assessor 1 start ––>

<p class="govuk-!-font-weight-bold">A VSA is on site, the table will be updated once the first test has been completed.</p>
  <table class="govuk-table">
    <h2 class="govuk-fieldset__legend--s" style="margin-bottom: 2px">
      <span id="test-table">Assessor 1</span>
    </h2>

    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="col">Start</th>
        <th class="govuk-table__header" scope="col">Duration</th>
        <th class="govuk-table__header" scope="col">Vehicle</th>
        <th class="govuk-table__header" scope="col" style="width: 35%">Activity</th>
        <th class="govuk-table__header" scope="col">Pass/Fail</th>
        <th class="govuk-table__header govuk-table__header--numeric" scope="col">Net Amount</th>
      </tr>
    </thead>
  </table>
<!–– Assessor 1 end ––>

</body>
{% endblock %}