{% extends "layout3.html" %}

{% block pageTitle %}
Today's completed tests
{% endblock %}

<!–– Beta header ––>

{% block beforeContent %}

{% from "phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
tag: {
text: "beta"
},
html: 'This is a new service – your <a class="govuk-link" href="placeholder.html">feedback</a> will help us to improve it.'
}) }}

<!–– Breadcrumbs ––>
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a href="home.html" class="govuk-breadcrumbs__link">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      Site Management
    </li>
  </ol>
</div>

{% endblock %}

{% block content %}

<!-- Headings start here -->
<body>
  <span class="govuk-caption-m">P57832 Scania Lincoln</span>
  <h1 class="govuk-heading-l">Site management</h1>
  
<!–– local headers START ––>
    <ol class="govuk-list govuk-!-margin-bottom-8">
      <li> &#8212;
        <a class="govuk-link govuk-link--no-visited-state" Style="padding-left: 5px;" href="https://www.gov.uk/check-mot-history" target="_blank">Check the MOT history of a vehicle</a>
      </li>
      <li> &#8212;
        <span style="padding-left: 5px;">Today's completed tests</span>
      </li>
      <li> &#8212;
        <a class="govuk-link govuk-link--no-visited-state" Style="padding-left: 5px;" href="account-activity-search.html">Search historic transactions</a>
      </li>
      <li>
        <hr class="govuk-!-margin-bottom-8 govuk-!-margin-top-8">
      </li>
    </ol>
<!–– local headers END ––>

<!–– local headers START ––>
  <h1 class="govuk-fieldset__legend--m govuk-!-margin-bottom-1">Today's completed tests</h1>
  <span class="govuk-hint" style="margin-top: 0%;">Monday 16 October 2019</span>

  <p class="govuk-body">Today's running total (ex. VAT): <strong>£963.00</strong><br>
    <span class="govuk-body-s">To be charged on completion of today's testing</span>
  </p>
<!–– local headers ENDS ––>
    
<!–– Assessor 1 start ––>
  <table class="govuk-table">
    <h2 class="govuk-fieldset__legend--s" style="margin-bottom: 2px">
      <span id="test-table">Assessor 1</span>
    </h2>

    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="col">Start</th>
        <th class="govuk-table__header" scope="col">Duration</th>
        <th class="govuk-table__header" scope="col">Vehicle</th>
        <th class="govuk-table__header" scope="col" style="width: 35%">Activity</th>
        <th class="govuk-table__header" scope="col">Result</th>
        <th class="govuk-table__header govuk-table__header--numeric" scope="col">Amount (ex. VAT)</th>
      </tr>
    </thead>
      
    <tbody>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell" id="a-line2">08:00</td>
        <td class="govuk-table__cell" id="a-line3">59 mins</td>
        <td class="govuk-table__cell" id="a-line4">X973 PYK</td>
        <td class="govuk-table__cell" id="a-line5">Part paid retest</td>
        <td class="govuk-table__cell" id="a-line6">Pass</td>
        <td class="govuk-table__cell govuk-table__cell--numeric" id="a-line7">£137.00</td>
      </tr>

      <tr class="govuk-table__row">
        <td class="govuk-table__cell" id="a-line2">08:59</td>
        <td class="govuk-table__cell" id="a-line3">47 mins</td>
        <td class="govuk-table__cell" id="a-line4">JY52 PDF</td>
        <td class="govuk-table__cell" id="a-line5">Articulated bus annual test large</td>
        <td class="govuk-table__cell" id="a-line6">Fail</td>
        <td class="govuk-table__cell govuk-table__cell--numeric"" id="a-line7">£113.00</td>
      </tr>

      <tr class="govuk-table__row">
        <td class="govuk-table__cell" id="a-line2">09:46</td>
        <td class="govuk-table__cell" id="a-line3">48 mins</td>
        <td class="govuk-table__cell" id="a-line4">KV63 CYC</td>
        <td class="govuk-table__cell" id="a-line5">LEC PSV - Without linked test</td>
        <td class="govuk-table__cell" id="a-line6">Pass</td>
        <td class="govuk-table__cell govuk-table__cell--numeric"" id="a-line7">£113.00</td>
      </tr>
        
      <tr class="govuk-table__row">
        <td class="govuk-table__cell" id="a-line2">10:34</td>
        <td class="govuk-table__cell" id="a-line3">18 mins</td>
        <td class="govuk-table__cell" id="a-line4">KV63 CYC</td>
        <td class="govuk-table__cell" id="a-line5">Voluntary speed limiter checks</td>
        <td class="govuk-table__cell" id="a-line6">Pass</td>
        <td class="govuk-table__cell govuk-table__cell--numeric"" id="a-line7">£25.00</td>
      </tr>
        
      <tr class="govuk-table__row">
        <td class="govuk-table__cell" id="a-line2">10:52</td>
        <td class="govuk-table__cell" id="a-line3">33 mins</td>
        <td class="govuk-table__cell" id="a-line4">C896121</td>
        <td class="govuk-table__cell" id="a-line5">Class 6A first test</td>
        <td class="govuk-table__cell" id="a-line6">Pass</td>
        <td class="govuk-table__cell govuk-table__cell--numeric"" id="a-line7">£54.00</td>
      </tr>

      <tr class="govuk-table__row">
        <td class="govuk-table__cell" id="a-line2">11:25</td>
        <td class="govuk-table__cell" id="a-line3">57 mins</td>
        <td class="govuk-table__cell" id="a-line4">VU60 PSK</td>
        <td class="govuk-table__cell" id="a-line5">PSV PG9 full insp PT/fee no cert</td>
        <td class="govuk-table__cell" id="a-line6">Pass</td>
        <td class="govuk-table__cell govuk-table__cell--numeric" id="a-line7">£137.00</td>
      </tr>
    </tbody>
  </table>
<!–– Assessor 1 end ––>

<!–– Assessor 2 start ––>
  <table class="govuk-table">
    <h2 class="govuk-fieldset__legend--s" style="margin-bottom: 2px">Assessor 2</h2>

    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="col">Start</th>
        <th class="govuk-table__header" scope="col">Duration</th>
        <th class="govuk-table__header" scope="col">Vehicle</th>
        <th class="govuk-table__header" scope="col">Activity</th>
        <th class="govuk-table__header" scope="col">Result</th>
        <th class="govuk-table__header govuk-table__header--numeric" scope="col" >Amount (ex. VAT)</th>
      </tr>
    </thead>
      
    <tbody>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell" id="a-line2">09:00</td>
        <td class="govuk-table__cell" id="a-line3">48 mins</td>
        <td class="govuk-table__cell" id="a-line4">CB56 KTP</td>
        <td class="govuk-table__cell" id="a-line5">Class 6A first test</td>
        <td class="govuk-table__cell" id="a-line6">Pass</td>
        <td class="govuk-table__cell govuk-table__cell--numeric" id="a-line7">£113.00</td>
      </tr>

      <tr class="govuk-table__row">
        <td class="govuk-table__cell" id="a-line2">09:48</td>
        <td class="govuk-table__cell" id="a-line3">47 mins</td>
        <td class="govuk-table__cell" id="a-line4">JY52 PDF</td>
        <td class="govuk-table__cell" id="a-line5">LEC PSV - Without linked test</td>
        <td class="govuk-table__cell" id="a-line6">Fail</td>
        <td class="govuk-table__cell govuk-table__cell--numeric" id="a-line7">£113.00</td>
      </tr>

      <tr class="govuk-table__row">
        <td class="govuk-table__cell" id="a-line2">10:35</td>
        <td class="govuk-table__cell" id="a-line3">36 mins</td>
        <td class="govuk-table__cell" id="a-line4">RP16 OJW</td>
        <td class="govuk-table__cell" id="a-line5">PSV PG9 full insp PT/fee no cert</td>
        <td class="govuk-table__cell" id="a-line6">Pass</td>
        <td class="govuk-table__cell govuk-table__cell--numeric" id="a-line7">£91.00</td>
      </tr>

      <tr class="govuk-table__row">
        <td class="govuk-table__cell" id="a-line2">11:11</td>
        <td class="govuk-table__cell" id="a-line3">49 mins</td>
        <td class="govuk-table__cell" id="a-line4">BM55 NLV</td>
        <td class="govuk-table__cell" id="a-line5">Voluntary speed limiter checks</td>
        <td class="govuk-table__cell" id="a-line6">Fail</td>
        <td class="govuk-table__cell govuk-table__cell--numeric" id="a-line7">£113.00</td>
      </tr>

      <tr class="govuk-table__row">
        <td class="govuk-table__cell" id="a-line2">12:05</td>
        <td class="govuk-table__cell" id="a-line3">9 mins</td>
        <td class="govuk-table__cell" id="a-line4"></td>
        <td class="govuk-table__cell" id="a-line5">Time not testing - Admin</td>
        <td class="govuk-table__cell" id="a-line6"></td>
        <td class="govuk-table__cell govuk-table__cell--numeric" id="a-line7"></td>
      </tr>
      
      <tr class="govuk-table__row">
        <td class="govuk-table__cell" id="a-line2">12.14</td>
        <td class="govuk-table__cell" id="a-line3">39 mins</td>
        <td class="govuk-table__cell" id="a-line4">AB58 XWV</td>
        <td class="govuk-table__cell" id="a-line5">Articulated bus annual test large</td>
        <td class="govuk-table__cell" id="a-line6">Pass</td>
        <td class="govuk-table__cell govuk-table__cell--numeric" id="a-line7">£91.00</td>
      </tr>
    </tbody>
  </table>
<!–– Assessor 2 end ––>
</body>
{% endblock %}