{% extends "layout3.html" %}

{% block pageTitle %}
Top up card confirmation
{% endblock %}

<!–– Beta header ––>

{% block beforeContent %}

{% from "phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
tag: {
text: "beta"
},
html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}


<!-- Breadcrumbs -->
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a href="home.html" class="govuk-breadcrumbs__link">Home</a>
    </li>
  </ol>
</div>
{% endblock %}

{% block content %}
<!-- Headings start here -->
<body>
  <!-- <h1 class="govuk-heading-l">Payment summary</h1>
  
  <div class="govuk-warning-text atf-warning-background-color--green panel panel-border-wide panel-border-color--green govuk-!-margin-bottom-6">
    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
    <strong class="govuk-warning-text__text">
      <span class="govuk-warning-text__assistive">Warning</span>Your payment has been successful. 
    </strong>
  </div> -->

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-panel confirmation govuk-!-margin-bottom-6">
        <h1 class="govuk-panel__title confirmation">Top up successful</h1>
        <p class="govuk-panel__body confirmation">Your invoice number is<br><strong>INV-20191016-P5T8G</strong></p>
      </div>
      
      
      <h2 class="govuk-heading-m">What happens next</h2>
      <p>Your pre-funded account balance has been updated.</p>
      <p class="govuk-body govuk-!-margin-bottom-6">Further details about your payment can be found in your <a href="invoice-top-up.html" class="govuk-link govuk-link--no-visited-state">top up receipt</a>.</p>
      
      <table class="govuk-table">
        <caption class="govuk-table__caption">Transaction details</caption>
        <tbody class="govuk-table__body">
          <!-- <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Invoice number</th>
            <td class="govuk-table__cell">INV-20191016-P5T8G</td>
          </tr> -->
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Top up amount</th>
            <td class="govuk-table__cell">£10,000.00</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">New balance</th>
            <td class="govuk-table__cell">£12,123.89</td>
          </tr>
        </tbody>
      </table>

    <!-- </div>
  </div> -->
</body>
{% endblock %}