{% extends "layout-small-footer.html" %}

{% block pageTitle %}
DD Something went wrong
{% endblock %}

<!–– Beta header ––>

{% block beforeContent %}

{% from "phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
tag: {
text: "beta"
},
html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
<!-- Breadcrumbs -->
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a href="home.html" class="govuk-breadcrumbs__link">Home</a>
    </li>
  
</div>
{% endblock %}

{% block content %}
<!-- Headings start here -->
<body> 
  <h1 class="govuk-heading-l">Something went wrong</h1>
  <p class="govuk-body">We are unable to confirm the status of your direct debit set up at this time.</p>
  <p class="govuk-body">Check your Top up account page for more information.</p>
  <form method="get" action="top-up-dd.html">
    <button type="submit" class="govuk-button">View Top up account page</button>
  </form> 
</body>
{% endblock %}