{% extends "layout3.html" %}

{% block pageTitle %}
Top up dd review
{% endblock %}

<!–– Beta header ––>

{% block beforeContent %}

{% from "phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
tag: {
text: "beta"
},
html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}


<!–– Breadcrumbs ––>
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a href="home.html" class="govuk-breadcrumbs__link">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a href="account-activity-prefunded-balance.html" class="govuk-breadcrumbs__link">Account activity</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a href="top-up.html" class="govuk-breadcrumbs__link">Top up account</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a href="top-up-dd.html" class="govuk-breadcrumbs__link">Set up a direct debit</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">Confirm your direct debit amount and payment date(s)</li>
  </ol>
</div>
{% endblock %}

{% block content %}
<!-- Headings start here -->

<div class="govuk-width-container">
<!-- Local nave and header STARTS here -->
  <span class="govuk-caption-m">P57832 Scania Lincoln</span>
  <h1 class="govuk-heading-l">Confirm your direct debit amount and payment date(s)</h1>

<!-- Table 1 start -->
    <table class="govuk-table" id="team-member-table">  
      <tbody class="govuk-table__body">
        <hr class="govuk-!-margin-bottom-1">
        <tr class="govuk-table__row ">
          <td class="govuk-table__cell" scope="row">Direct debit amount</td>
          <td class="govuk-table__cell govuk-table__cell--numeric" scope="row">£10,000</td>
          <td class="govuk-table__cell govuk-table__cell--numeric" scope="row">
            <a class="govuk-link govuk-link--no-visited-state" href="top-up-dd.html">Change</a>
          </td> 
        </tr>
        <tr class="govuk-table__row ">
          <td class="govuk-table__cell" scope="row">Direct debit date(s)</td>
          <td class="govuk-table__cell govuk-table__cell--numeric" scope="row">5<sup>th</sup> of the month</td>
          <td class="govuk-table__cell govuk-table__cell--numeric" scope="row">
            <a class="govuk-link govuk-link--no-visited-state" href="top-up-dd.html">Change</a>
          </td> 
        </tr>
      </tbody>
    </table>
<!-- Table 1 end -->
  
  <div class="govuk-inset-text">
  <p>By selecting ‘Confirm and continue to setup,’ you will be taken to the website of our chosen direct debit provider, GoCardless. Their website will look different to this one, however all details entered will remain secure and will not be shared.</p>
  <p>A Direct Debit Guarantee applies to all direct debits and will protect you in the rare event that there is an error in your payment. To comply with this guarantee, you are required to provide GoCardless with an email address.</p>
  <p>Direct debits can take up to 10 working days to process, so make sure your selected payment date(s) are outside of this window. Should your preferred payment date fall within this 10-day period, an alternative method will be required to top up your PFA.</p>
  </div>

  <form method="get" action="top-up-dd-confirmation.html">
    <button type="submit" class="govuk-button">Confirm and proceed to payment</button>
  </form>
  
  <a href="top-up.html" class="govuk-link govuk-link--no-visited-state">Cancel</a>

</div>
{% endblock %}