{% extends "layout3.html" %}

{% block pageTitle %}
Unsuccessful top up
{% endblock %}

<!–– Beta header ––>

{% block beforeContent %}

{% from "phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
tag: {
text: "beta"
},
html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}


<!-- Breadcrumbs -->
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a href="home.html" class="govuk-breadcrumbs__link">Home</a>
    </li>
  </ol>
</div>
{% endblock %}

{% block content %}
<!-- Headings start here -->

<div class="govuk-width-container">
<!-- Local nav and header STARTS here -->
  <div class="govuk-error-summary" role="alert" tabindex="-1">
    <h2 class="govuk-error-summary__title" id="error-summary-title">Your direct debit setup has been successful</h2>
    <div class="govuk-error-summary__body">
      <ul class="govuk-list govuk-error-summary__list">
        <li class="govuk-text--successful">Contact your bank for further information, or <a href="top-up.html">try and set up again</a></li>
      </ul>
    </div>
  </div>
  
  <span class="govuk-caption-m">P57832 Scania Lincoln</span>
  <h1 class="govuk-heading-l">Manage your ATF</h1>

  <ul class="home-block">
    <li class="home-block">
      <a class="register-theme__linkv2" href="todays-completed-tests.html">
        <h3 class="register-theme__heading govuk-heading-m">Site management</h3>
        <p class="govuk-body-s"> View real-time tests</p>
        <p></p>
      </a>
    </li>
    <li class="home-block">
      <a class="register-theme__linkv2" href="account-activity-prefunded-balance.html">
        <h3 class="register-theme__heading govuk-heading-m">Account activity</h3>
        <p class="govuk-body-s"> View balance and historic transactions</p>
        <p class="register-theme__description govuk-body-s"><strong>Current balance : £2,123.89</strong></p>
      </a>
    </li>
    <li class="home-block">
      <a class="register-theme__linkv2" href="account-details.html">
        <h3 class="register-theme__heading govuk-heading-m">Your settings</h3>
        <p class="govuk-body-s">View your login details and manage your team members</p>
      </a>
    </li>
  </ul>
</div>
{% endblock %}