{% extends "layout3.html" %}

{% block pageTitle %}
Set up direct debit
{% endblock %}

<!–– Beta header ––>

{% block beforeContent %}

{% from "phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
tag: {
text: "beta"
},
html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}


<!-- Breadcrumbs -->
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a href="home.html" class="govuk-breadcrumbs__link">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a href="account-activity-prefunded-balance.html" class="govuk-breadcrumbs__link">Account activity</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a href="top-up.html" class="govuk-breadcrumbs__link">Top up account</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">Set up a direct debit</li>
  </ol>
</div>
{% endblock %}

{% block content %}
<!-- Headings start here -->
<div class="govuk-width-container">
  <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
  <h2 class="govuk-error-summary__title" id="error-summary-title">
    There is a problem
  </h2>
  <div class="govuk-error-summary__body">
    <ul class="govuk-list govuk-error-summary__list">
      <li>
        <a href="#currency">Enter a minimum top up amount of £50</a>
      </li>
    </ul>
  </div>
</div>
  
<!-- Local nav and header STARTS here -->
  <span class="govuk-caption-m">P57832 Scania Lincoln</span>
  <h1 class="govuk-heading-l">Top up account</h1>
    
  <h1 class="govuk-fieldset__legend--m" id="jump-link">Set up a direct debit</h1>      
  
  <div class="govuk-form-group govuk-form-group--error">
    <label class="govuk-label govuk-date-input__label" for="dob-year">Enter the amount you want to top up</label>
    <p class="govuk-caption-m ">Minimum top up of £50</p>
    <span id="name-error" class="govuk-error-message">
      <span class="govuk-visually-hidden">Error:</span> Enter a minimum top up amount of £50
    </span>
    <input class="govuk-input govuk-date-input__input inputRightAlign govuk-input--width-5 govuk-input--error" id="currency" name="currency" type="number" placeholder="£" min="1" maxlength = "7">
  </div>
  
  <p class="govuk-label">Select your payment date(s)</p>
  <p class="govuk-caption-m ">You can choose to pay either once or twice a month</p>
  
  <div class="govuk-checkboxes govuk-!-margin-bottom-6">
    <div class="govuk-checkboxes__item">
      <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
      <label class="govuk-label govuk-checkboxes__label" for="waste">
        5<sup>th</sup> of the month
      </label>
    </div>
    <div class="govuk-checkboxes__item">
      <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
      <label class="govuk-label govuk-checkboxes__label" for="waste-2">
        20<sup>th</sup> of the month
      </label>
    </div>
  </div>
  
  <form method="get" action="top-up-dd-review.html">
    <button type="submit" class="govuk-button">Continue</button>
  </form>  
</div>
{% endblock %}