{% extends "layout3.html" %}

{% block pageTitle %}
Change your direct debit
{% endblock %}

<!–– Beta header ––>

{% block beforeContent %}

{% from "phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
tag: {
text: "beta"
},
html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}


<!-- Breadcrumbs -->
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a href="home.html" class="govuk-breadcrumbs__link">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a href="account-activity-prefunded-balance.html" class="govuk-breadcrumbs__link">Account activity</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a href="top-up.html" class="govuk-breadcrumbs__link">Top up account</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">Change your direct debit</li>
  </ol>
</div>
{% endblock %}

{% block content %}
<!-- Headings start here -->

<div class="govuk-width-container">
<!-- Local nav and header STARTS here -->
  <span class="govuk-caption-m">P57832 Scania Lincoln</span>
  <h1 class="govuk-heading-l">Change your direct debit</h1>
    
  <div class="govuk-form-group">
    <label class="govuk-label govuk-date-input__label" for="dob-year">Enter the amount you want to pay</label>
    <p class="govuk-caption-m ">Minimum top up of £50</p>
    <input class="govuk-input govuk-date-input__input govuk-input--width-10" id="amount" name="amount" value="£10000.00" type="text" pattern="[0-9]*" inputmode="numeric" min="1" maxlength = "10">
  </div>
  
  <p class="govuk-label">Select your payment date</p>
  <!-- <p class="govuk-caption-m ">You can choose to pay either once or twice a month</p>
   -->
  <div class="govuk-form-group" >
    <fieldset class="govuk-fieldset">
      <div class="govuk-radios">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="date" name="radioselection" type="radio" value="transactions-all-results-single" checked>
          <label class="govuk-label govuk-radios__label" for="date">5th of the month</label>
        </div>

        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="date-1" name="radioselection" type="radio" value="transactions-all-results-multiple" >
          <label class="govuk-label govuk-radios__label" for="date-1">20th of the month</label>
        </div>
      </div>
    </fieldset>
  </div>
  
  <form method="get" action="top-up-dd-review.html">
    <button type="submit" class="govuk-button">Continue</button>
  </form>  
  
  <a href="top-up-dd-set-up.html" class="govuk-link govuk-link--no-visited-state govuk-body">Cancel</a>
</div>
{% endblock %}