{% extends "layout3.html" %}

{% block pageTitle %}
Top up account
{% endblock %}

<!–– Beta header ––>

{% block beforeContent %}

{% from "phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
tag: {
text: "beta"
},
html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}


<!–– Breadcrumbs ––>
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a href="home.html" class="govuk-breadcrumbs__link">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a href="account-activity-prefunded-balance.html" class="govuk-breadcrumbs__link">Account activity</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">Top up account</li>
  </ol>
</div>
{% endblock %}

{% block content %}
<!-- Headings start here -->

<div class="govuk-width-container">
<!-- Local nave and header STARTS here -->
  <span class="govuk-caption-m">P57832 Scania Lincoln</span>
  <h1 class="govuk-heading-l">Top up account</h1>
  
<!-- local headers START -->
    <hr class="govuk-!-margin-bottom-8">
      <ol class="govuk-list govuk-!-margin-bottom-8">
        <li class="govuk-!-margin-bottom-2"> &#8212;
          <span style="padding-left: 5px;">Top up account</span>
        </li>
        <li class="govuk-!-margin-bottom-2"> &#8212;
          <a class="govuk-link govuk-link--no-visited-state" Style="padding-left: 5px;" href="top-up-transaction-history.html">Top up transaction history</a>
        </li>
        <li>
          <hr class="govuk-!-margin-bottom-8 govuk-!-margin-top-8">
        </li>
      </ol>
<!-- local headers END -->
  
  <h1 class="govuk-fieldset__legend--m" id="jump-link">Choose your top up method</h1>      
<!-- Radios START -->
  <div class="govuk-radios govuk-radios--conditional" data-module="radios">
<!-- Single selection START -->
    <form action="../">
<!-- Single date radio button START -->
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="how-contacted-conditional-1" name="radioselection" type="radio" value="top-up-order-summary" data-aria-controls="conditional-how-contacted-conditional-1">
        <label class="govuk-label govuk-radios__label" for="how-contacted-conditional-1">Credit/debit card</label>
      </div>
      <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-how-contacted-conditional-1">
<!-- dropdown -->
          <div class="govuk-date-input">
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="dob-year">Enter the amount you want to top up</label>
                <input class="govuk-input govuk-date-input__input inputRightAlign govuk-input--width-5" id="dob-year" name="dob-year" type="number" placeholder="£" min="1" maxlength = "7">
              </div>
            </div>    
          </div>
<!-- dropdown -->
      </div>
<!-- Single selection END -->
      
<!-- Multiple selection START -->      
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="how-contacted-conditional-2" name="radioselection" type="radio" value="placeholder" data-aria-controls="conditional-how-contacted-conditional-2">
        <label class="govuk-label govuk-radios__label" for="how-contacted-conditional-2">Direct debit</label>
      </div>
      
      <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-how-contacted-conditional-2">
<!-- dropdown -->
          <div class="govuk-date-input">
            <div class="govuk-date-input__item">
              <p>You've previously set up a direct debit with the following details.</p>
              <table class="govuk-table">
                <tbody class="govuk-table__body">
                  <hr class="govuk-!-margin-bottom-1">
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Amount</th>
                    <td class="govuk-table__cell">£12,000.00</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Dates</th>
                    <td class="govuk-table__cell">2nd of the month</td>
                  </tr>
                </tbody>
              </table>
              <p class="govuk-body">
                <a class="govuk-link govuk-link--no-visited-state govuk-!-padding-right-2" href="top-up-change-dd.html">Change</a>
                <a class="govuk-link govuk-link--no-visited-state" href="top-up-remove-dd.html">Remove</a>
              </p>
            </div>    
          </div>
<!-- dropdown -->
      </div>
<!-- Multiple selection END -->           
      <div class="govuk-!-margin-bottom-6"></div> 
      <input type="button" class="govuk-button" value="Continue" onclick="ob=this.form.radioselection;for(i=0;i<ob.length;i++){if(ob[i].checked){window.open(ob[i].value,'_self');};}" />
      
      

</div>
{% endblock %}