{% extends "layout3.html" %}

{% block pageTitle %}
Set up direct debit
{% endblock %}

<!–– Beta header ––>

{% block beforeContent %}

{% from "phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
tag: {
text: "beta"
},
html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}


<!-- Breadcrumbs -->
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a href="home.html" class="govuk-breadcrumbs__link">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a href="account-activity-prefunded-balance.html" class="govuk-breadcrumbs__link">Account activity</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a href="top-up.html" class="govuk-breadcrumbs__link">Top up account</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">Set up a direct debit</li>
  </ol>
</div>
{% endblock %}

{% block content %}
<!-- Headings start here -->

<div class="govuk-width-container">
<!-- Local nav and header STARTS here -->
  <span class="govuk-caption-m">P57832 Scania Lincoln</span>
  <h1 class="govuk-heading-l">Top up account</h1>
  
  <h1 class="govuk-fieldset__legend--m" id="jump-link">Set up a direct debit</h1>      
  
  <div class="govuk-form-group">
    <label class="govuk-label govuk-date-input__label" for="dob-year">Enter a direct debit amount</label>
    <p class="govuk-caption-m ">Minimum payment of £50</p>
    <input class="govuk-input govuk-date-input__input govuk-input--width-10" id="amount" name="amount" placeholder="£" type="text" pattern="[0-9]*" inputmode="numeric" min="1" maxlength = "10" autocomplete="off">
  </div>
  
  <p class="govuk-label">Select one or more payment dates</p>
  <p class="govuk-caption-m ">Choose to pay either once or twice a month</p>
  
  <div class="govuk-checkboxes govuk-!-margin-bottom-6">
    <div class="govuk-checkboxes__item">
      <input class="govuk-checkboxes__input" id="date_10" name="date_5" type="checkbox" value="date_5">
      <label class="govuk-label govuk-checkboxes__label" for="date_5">
        5<sup>th</sup> of the month
      </label>
    </div>
    <div class="govuk-checkboxes__item">
      <input class="govuk-checkboxes__input" id="date_20" name="date_20" type="checkbox" value="date_20">
      <label class="govuk-label govuk-checkboxes__label" for="date_20">
        20<sup>th</sup> of the month
      </label>
    </div>
  </div>
  
  <form method="get" action="top-up-dd-review.html">
    <button type="submit" class="govuk-button">Continue</button>
  </form>  
</div>
{% endblock %}