{% extends "layout3.html" %}

{% block pageTitle %}
Top up account
{% endblock %}

<!–– Beta header ––>

{% block beforeContent %}

{% from "phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
tag: {
text: "beta"
},
html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}


<!-- Breadcrumbs -->
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a href="home.html" class="govuk-breadcrumbs__link">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a href="account-activity-prefunded-balance.html" class="govuk-breadcrumbs__link">Account activity</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">Top up account</li>
  </ol>
</div>
{% endblock %}

{% block content %}
<!-- Headings start here -->

<div class="govuk-width-container">
<!-- Local nave and header STARTS here -->
  <span class="govuk-caption-m">P57832 Scania Lincoln</span>
  <h1 class="govuk-heading-l">Top up account</h1>

  <p>You can top up your account by using a credit/debit card, or set up a regular direct debit. <br>Payment via BACS is no longer supported.</p>

  <hr class="govuk-!-margin-bottom-6 govuk-!-margin-top-6">
  
  <h1 class="govuk-fieldset__legend--m" >Credit/debit card</h1>
  <p class="govuk-!-padding-right-9">Use a credit/debit card to top up your PFA regularly or as a one off payment.</p>
  <form method="get" action="top-up-card.html">
    <button class="govuk-button govuk-!-margin-bottom-6" type="submit" class="govuk-button">Top up by card</button>
  </form>  

  <hr class="govuk-!-margin-bottom-6">

  <h1 class="govuk-fieldset__legend--m">Direct debit</h1>
  <p class="govuk-!-padding-right-9">Set up a direct debit to make regular payments to your PFA.</p>
  <form method="get" action="top-up-dd.html">
    <button type="submit" class="govuk-button">Set up a direct debit</button>
  </form> 


</div>
{% endblock %}