{% extends "layout3.html" %}

{% block pageTitle %}
Top up dd review
{% endblock %}

<!–– Beta header ––>

{% block beforeContent %}

{% from "phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
tag: {
text: "beta"
},
html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}


<!–– Breadcrumbs ––>
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a href="home.html" class="govuk-breadcrumbs__link">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a href="account-activity-prefunded-balance.html" class="govuk-breadcrumbs__link">Account activity</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a href="top-up.html" class="govuk-breadcrumbs__link">Top up account</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a href="top-up-dd.html" class="govuk-breadcrumbs__link">Set up a direct debit</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">Confirm your direct debit amount and payment date(s)</li>
  </ol>
</div>
{% endblock %}

{% block content %}
<!-- Headings start here -->

<div class="govuk-width-container">
<!-- Local nave and header STARTS here -->
  <span class="govuk-caption-m">P57832 Scania Lincoln</span>
  <h1 class="govuk-heading-l">Confirm your direct debit amount and payment dates</h1>

<!-- Table 1 start -->
    <table class="govuk-table" id="team-member-table">  
      <tbody class="govuk-table__body">
        <hr class="govuk-!-margin-bottom-1">
        <tr class="govuk-table__row ">
          <td class="govuk-table__cell" scope="row">Direct debit amount</td>
          <td class="govuk-table__cell govuk-table__cell--numeric" scope="row">£10,000.00</td>
          <td class="govuk-table__cell govuk-table__cell--numeric" scope="row">
            <a class="govuk-link govuk-link--no-visited-state" href="top-up-dd-checked-dates.html">Change</a>
          </td> 
        </tr>
        <tr class="govuk-table__row ">
          <td class="govuk-table__cell" scope="row">Direct debit date(s)</td>
          <td class="govuk-table__cell govuk-table__cell--numeric" scope="row">5<sup>th</sup> of the month</td>
          <td class="govuk-table__cell govuk-table__cell--numeric" scope="row">
            <a class="govuk-link govuk-link--no-visited-state" href="top-up-dd-checked.html">Change</a>
          </td> 
        </tr>
      </tbody>
    </table>
<!-- Table 1 end -->
  
  <div class="govuk-inset-text">
  <p>Selecting ‘Confirm and continue to setup,’ will take you to our direct debit provider – ‘GoCardless.’</p>
  <p>Our Direct Debit Guarantee will protect you if there is ever an error in your payment. To be covered by this guarantee, enter your email address on the next page.</p>
  <p>Direct debits can take up to 10 working days to process. If your first selected payment date falls within this time, use an alternative method to top up your PFA until the next date.</p>
  </div>

  <form method="get" action="top-up-dd-set-up.html">
    <button type="submit" class="govuk-button">Confirm and proceed to payment</button>
  </form>
  
  <a href="top-up.html" class="govuk-link govuk-link--no-visited-state govuk-body">Cancel</a>

</div>
{% endblock %}