{% extends "layout-small-footer.html" %}

{% block pageTitle %}
Top up card confirmation
{% endblock %}

<!–– Beta header ––>

{% block beforeContent %}

{% from "phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
tag: {
text: "beta"
},
html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

<!-- Breadcrumbs -->
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a href="home.html" class="govuk-breadcrumbs__link">Home</a>
    </li>
  </ol>
</div>
{% endblock %}

{% block content %}
<!-- Headings start here -->
<body>
  <!-- <h1 class="govuk-heading-l">Top up pending</h1>
  <p>Your top up payment is being processed.</p>
  <p>Once your payment has been confirmed or declined the status will be updated in your transaction history.</p> -->


  <!-- <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-panel pending govuk-!-margin-bottom-6">
        <h1 class="govuk-panel__title pending">Top up pending</h1>
        <p class="govuk-panel__body pending">Your order number is<br><strong>ORD-AB123-45CD6</strong></p>
      </div>
        
      <h2 class="govuk-heading-m">What happens next</h2>
      <p class="govuk-body govuk-!-margin-bottom-6">Once your payment has been confirmed or declined the status will be updated in your <a href="placeholder.html" class="govuk-link govuk-link--no-visited-state">transaction history</a>.</p>

    </div>
  </div> -->
  
  
  <h1 class="govuk-heading-l">Top up pending</h1>
  <p class="govuk-body">Once your payment has been confirmed or declined the status will be updated in your <a href="placeholder.html" class="govuk-link govuk-link--no-visited-state">transaction history</a>.</p>
  <!-- <hr class="govuk-!-margin-bottom-6 govuk-!-margin-top-6">
  <p class="govuk-body">Your payment is being processed. Updates on this top up will be available in your <a href="placeholder.html" class="govuk-link govuk-link--no-visited-state">transaction history</a>.</p>
  <hr class="govuk-!-margin-bottom-6 govuk-!-margin-top-6">
  <p class="govuk-body">Your payment is being processed. Updates on this top up can be viewed on your <a href="placeholder.html" class="govuk-link govuk-link--no-visited-state">transaction history</a>.</p>
  <hr class="govuk-!-margin-bottom-6 govuk-!-margin-top-6">
  <p class="govuk-body">Further information on this top up will be available in your <a href="placeholder.html" class="govuk-link govuk-link--no-visited-state">transaction history</a>.</p>
  <hr class="govuk-!-margin-bottom-6 govuk-!-margin-top-6">
  <p class="govuk-body">Once your payment has been processed, information about your top up will be available in your <a href="placeholder.html" class="govuk-link govuk-link--no-visited-state">transaction history</a>.</p>
  <hr class="govuk-!-margin-bottom-6 govuk-!-margin-top-6">
  <p class="govuk-body">Your top up is being processed. View the payment status in your <a href="placeholder.html" class="govuk-link govuk-link--no-visited-state">transaction history</a>.</p>
  <hr class="govuk-!-margin-bottom-6 govuk-!-margin-top-6">
  <p class="govuk-body">Your payment is being processed. View the top up status in your <a href="placeholder.html" class="govuk-link govuk-link--no-visited-state">transaction history</a>.</p>
  <hr class="govuk-!-margin-bottom-6 govuk-!-margin-top-6">
  <p class="govuk-body">Your payment is being processed. Visit your <a href="placeholder.html" class="govuk-link govuk-link--no-visited-state">transaction history</a> to see the top up status.</p>
  <hr class="govuk-!-margin-bottom-6 govuk-!-margin-top-6">
  <p class="govuk-body">Your payment is being processed. View the top up status in your <a href="placeholder.html" class="govuk-link govuk-link--no-visited-state">transaction history</a>.</p> -->
</body>
{% endblock %}