{% extends "layout3.html" %}

{% block pageTitle %}
Set up direct debit
{% endblock %}

<!–– Beta header ––>

{% block beforeContent %}

{% from "phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
tag: {
text: "beta"
},
html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}


<!-- Breadcrumbs -->
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a href="home.html" class="govuk-breadcrumbs__link">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a href="account-activity-prefunded-balance.html" class="govuk-breadcrumbs__link">Account activity</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a href="top-up.html" class="govuk-breadcrumbs__link">Top up account</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">Set up a direct debit</li>
  </ol>
</div>
{% endblock %}

{% block content %}
<!-- Headings start here -->
<div class="govuk-width-container">
  <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
  <h2 class="govuk-error-summary__title" id="error-summary-title">
    There is a problem
  </h2>
  <div class="govuk-error-summary__body">
    <ul class="govuk-list govuk-error-summary__list">
      <li>
        <a href="#date">Select a payment date</a>
      </li>
    </ul>
  </div>
</div>
  
<!-- Local nav and header STARTS here -->
  <span class="govuk-caption-m">P57832 Scania Lincoln</span>
  <h1 class="govuk-heading-l">Set up a direct debit</h1>   
  
  <div class="govuk-form-group">
    <label class="govuk-label govuk-date-input__label" for="dob-year">Payment amount</label>
    <p class="govuk-caption-m ">£50 minimum</p>
    <input class="govuk-input govuk-date-input__input govuk-input--width-10" placeholder="£10000.00" id="amount" name="amount" placeholder="£" type="text" pattern="[0-9]*" inputmode="numeric" min="1" maxlength = "10" autocomplete="off">
  </div>
  
  <div class="govuk-form-group govuk-form-group--error">
    <p class="govuk-label">Select your repeat payment date</p>
    <span id="name-error" class="govuk-error-message">
      <span class="govuk-visually-hidden">Error:</span> Select a payment date
    </span>
    <fieldset class="govuk-fieldset">
      <div class="govuk-radios">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="date" name="radioselection" type="radio" value="transactions-all-results-single" >
          <label class="govuk-label govuk-radios__label" for="date">5th of each month</label>
        </div>

        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="date-1" name="radioselection" type="radio" value="transactions-all-results-multiple" >
          <label class="govuk-label govuk-radios__label" for="date-1">20th of each month</label>
        </div>
      </div>
    </fieldset>
  </div>
  
  <div class="govuk-inset-text">Direct debits can take up to 10 working days to set up. Make sure your account is topped up enough until this date.</div>
  <form method="get" action="top-up-dd-review.html">
    <button type="submit" class="govuk-button">Continue</button>
  </form>  
  
  <a href="top-up.html" class="govuk-link govuk-link--no-visited-state govuk-body">Cancel</a>
</div>
{% endblock %}