{% extends "layout-small-footer.html" %}

{% block pageTitle %}
Your direct debit was unsuccessful
{% endblock %}

<!–– Beta header ––>

{% block beforeContent %}

{% from "phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
tag: {
text: "beta"
},
html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
<!-- Breadcrumbs -->
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a href="home.html" class="govuk-breadcrumbs__link">Home</a>
    </li>
  
</div>
{% endblock %}

{% block content %}
<!-- Headings start here -->
<body> 
  <h1 class="govuk-heading-l">Your direct debit was unsuccessful</h1>
  <p class="govuk-body">No money has been taken from your account.</p>
  <p class="govuk-body">Contact your bank for further information or go back and try to set up again.</p>
  <form method="get" action="top-up-dd.html">
    <button type="submit" class="govuk-button">Try and set up again</button>
  </form> 
</body>
{% endblock %}