{% extends "layout3.html" %}

{% block pageTitle %}
Top up account
{% endblock %}

<!–– Beta header ––>

{% block beforeContent %}

{% from "phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
tag: {
text: "beta"
},
html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}


<!-- Breadcrumbs -->
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a href="home.html" class="govuk-breadcrumbs__link">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a href="account-activity-prefunded-balance.html" class="govuk-breadcrumbs__link">Account activity</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">Top up account</li>
  </ol>
</div>
{% endblock %}

{% block content %}
<!-- Headings start here -->

<div class="govuk-width-container">
<!-- Local nav and header STARTS here -->
  
  <div class="govuk-error-summary" role="alert" tabindex="-1">
    <h2 class="govuk-error-summary__title" id="error-summary-title">Your direct debit has been unsuccessful</h2>
    <div class="govuk-error-summary__body">
      <ul class="govuk-list govuk-error-summary__list">
        <p class="govuk-body govuk-!-margin-bottom-2">Your direct debit could not be set up. Contact your bank for further information.</p>
      </ul>
    </div>
  </div>
  
  <span class="govuk-caption-m">P57832 Scania Lincoln</span>
  <h1 class="govuk-heading-l">Account activity</h1>

  <!-- local headers START -->
  <ol class="govuk-list">
    <li> &#8212;
      <a class="govuk-link govuk-link--no-visited-state" Style="padding-left: 5px;" href="account-activity-prefunded-balance.html">Pre-funded account balance</a>
    </li>
    <li> &#8212;
      <a class="govuk-link govuk-link--no-visited-state" Style="padding-left: 5px;" href="account-activity-search.html">Search historic transactions</a>
    </li>
    <li> &#8212;
      <span Style="padding-left: 5px;">Top up account</span>
    </li>
  </ol> 
  <br>
  <hr class="govuk-!-margin-bottom-8">
  <!-- local headers END -->

  <h1 class="govuk-fieldset__legend--m" id="jump-link">Top up account</h1>  
  <!-- <span class="govuk-caption-m">P57832 Scania Lincoln</span>
  <h1 class="govuk-heading-l">Top up account</h1> -->

  <p>You can top up your account by using a credit or debit card, or set up a repeat direct debit. <br>Payment via BACS is not supported.</p>

  <hr class="govuk-!-margin-bottom-6 govuk-!-margin-top-6">
  
  <h1 class="govuk-fieldset__legend--s" >Credit or debit card</h1>
  <p class="govuk-!-padding-right-9">Use a credit or debit card to top up your pre-funded account.<br> If you are unable to top up online, you can call us on 0300 1239000.</p>
  <form method="get" action="top-up-card.html">
    <button class="govuk-button govuk-!-margin-bottom-6" type="submit" class="govuk-button">Top up by card</button>
  </form>  

  <hr class="govuk-!-margin-bottom-6">

  <h1 class="govuk-fieldset__legend--s">Direct debit</h1>
  
  <div class="govuk-date-input__item">
    <p class="govuk-!-margin-bottom-4">You have set up a direct debit with the following details:</p>
    <table class="govuk-table govuk-!-margin-bottom-2">
      <tbody class="govuk-table__body">
        <hr class="govuk-!-margin-bottom-1">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Status</th>
          <td class="govuk-table__cell">Failed</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Amount</th>
          <td class="govuk-table__cell">£12,000.00</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Date</th>
          <td class="govuk-table__cell">5<sup>th</sup> of each month</td>
        </tr>
      </tbody>
    </table>
    <p class="govuk-body">
      <a class="govuk-link govuk-link--no-visited-state govuk-!-padding-right-2" href="top-up-dd-confirm-change.html">Change</a>
      <a class="govuk-link govuk-link--no-visited-state" href="top-up-dd-confirm-removal.html">Remove</a>
    </p>
  </div>    

  <hr class="govuk-!-margin-top-2 govuk-!-margin-bottom-6">
  
  <h1 class="govuk-fieldset__legend--s">Cheque or Postal Order</h1>
  <p class="govuk-body">Send a cheque or Postal Order to top up your pre-funded account to: </p>
	<p class="govuk-body">Driver and Vehicle Standards Agency (DVSA),<br>
	Finance,<br>
  Ellipse,<br>
	Padley Road<br>
	Swansea,<br>
	SA1 8AN</p>
  <p class="govuk-body">Make sure you include your pre-funded account number, and make these payable to Driver and Vehicle Standards Agency (DVSA), crossed “Account Payee only.”</p>

</div>
{% endblock %}