{% extends "layout3.html" %}

{% block pageTitle %}
Page loading
{% endblock %}

<!–– Beta header ––>

{% block beforeContent %}

{% from "phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
tag: {
text: "beta"
},
html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}


<!–– Breadcrumbs ––>

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="home.html">Home</a>
    </li>
  </ol>
</div>
{% endblock %}

{% block content %}
<thead class="govuk-table__head">
<body class="govuk-template__body ">
  <a href="#main-content" class="govuk-skip-link">Skip to main content</a>
  <script src="/govuk-frontend/all.js"></script>
  <script>window.GOVUKFrontend.initAll()</script>

  <h1 class="govuk-heading-l">Loading your historic transactions</h1>
  
</body>
{% endblock %}