{% extends "layout.html" %} {% block page_title %} Manage your Authorised Testing Facility {% endblock %} {% block page_content %}

<div class="grid-row">
	<div class="column-two-thirds">

		<h1 class="heading-xlarge">
			Manage your Authorised Testing Facility
		</h1>

		<h2 class="heading-medium">Prototype</h2>
		<ul class="list list-bullet">
		<li><a href="{{urlRoot}}prototype">Welcome Page</a></li>
		<li><a href="{{urlRoot}}prototype/login">Login Page</a></li>
		<li><a href="{{urlRoot}}prototype/account-summary">Account Summary</a></li>
		<li><a href="{{urlRoot}}prototype/account-history">Account History</a></li>
		<li><a href="{{urlRoot}}prototype/test-details">Test History Drilldown Example</a></li>
		<li><a href="{{urlRoot}}prototype/payment-receipt">Payment Receipt Example</a></li>
		<li><a href="{{urlRoot}}prototype/topup">Topup Page</a></li>
		<li><a href="{{urlRoot}}prototype/topup-summary">Topup Summary Page</a></li>
		<li><a href="{{urlRoot}}prototype/topup-success">Topup Success Page</a></li>
		<li><a href="{{urlRoot}}prototype/topup-failure">Topup Failure Page</a></li>
		<li><a href="{{urlRoot}}prototype/multi-site-user">Multi-site Page</a></li>
		<li><a href="{{urlRoot}}prototype/dave-test">Dave Test!</a></li>
		</ul>

		<h2 class="heading-medium">Examples and documentation</h2>

		<ul class="list list-bullet">
			<li>
				<a href="https://govuk-prototype-kit.herokuapp.com/docs">Example pages and documentation</a>
			</li>
		</ul>

		<h2 class="heading-medium">Other resources</h2>

		<ul class="list list-bullet">
			<li>
				<a href="https://govuk-elements.herokuapp.com/snippets/">
					Guide to GOV.UK Elements
				</a>
			</li>
			<li>
				<a href="https://www.gov.uk/service-manual">
					Service design manual
				</a>
			</li>
			<li>
				<a href="https://www.gov.uk/design-principles">
					Government Digital Service Design Principles
				</a>
			</li>
			<li>
				<a href="https://github.com/alphagov/govuk_prototype_kit">Prototype Kit on GitHub</a>
			</li>
		</ul>

	</div>
</div>

{% endblock %}