{% extends "layout-sign-in.html" %}

{% block pageTitle %}
MFA options
{% endblock %}

<!-- Beta header -->

{% block beforeContent %}

{% from "phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
tag: {
text: "beta"
},
html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}


<!-- Breadcrumbs -->
<a href="../create-account/password.html" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
<a href="#main-content" class="govuk-skip-link">Skip to main content</a>
<script src="/govuk-frontend/all.js"></script>
<script>window.GOVUKFrontend.initAll()</script>

<body class="govuk-template__body">
  <span class="govuk-caption-l">Multi-factor authentication</span>
  <h1 class="govuk-heading-l">Select an authetication option</h1> 
  
  <!-- <p class="govuk-body">Your chosen MFA provider will be used when you sign in to verify your identity.</p> -->
  <p class="govuk-body">Your chosen MFA provider will be used to verify your identity when signing in.</p>
  <!-- <p class="govuk-body">Your chosen MFA provider will verify your identity when signing in.</p> -->
  
  <form action="../">
    <fieldset class="govuk-fieldset">
      <div class="govuk-radios">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="text-message" name="radioselection" type="radio" value="set-up-mobile">
          <label class="govuk-label govuk-radios__label" for="sign-in">Text message</label>
          <span id="sign-in-item-hint" class="govuk-hint govuk-radios__hint">UK mobile number</span>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="authentication-app" name="radioselection" type="radio" value="set-up-app">
          <label class="govuk-label govuk-radios__label" for="sign-in">Authentication app for smartphone or tablet</label>
          <span id="sign-in-item-hint" class="govuk-hint govuk-radios__hint">Microsoft/Google authenticator</span>
        </div>
      </div>
      <div class="govuk-!-margin-bottom-6"></div> 
      <input type="button" class="govuk-button" value="Continue" onclick="ob=this.form.radioselection;for(i=0;i<ob.length;i++){if(ob[i].checked){window.open(ob[i].value,'_self');};}" />
    </fieldset>
  </form>
  <p class="govuk-body">
    <a class="govuk-link govuk-link--no-visited-state" href="../create-account/password.html">Cancel</a>
  </p>
  <p class="govuk-body-s govuk-!-margin-bottom-2">Cannot use any of these options? </p>
  <p class="govuk-body-s">Contact DVSA customer support at enquiries@dvsa.gov.uk</p>
  
</body>
{% endblock %}