{% extends "layout-sign-in.html" %}

{% block pageTitle %}
Identity Verification
{% endblock %}

<!-- Beta header -->

{% block beforeContent %}

{% from "phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
tag: {
text: "beta"
},
html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}


<!-- Breadcrumbs -->
<a href="set-up-mobile.html" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
<a href="#main-content" class="govuk-skip-link">Skip to main content</a>
<script src="/govuk-frontend/all.js"></script>
<script>window.GOVUKFrontend.initAll()</script>

<body class="govuk-template__body ">
  <span class="govuk-caption-l">Multi-factor authentication</span>
  <h1 class="govuk-heading-l">Check your phone</h1> 
  
  <p class="govuk-body">We have sent a 6-digit security code to your phone.</p>
  
  <div class="govuk-form-group">  
    <label class="govuk-label" for="securitycode">Security code</label>
    <input class="govuk-input govuk-input--width-5" id="securitycode" name="width-5" type="text">
  </div> 

  <form method="get" action="../create-account/set-up-confirmation.html">
    <button type="submit" class="govuk-button">Submit</button>
  </form>
  
  <p class="govuk-body govuk-!-margin-bottom-8">
    <a class="govuk-link govuk-link--no-visited-state" href="../placeholder.html">Resend code</a>
  </p>
  
  <p class="govuk-body">
    <a class="govuk-link govuk-link--no-visited-state" href="../create-account/password.html">Cancel</a>
  </p>
</body>
{% endblock %}
