.app-cookie-banner {
  @include govuk-font(16);
  @include govuk-text-colour;
  box-sizing: border-box;
  width: 100%;
  // padding-top: govuk-spacing(1);
  // padding-right: govuk-spacing(1);
  // padding-bottom: govuk-spacing(1);
  // padding-left: govuk-spacing(1);
  // background-color: lighten(desaturate(govuk-colour("#f3f2f1"), 8.46), 42.55);
  background-color: #f3f2f1;
  // border: solid black 2px;
  text-align: left;
  color: black;
}

.cookies-title{
  margin-top: 5% !important;
}

.app-cookie-banner, .app-cookie-banner__button{
  color: #048633;
}

.cookiesSpacer{
  margin-right: 2%;
}

.app-cookie-banner__message {
  margin: 0;
  @include govuk-width-container;
}

.cookies-button{
  width: 40% !important;
}

.cookies-button--margin{
  margin-left: 4%;
}

.app-cookie-banner__button{
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  width: auto;
  line-height: 1;
  display: inline-block;
  color: #048633;
  border: 2px solid #048633;
  background-color: white !important;
  text-align: center;
}

.govuk-button--start{
  background-image: none !important;
  padding-right: 1% !important;
}

@include govuk-media-query($media-type: print) {
  .app-cookie-banner {
    display: none !important;
  }
}


