{% extends "layout-sign-in.html" %}

{% block pageTitle %}
Reset password - Confirmation
{% endblock %}

<!-- Beta header -->
{% block beforeContent %}

{% from "phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
tag: {
text: "beta"
},
html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}


<!-- Breadcrumbs -->
{% endblock %}

{% block content %}
<script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
<a href="#main-content" class="govuk-skip-link">Skip to main content</a>
<script src="/govuk-frontend/all.js"></script>
<script>window.GOVUKFrontend.initAll()</script>

<body class="govuk-template__body">
  <h1 class="govuk-heading-l">Password changed</h1>
  
  <p class="govuk-body">Your password has been successfully changed.</p>
  
  <form method="get" action="../home.html">
    <button type="submit" class="govuk-button">Home</button>
  </form>
</body>
{% endblock %}
