{% extends "layout-sign-in.html" %}

{% block pageTitle %}
Reset password - Confirmation
{% endblock %}

<!-- Beta header -->
{% block beforeContent %}

{% from "phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
tag: {
text: "beta"
},
html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}


<!-- Breadcrumbs -->
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a href="../account-details.html" class="govuk-breadcrumbs__link">Your settings</a>
    </li>
  </ol>
</div>
{% endblock %}

{% block content %}
<script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
<a href="#main-content" class="govuk-skip-link">Skip to main content</a>
<script src="/govuk-frontend/all.js"></script>
<script>window.GOVUKFrontend.initAll()</script>

<body class="govuk-template__body">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-panel confirmation govuk-!-margin-bottom-6">
        <h1 class="govuk-panel__title confirmation">Your password has been changed</h1>
      </div>
      
      <p class="govuk-body">Sign in with this password when you next visit the Manage Your Authorised Testing Facility portal.</p>
      
      <form method="get" action="../account-details.html">
        <button type="submit" class="govuk-button">Your settings</button>
      </form>
    </div>
  </div>
</body>
{% endblock %}
