{% extends "layout-sign-in.html" %}

{% block pageTitle %}
New password
{% endblock %}

<!-- Beta header -->

{% block beforeContent %}

{% from "phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
tag: {
text: "beta"
},
html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

<!-- Breadcrumbs -->
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a href="../home.html" class="govuk-breadcrumbs__link">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a href="../account-details.html" class="govuk-breadcrumbs__link">Settings</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      Change password
    </li>
  </ol>
</div>
{% endblock %}

{% block content %}
<script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
<a href="#main-content" class="govuk-skip-link">Skip to main content</a>
<script src="/govuk-frontend/all.js"></script>
<script>window.GOVUKFrontend.initAll()</script>

<body class="govuk-template__body ">
  <h1 class="govuk-heading-l">Change password</h1>

  <div class="govuk-form-group">
    <label class="govuk-label" for="password">Current password</label>
    <input class="govuk-input textwidth" id="password" name="password" type="password" aria-describedby="mobile">
  </div> 

  <div class="govuk-form-group">
    <label class="govuk-label" for="password">New password</label>
    <label class="govuk-caption-m">Password must be 10 characters or more, and not easily guessed</label>
    <input class="govuk-input textwidth govuk-!-margin-bottom-6" id="password" name="password" type="password" aria-describedby="mobile">
      
    <label class="govuk-label" for="mobile">Confirm new password</label>
    <input class="govuk-input textwidth" id="width-20" name="width-10" type="password">
  </div> 

  <form method="get" action="confirmation.html">
    <button type="submit" class="govuk-button">Continue</button>
  </form>
</body>
{% endblock %}