<!DOCTYPE html>
<!--[if lt IE 9]><html class="no-js lte-ie8" lang="en"><![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->

<head>
    <link rel="stylesheet" type="text/css" href="../public/stylesheets/application.css">

    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />

    <title>
        Invoice: 1-3498244389
    </title>

    <script type="text/javascript">
        (function () { if (navigator.userAgent.match(/IEMobile\/10\.0/)) { var d = document, c = "appendChild", a = d.createElement("style"); a[c](d.createTextNode("@-ms-viewport{width:auto!important}")); d.getElementsByTagName("head")[0][c](a); } })();
    </script>


    <!--[if gt IE 8]><!-->
    <link href="https://www.tax.service.gov.uk/template/assets/stylesheets/govuk-template.css" media="screen" rel="stylesheet"
        type="text/css" />
    <!--<![endif]-->
    <!--[if IE 6]><link href="/template/assets/stylesheets/govuk-template-ie6.css" media="screen" rel="stylesheet" type="text/css" /><![endif]-->
    <!--[if IE 7]><link href="/template/assets/stylesheets/govuk-template-ie7.css" media="screen" rel="stylesheet" type="text/css" /><![endif]-->
    <!--[if IE 8]><link href="/template/assets/stylesheets/govuk-template-ie8.css" media="screen" rel="stylesheet" type="text/css" /><![endif]-->



    <!--[if IE 8]>
        <script type="text/javascript">
            (function(){if(window.opera){return;}
                setTimeout(function(){var a=document,g,b={families:(g=
                                ["nta"]),urls:["/template/assets/stylesheets/fonts-ie8.css"]},
                        c="/template/assets/javascripts/vendor/goog/webfont-debug.js",d="script",
                        e=a.createElement(d),f=a.getElementsByTagName(d)[0],h=g.length;WebFontConfig
                        ={custom:b},e.src=c,f.parentNode.insertBefore(e,f);for(;h=h-1;a.documentElement
                        .className+=' wf-'+g[h].replace(/\s/g,'').toLowerCase()+'-n4-loading');},0)
            })()
        </script>
    <![endif]-->
    <!--[if gte IE 9]><!-->
    <link href="https://www.tax.service.gov.uk/template/assets/stylesheets/fonts.css" media="all" rel="stylesheet" type="text/css" />
    <!--<![endif]-->


    <!--[if lt IE 9]>
        <script src="/template/assets/javascripts/ie.js" type="text/javascript"></script>
    <![endif]-->

    <link rel="shortcut icon" href="https://www.tax.service.gov.uk/template/assets/images/favicon.ico" type="image/x-icon" />

    <!-- For third-generation iPad with high-resolution Retina display: -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="https://www.tax.service.gov.uk/template/assets/images/apple-touch-icon-144x144.png">
    <!-- For iPhone with high-resolution Retina display: -->
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="https://www.tax.service.gov.uk/template/assets/images/apple-touch-icon-114x114.png">
    <!-- For first- and second-generation iPad: -->
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="https://www.tax.service.gov.uk/template/assets/images/apple-touch-icon-72x72.png">
    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <link rel="apple-touch-icon-precomposed" href="https://www.tax.service.gov.uk/template/assets/images/apple-touch-icon-57x57.png">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:image" content="/template/assets/images/opengraph-image.png">

    <!-- head -->
    <!--[if lt IE 8 ]>
            <link rel="stylesheet" href="/assets/3.2.3/stylesheets/application-ie7.min.css" />
    <![endif]-->
    <!--[if IE 8 ]>
            <link rel="stylesheet" href="/assets/3.2.3/stylesheets/application-ie.min.css" />
    <![endif]-->
    <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="https://www.tax.service.gov.uk/assets/3.2.3/stylesheets/application.min.css" />
    <!--<![endif]-->


    <!--[if IE]>
                    <link rel="stylesheet" type="text/css" href="/personal-account/assets/css/041af4f5ee30089015dae3d441c0f85e-ie.css" />
                <![endif]-->
    <!-- <link rel="stylesheet" type="text/css" href="https://www.tax.service.gov.uk/personal-account/assets/stylesheets/19d85ff481e194bfd2b27c0b4271793d-pertaxMain.css" /> -->



    <!-- <script src="https://www.tax.service.gov.uk/assets/3.2.3/javascripts/vendor/modernizr.js" type="text/javascript"></script> -->


</head>

<body>
    <script type="text/javascript">document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

    <div id="skiplink-container">
        <div>
            <a href="#skipto" class="skiplink">Skip to main content</a>
        </div>
    </div>

    <header role="banner" id="global-header" class="with-proposition">
        <div class="header-wrapper">

            <div class="header-global">
                <div class="header-logo">
                    <a href="https://www.gov.uk/" title="Go to the GOV.UK homepage" data-journey-click="header:Click:GOV UK"
                        id="logo" class="content">
                        <img src="https://www.tax.service.gov.uk/template/assets/images/gov.uk_logotype_crown.png" alt="">
                        GOV.UK
                    </a>
                </div>
            </div>

            <div class="header-proposition">
                <div class="content">
                    <nav id="proposition-menu" class="header__menu" role="navigation">
                        <span class="header__menu__proposition-name">DVSA ATF administration</span>

                        <a href="#proposition-links" class="js-header-toggle menu">


                            Menu

                        </a>
                        <ul id="proposition-links" class="header__menu__proposition-links">

                            <li>
                                <span class="faded-text--small"><strong class="bold">English |</strong></span>
                                <a id="switchToWelsh" lang="cy"
                                    "/personal-account/lang/cyGb?redirectUrl&#61;%2Fpersonal-account"
                                    data-journey-click="link - click:lang-select:Cymraeg"><small><strong class="bold">Cymraeg</strong></small></a>
                            </li>


                        </ul>

                    </nav>
                </div>
            </div>
        </div>
    </header>
    <div class="govuk-phase-banner" style="margin-left: 16.5%; margin-right: 16.5%;">
        <p class="govuk-phase-banner__content"><strong class="govuk-tag govuk-phase-banner__content__tag ">
                beta
            </strong>
            <span class="govuk-phase-banner__text" style="font-size: 16px;">
                This is a new service – your
                <a class="govuk-link" href="#">feedback</a> will help us to improve it.
            </span>
        </p>
    </div>





    <div class="location" style="margin-left: 16.5%; margin-right: 16.5%">
        <nav role="navigation" aria-label="breadcrumbs" class="breadcrumbs">
            <br>
            <ol>

                <li><a href="/index.html" aria-level="1">ATF Sites</a></li>

                <li style="background-image: url(./public/images/separator.png)">
                    <a href="/atf/scania-lincoln.html" aria-level="2">Scania Lincoln</a></li>

                <li style="background-image: url(./public/images/separator.png)">
                    <a href="/invoice-page.html" aria-level="3">View
                        Invoices</a></li>
                <li style="background-image: url(./public/images/separator.png); text-decoration: none;">
                    Invoice 1-3498244389</a></li>
            </ol>
        </nav>
    </div>


    <div class="dvsa-logo" style="margin-left: 16.5%; margin-right: 16.5%; margin-top: 1%;">
        <img src="./public/images/dvsa-logo.png" style="float:right; width: 25%; height: 25%">
        <!-- <span style="float: right; font-size: 18px; margin-top: 20%; margin-right: -10%">
            D V S A<br>
            Ellipse<br>
            Padley Road<br>
            SWANSEA<br>
            SA1 8AN<br>
        </span> -->
    </div>

    <div class="atf-info" style="margin-left: 16.5%; margin-right: 16.5%; font-size: 18px;">
        <h1 style="font-size: 32px; ">P-67145 - Scania Lincoln</h1>
        <p style="line-height: 0.5; color: gray ">Plot 5, Whisby Way</p>
        <p style="line-height: 0.5; color: gray">Whisby Road Industrial Estate</p>
        <p style="line-height: 0.5; color: gray">Lincoln</p>
        <p style="line-height: 0.5; color: gray">LN6 3LQ</p>
    </div>

    <br><br>

    <style>
        tr:hover {
            background-color: #f5f5f5;
        }
    </style>

    <br><br><br><br><br>
    <div class="above-table-info" style="margin-left: 16.5%; margin-right: 16.5%; display:flex; flex-direction: row; justify-content: space-between">
        <span style="margin: 0; padding: 0; font-weight: bold; font-size: 48px">Invoice</span>
        <span style="align-self: flex-start; font-size: 18px">

            Telephone no.: 03000 200 100<br>
            VAT no.: 133527855<br>
            Invoice no.: 1-3498244389<br>
            Date: 10 December 2018</span>

        </span>
    </div>
    <br><br>
    <div class="download-invoice" style="margin-left: 16.5%; margin-right: 16.5%; display:flex; flex-direction: row; justify-content: space-between">
        <span style="margin: 0; padding: 0; font-size: 18px"> <a href="">Download invoice (PDF. 24KB)</a></span>
    </div>

    <br>

    <div class="invoice-table" style="margin-left: 16.5%; margin-right: 16.5%; font-size: 14px">
        <table>
            <tr>
                <th style="font-weight: bold; font-size: 18px; padding: 10px">Test date</th>
                <th style="font-weight: bold; font-size: 18px">Activity</th>
                <th style="font-weight: bold; font-size: 18px">Registration</th>
                <th style="font-weight: bold; font-size: 18px; text-align: right">Fee</th>
                <th style="font-weight: bold; font-size: 18px; text-align: right">VAT</th>
                <th style="font-weight: bold; font-size: 18px; padding: 10px; text-align: right;">Total fees</th>
            </tr>
            <tr>
                <td style="font-size: 18px; padding: 10px">10 December 2018</td>
                <td style="font-size: 18px">2 axle motor vehicle annual test</td>
                <td style="font-size: 18px">PO58LFN</td>
                <td style="font-size: 18px; text-align: right">£91.00</td>
                <td style="font-size: 18px; text-align: right">£0.00</td>
                <td style="font-size: 18px; text-align: right; padding: 10px">£188.00</td>
            </tr>
            <tr>
                <td style="font-size: 18px; padding: 10px">10 December 2018</td>
                <td style="font-size: 18px">2 axle motor vehicle annual test</td>
                <td style="font-size: 18px">KV63CYC</td>
                <td style="font-size: 18px; text-align: right">£91.00</td>
                <td style="font-size: 18px; text-align: right">£0.00</td>
                <td style="font-size: 18px; text-align: right; padding: 10px">£91.00</td>
            </tr>
            <tr>
                <td style="font-size: 18px; padding: 10px">10 December 2018</td>
                <td style="font-size: 18px">3 axle motor vehicle annual test</td>
                <td style="font-size: 18px">73HHN9</td>
                <td style="font-size: 18px; text-align: right">£64.00</td>
                <td style="font-size: 18px; text-align: right">£0.00</td>
                <td style="font-size: 18px; text-align: right; padding: 10px">£64.00</td>
            </tr>
            <tr>
                <td style="font-size: 18px; padding: 10px">10 December 2018</td>
                <td style="font-size: 18px">1 axle motor vehicle annual test</td>
                <td style="font-size: 18px">HDS7J8</td>
                <td style="font-size: 18px; text-align: right">£41.00</td>
                <td style="font-size: 18px; text-align: right">£0.00</td>
                <td style="font-size: 18px; text-align: right; padding: 10px">£41.00</td>
            </tr>
            <tr>
                <td style="font-size: 18px; padding: 10px">10 December 2018</td>
                <td style="font-size: 18px">3 axle motor vehicle annual test</td>
                <td style="font-size: 18px">CN54MKU</td>
                <td style="font-size: 18px; text-align: right">£188.00</td>
                <td style="font-size: 18px; text-align: right">£0.00</td>
                <td style="font-size: 18px; text-align: right; padding: 10px">£188.00</td>
            </tr>
            <tr>
                <td style="font-size: 18px; padding: 10px">10 December 2018</td>
                <td style="font-size: 18px">2 axle motor vehicle annual test</td>
                <td style="font-size: 18px">WV63VBN</td>
                <td style="font-size: 18px; text-align: right">£133.00</td>
                <td style="font-size: 18px; text-align: right">£0.00</td>
                <td style="font-size: 18px; text-align: right; padding: 10px">£133.00</td>
            </tr>
            <tr>
                <td style="font-size: 18px; padding: 10px">10 December 2018</td>
                <td style="font-size: 18px">Under utilisation fee</td>
                <td style="font-size: 18px"></td>
                <td style="font-size: 18px; text-align: right">£174.00</td>
                <td style="font-size: 18px; text-align: right">£34.80</td>
                <td style="font-size: 18px; text-align: right; padding: 10px">£208.80</td>
            </tr>
            <tr style="height: 60px">
                <td style="font-size: 18px; background-color: lightgray;"></td>
                <td style="font-size: 18px; background-color: lightgray; font-weight: bold;">Total</td>
                <td style="font-size: 18px; background-color: lightgray; font-weight: bold;"></td>
                <td style="font-size: 18px; background-color: lightgray; font-weight: bold;text-align: right;">£756.00</td>
                <td style="font-size: 18px; background-color: lightgray; font-weight: bold;text-align: right;">£34.80</td>
                <td style="font-size: 18px; background-color: lightgray; font-weight: bold;text-align: right; padding: 10px;">£790.80</td>
            </tr>
        </table>
        <br>
    </div>
    <div class="text-below-table" style="margin-left: 16.5%; margin-right: 16.5%;">
        <span style="font-weight:bold; font-size: 20px">Paid in full on 8 December from </span><span><a href="" style="font-weight:normal ;font-size: 20px;">your
                pre-funded account</a></span>
    </div>

    <br>

    <div class="download-invoice" style="margin-left: 16.5%; margin-right: 16.5%; display:flex; flex-direction: row; justify-content: space-between">
        <span style="margin: 0; padding: 0; font-size: 18px; "> <a href="">Download invoice (PDF, 24KB)</a></span>
    </div>

    <br>

    <div class="return-to-account" style="margin-left: 16.5%; margin-right: 16.5%; display:flex; flex-direction: row; justify-content: space-between">
        <span style="margin: 0; padding: 0; font-size: 18px; "> <a href="">Return to account</a></span>
    </div>
    <br><br><br><br><br><br>

    <footer class="govuk-footer " role="contentinfo">
        <div class="govuk-width-container ">

            <div class="govuk-footer__meta">
                <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">


                    <h2 class="govuk-visually-hidden">Support links</h2>
                    <ul class="govuk-footer__inline-list">

                        <li class="govuk-footer__inline-list-item">
                            <a class="govuk-footer__link" href="/invoice.html">
                                Clear data
                            </a>
                        </li>

                        <li class="govuk-footer__inline-list-item">
                            <a class="govuk-footer__link" href="../docs/cookies">
                                Cookies
                            </a>
                        </li>

                        <li class="govuk-footer__inline-list-item">
                            <a class="govuk-footer__link" href="./docs/privacy-policy">
                                Privacy policy
                            </a>
                        </li>

                    </ul>



                    <svg role="presentation" focusable="false" class="govuk-footer__licence-logo" xmlns="http://www.w3.org/2000/svg"
                        viewbox="0 0 483.2 195.7" height="17" width="41">
                        <path fill="currentColor" d="M421.5 142.8V.1l-50.7 32.3v161.1h112.4v-50.7zm-122.3-9.6A47.12 47.12 0 0 1 221 97.8c0-26 21.1-47.1 47.1-47.1 16.7 0 31.4 8.7 39.7 21.8l42.7-27.2A97.63 97.63 0 0 0 268.1 0c-36.5 0-68.3 20.1-85.1 49.7A98 98 0 0 0 97.8 0C43.9 0 0 43.9 0 97.8s43.9 97.8 97.8 97.8c36.5 0 68.3-20.1 85.1-49.7a97.76 97.76 0 0 0 149.6 25.4l19.4 22.2h3v-87.8h-80l24.3 27.5zM97.8 145c-26 0-47.1-21.1-47.1-47.1s21.1-47.1 47.1-47.1 47.2 21 47.2 47S123.8 145 97.8 145" />
                    </svg>
                    <span class="govuk-footer__licence-description">
                        All content is available under the
                        <a class="govuk-footer__link" href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/"
                            rel="license">Open Government Licence v3.0</a>, except where otherwise stated
                    </span>
                </div>
                <div class="govuk-footer__meta-item">
                    <a class="govuk-footer__link govuk-footer__copyright-logo" href="https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/uk-government-licensing-framework/crown-copyright/">©
                        Crown copyright</a>
                </div>
            </div>
        </div>
    </footer>




    <!-- Javascript -->
    <script src="../public/javascripts/jquery-1.11.3.js"></script>
    <script src="../node_modules/govuk-frontend/all.js"></script>
    <script src="../public/javascripts/docs.js"></script>


    <script src="../public/javascripts/auto-store-data.js"></script>


    <!-- GOV.UK Prototype Kit v8.1.0 -->

</body>

</html>