{% extends "layout-sign-in.html" %}

{% block pageTitle %}
MFA code text message
{% endblock %}

<!-- Beta header -->

{% block beforeContent %}

{% from "phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
tag: {
text: "beta"
},
html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}


<!-- Breadcrumbs -->
<a href="mfa-code.html" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
<a href="#main-content" class="govuk-skip-link">Skip to main content</a>
<script src="/govuk-frontend/all.js"></script>
<script>window.GOVUKFrontend.initAll()</script>

<body class="govuk-template__body ">
  <h1 class="govuk-heading-l">One time access code</h1> 
  
  <p class="govuk-body">Contact the DVSA at enquiries@dvsa.gov.uk to get a 6-digit one time access code.</p>
  
  <!-- <p>You can change your registered mobile number, you can change it when logged into the portal.</p> -->
  <!-- <p>You can change your registered mobile number when logged into the portal.</p> -->
  <div class="govuk-inset-text">Your registered mobile number can be changed within the portal.</div>
  
  <div class="govuk-form-group">  
    <label class="govuk-label" for="securitycode">Access code</label>
    <input class="govuk-input govuk-input--width-5" id="securitycode" name="width-5" type="text">
  </div> 

  <form method="get" action="../home.html">
    <button type="submit" class="govuk-button">Continue</button>
  </form>
  
  <p class="govuk-body">
    <a class="govuk-link govuk-link--no-visited-state" href="mfa-code-resent.html">Resend code</a>
  </p>
</body>
{% endblock %}
