{% extends "layout-sign-in.html" %}

{% block pageTitle %}
Check your phone
{% endblock %}

<!-- Beta header -->

{% block beforeContent %}

{% from "phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
tag: {
text: "beta"
},
html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}


<!-- Breadcrumbs -->
<a href="login.html" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
<a href="#main-content" class="govuk-skip-link">Skip to main content</a>
<script src="/govuk-frontend/all.js"></script>
<script>window.GOVUKFrontend.initAll()</script>

<body class="govuk-template__body ">
  <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
    <h2 class="govuk-error-summary__title" id="error-summary-title">There is a problem</h2>
    <div class="govuk-error-summary__body">
      <ul class="govuk-list govuk-error-summary__list">
        <li>
          <span class="govuk-error-message">Account locked after too many failed sign in attempts. Try again at 9.45am</span>
        </li>
      </ul>
    </div>
  </div>
  
  <h1 class="govuk-heading-l">Check your phone</h1> 
  
  <p>A 6-digit code has been sent to 07*****0789. It may take a few minutes to arrive.</p>
  
  <div class="govuk-form-group govuk-form-group--error">  
    <label class="govuk-label" for="securitycode">Access code</label>
    <span class="govuk-error-message">Account locked after too many failed sign in attempts. Try again at 9.45am</span>

    <input class="govuk-input govuk-input--error govuk-input--width-5" id="securitycode" name="width-5" type="text">
  </div> 

  <form method="get" action="../home.html">
    <button type="submit" class="govuk-button">Continue</button>
  </form>
  
  <!-- <p class="govuk-body govuk-!-margin-bottom-2">
    <a class="govuk-link govuk-link--no-visited-state" href="mfa-code-resent.html">Resend code</a>
  </p>
  <!-- <p class="govuk-body">
    <a class="govuk-link govuk-link--no-visited-state" href="mfa-code-no-access.html">I don’t have access to this phone</a>
  </p> -->
</body>
{% endblock %}
