.atf-pagination {
	ul {
		list-style: none;
		li {
			display: inline-block;
		}
	}
	.atf-pagination-link {
		padding: 0px 5px;
	}
	.atf-active {
		// TODO: pointer-events not supported in older IE versions might
		// need to swap out <a> tag for something else instead of overriding
		pointer-events: none;
		text-decoration: none;
		@extend .atf-black;
	}
}