.atf-search-box {
	@extend .atf-box;
	select {
		width: $full-width;
	}
	input.flatpickr {
		width: $two-thirds;
	}
	.form-label {
		@extend .bold;
	}
	.atf-date-range-text-wrapper {
		position: relative;
		.atf-date-range-text {
			position: absolute;
			top: 5px;
			left: -60px;
		}
	}
	.multiple-choice {
		color: $black;
	}
	.atf-radio-circle {
		background-color: $white;
		border-radius: 20px;
		position: absolute;
		left: 0;
		top: 0;
		width: 38px;
		height: 38px;
		z-index: 0;
	}
}
