.search-bar {
	.search-wrapper {
		display: table;
		width: 100%;
		position: relative;
		border-collapse: separate;
		.search-input {
			position: relative;
			padding: 0 0 0 10px;
			z-index: 2;
			float: left;
			width: 100%;
			margin: 0;
			display: table-cell;
			height: 48px;
			border: 1px solid #bfc1c3;
			border-right: none;
		}
		.search-submit {
			width: 1%;
			white-space: nowrap;
			vertical-align: middle;
			display: table-cell;
			button {
				background-position: 8px -10px;
				border: none;
				height: 50px;
				text-indent: -5000px;
				width: 50px;
				margin-left: 12px;
				color: #fff;
				background-color: $govuk-blue;
			}
		}
	}


}