{% extends "layout2.html" %}

{% block pageTitle %}
Activity summary
{% endblock %}

<!–– Beta header ––>

{% block beforeContent %}

{% from "phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
tag: {
text: "beta"
},
html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}


<!–– Breadcrumbs ––>

<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="home.html">Home</a>
        </li>

        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link">Account activity</a>
        </li>

    </ol>
</div>


{% endblock %}
{% block content %}

<!-- Headings start here -->

<div class="govuk-width-container">

    <main class="govuk-main-wrapper">


        <!-- Local nave and header STARTS here -->

        <span id="with-hint-hint" class="govuk-hint" style="margin-top: 0%; margin-bottom: 0%;">P57832 Scania Lincoln</span>
        <thead class="govuk-table__head">

            <h1 class="govuk-heading-l" style="margin-bottom: 2px">Account activity</h1>





            <div>
                <p class="v-space10">space</p>
            </div>




            <!-- links start here -->


            <ol class="govuk-list" style="font-size:large">

                <li style="margin-bottom: 10px;"> &#8212;
                    <a href="#summary-table" class="govuk-link govuk-link--no-visited-state" Style="padding-left: 5px;">Summary</a></li>

                <li style="margin-bottom: 10px;"> &#8212;
                    <a class="govuk-link govuk-link--no-visited-state" Style="padding-left: 5px;" href="account-balance.html">Top up pre-funded account (PFA)</a></li>


                <li style="margin-bottom: 10px;"> &#8212;
                    <a class="govuk-link govuk-link--no-visited-state" Style="padding-left: 5px;" href="activity-history-search.html">Transactions</a></li>



              
 


                <li style="margin-bottom: 10px;">
                    <p class="v-space2">space</p>
                </li>

            </ol>
            <hr>
            <p class="v-space10">space</p>


            <!-- Local nave and header ENDS here -->








            <!-- Table starts here -->








            <table class="govuk-table sum-table" id="summary1">
                <h1 class="govuk-fieldset__legend--m" style="margin-bottom: 2px">
                    <a id="summary-table">Summary</a>
                </h1>
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <p class="v-space10 mobile-hide">space</p>
                    </tr>
                </thead>


                <tbody class="govuk-table__body" id="summary1">

                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell" id="sum-line1" scope="row" >PFA balance
                            </td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">£2123.89</td>
                    </tr>


                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell" id="sum-line2" scope="row" >Today's running total</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">£963.00</td>
                    </tr>





                </tbody>
            </table>



            <div>
                <p class="v-space">space</p>
            </div>







</div>


</main>
</div>


{% endblock %}