{% extends "layout2.html" %}

{% block pageTitle %}
Pre-funded account
{% endblock %}

<!–– Beta header ––>

{% block beforeContent %}

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}



{{ govukPhaseBanner({
tag: {
text: "beta"
},
html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}




<!–– Breadcrumbs ––>

<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="home.html">Home</a>
        </li>

        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link">Account activity</a>
        </li>

    </ol>
</div>


{% endblock %}
{% block content %}

<!-- Headings start here -->

<div class="govuk-width-container">

    <main class="govuk-main-wrapper">


        <!-- Local nav and header STARTS here -->

        <span id="with-hint-hint" class="govuk-hint" style="margin-top: 0%; margin-bottom: 0%;">P57832 Scania Lincoln</span>
        <thead class="govuk-table__head">

            <h1 class="govuk-heading-l" style="margin-bottom: 2px"> Account activity</h1>





            <div>
                <p class="v-space10">space</p>
            </div>


<!-- Test START here -->








<!-- Test END here -->

            <!-- links START here -->
            <ol class="govuk-list" style="font-size:large">

                <li style="margin-bottom: 10px;"> &#8212;
                    <a href="account-summary.html" class="govuk-link govuk-link--no-visited-state" Style="padding-left: 5px;">Summary</a></li>

                <li style="margin-bottom: 10px;"> &#8212;
                    <a class="govuk-link govuk-link--no-visited-state" Style="padding-left: 5px;" href="#jump-link">Top up pre-funded account (PFA)</a></li>


                <li style="margin-bottom: 10px;"> &#8212;
                    <a class="govuk-link govuk-link--no-visited-state" Style="padding-left: 5px;" href="activity-history-search.html">Transactions</a></li>



              
 


                <li style="margin-bottom: 10px;">
                    <p class="v-space2">space</p>
                </li>

            </ol>
                            <!-- links END here -->


                            <div><p class="v-space10">space</p></div>



            
            <hr>
            <p class="v-space10">space</p>


            <!-- Local nav and header ENDS here -->






            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                   


                    <!-- summary block starts here -->



                    <table class="govuk-table" id="jump-link">
                        <h1 class="govuk-fieldset__legend--m">
                         Top up pre-funded account (PFA)
                          <span id="with-hint-hint" class="govuk-hint" style="margin-top: 0%; margin-bottom: 0%;">Monday October 8 2018</span>
                          
                        </h1>
                        <thead class="govuk-table__head">
                          <tr class="govuk-table__row">
                            <th class="govuk-table__header" scope="col"></th>
                  
                            <th class="govuk-table__header govuk-table__header--numeric" scope="col"></th>
                          </tr>
                        </thead>


                        <tbody class="govuk-table__body">
                          <tr class="govuk-table__row">
                            <td class="govuk-table__cell" scope="row" id="home-line1">Balance </td>
                            <td class="govuk-table__cell govuk-table__cell--numeric" id="home-line2"><strong>£2,123.89 </strong></td>
                              </tbody>
                      </table>



                      <a href="placeholder.html" role="button" draggable="false" class="govuk-button">
                        Top up PFA
                      </a>







                    </div>


                <!-- Sidebar -->



            </div>

    </main>
</div>


{% endblock %}