{% extends "layout2.html" %}

{% block pageTitle %}
Home
{% endblock %}

<!–– Beta header ––>

{% block beforeContent %}

{% from "phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
tag: {
text: "beta"
},
html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}


<!–– Breadcrumbs ––>

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link">Home</a>
    </li>
  </ol>
</div>
{% endblock %}

{% block content %}




<script src="/govuk-frontend/all.js"></script>
<script>
  window.GOVUKFrontend.initAll()

</script>




<script>
  document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');

</script>

<a href="#main-content" class="govuk-skip-link">Skip to main content</a>






<span id="with-hint-hint" class="govuk-hint" style="margin-top: 0%; margin-bottom: 0%;">P57832 Scania Lincoln</span>

<h1 class="govuk-heading-xl">Manage your ATF</h1>

  <body class="govuk-template__body ">






    <ul class="home-block">

      <li class="home-block">
        <a class="register-theme__link" href="activity-summary.html">
          <h3 class="register-theme__heading govuk-heading-m govuk-!-margin-bottom-0 govuk-!-padding-bottom-5" style="color: #005EA5">Site
            management</h3>


          <p class="govuk-body-s"> View real-time and historic visit details </p>


          <p></p>

        </a></li>

      <li class="home-block"><a class="register-theme__link" href="account-balance.html">
          <h3 class="register-theme__heading govuk-heading-m govuk-!-margin-bottom-0 govuk-!-padding-bottom-5" style="color: #005EA5">
            Account activity</h3>


          <p class="govuk-body-s"> View balance and historic transactions</p>
          <p class="register-theme__description govuk-body-s"><strong>Current balance : £2,123.89</strong></p>

        </a></li>






      <div>
        <p class="v-space">space</p>
      </div>


    </ul>









 





  </body>

  </html>
  {% endblock %}