{% extends "layout2.html" %}

{% block pageTitle %}
Beta Prototype
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column">
    <h1 class="govuk-heading-xl">
      Index
      <span class="govuk-caption-xl"></span>
    </h1>


    <span id="with-hint-hint" class="govuk-body-s" style="margin-top: 0%;">Status levels: <span style="color:gray;" >1. In design</span> | <span style="color:orange;">2. Ready for UX peer review</span> | <span style="color:orange;">3. Ready for 3 Amigos sign-off</span> | <span style="color:orange;">4. Ready for PO sign-off</span> | <span style="color:green;">5. Signed-off</span>


    <div>
        <p class="v-space">space</p>
      </div>

      <!–– sprint 7 starts here ––>

      <div>

        <table class="govuk-table">
  
          <h1 class="govuk-fieldset__legend--m" style="margin-bottom: 2px">
            Sprint 7 - Release 1 version of My ATF
          </h1>
          <span id="with-hint-hint" class="govuk-hint" style="margin-top: 0%;">28 Nov 2018 - 11 Dec 2018</span>
  
  
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="col">Page</th>
              <th class="govuk-table__header" scope="col">Story</th>
              <th class="govuk-table__header" scope="col">Status</th>
  
  
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell govuk-body-m" scope="row"><a href="sign-in.html">Sign-in</a></td>
              <td class="govuk-table__cell govuk-body-m" scope="row"><a href="#" target="_blank">Story to be created</a></td>
              <td class="govuk-table__cell govuk-body-m" scope="row" style="color:gray; padding-left:5px">Backlog</td>
  
            </tr>

            <tr class="govuk-table__row">
              <td class="govuk-table__cell govuk-body-m" scope="row"><a href="home.html">Home</a></td>
              <td class="govuk-table__cell govuk-body-m" scope="row"><a href="https://jira.i-env.net/browse/CVSB-397" target="_blank">CVSB-397</a></td>
              <td class="govuk-table__cell govuk-body-m" scope="row" style="color:green; padding-left:5px">Signed-off</td>
  
            </tr>
  

  
            <tr class="govuk-table__row">
              <td class="govuk-table__cell govuk-body-m" scope="row"><a href="account-balance.html">Account activity - Balance</a></td>
              <td class="govuk-table__cell govuk-body-m" scope="row"><a href="https://jira.i-env.net/browse/CVSB-207" target="_blank">CVSB-207</a></td>
              <td class="govuk-table__cell govuk-body-m" scope="row" style="color:gray; padding-left:5px">Backlog</td>
  
            </tr>
  
            <tr class="govuk-table__row">
              <td class="govuk-table__cell govuk-body-m" scope="row"><a href="todays-activity.html">Site management - Today's activity</a></td>
              <td class="govuk-table__cell govuk-body-m" scope="row"><a href="https://jira.i-env.net/browse/CVSB-193" target="_blank">CVSB-193 </a> / <a href="https://jira.i-env.net/browse/CVSB-491" target="_blank">CVSB-491 </a></td>
              <td class="govuk-table__cell govuk-body-m" scope="row" style="color:green; padding-left:5px">Signed-off / Elaboration</td>
  
            </tr>
  
            <tr class="govuk-table__row">
              <td class="govuk-table__cell govuk-body-m" scope="row"><a href="activity-history-search.html">Account activity - Transaction search</a></td>
              <td class="govuk-table__cell govuk-body-m" scope="row"><a href="https://jira.i-env.net/browse/CVSB-195" target="_blank">CVSB-195</a></td>
              <td class="govuk-table__cell govuk-body-m" scope="row" style="color:green; padding-left:5px">Signed-off</td>
  
            </tr>
  
            <tr class="govuk-table__row">
              <td class="govuk-table__cell govuk-body-m" scope="row"><a href="myatf-account.html">Account activity - Transactions</a></td>
              <td class="govuk-table__cell govuk-body-m" scope="row"><a href="https://jira.i-env.net/browse/CVSB-195" target="_blank">CVSB-195</a></td>
              <td class="govuk-table__cell govuk-body-m" scope="row" style="color:orange; padding-left:5px">Signed-off</td>
  
            </tr>
  
            <tr class="govuk-table__row">
                <td class="govuk-table__cell govuk-body-m" scope="row"><a href="invoice.html">Invoice</a></td>
                <td class="govuk-table__cell govuk-body-m" scope="row"><a href="https://jira.i-env.net/browse/CVSB-196" target="_blank">CVSB-196</a></td>
                <td class="govuk-table__cell govuk-body-m" scope="row" style="color:Green; padding-left:5px">Signed-off</td>
    
              </tr>

  
  
  
  
  
  
          </tbody>
        </table>
      </div>
      <div>
        <p class="v-space">space</p>
      </div>
  
      <!–– sprint 7 ends here ––>



      <!–– sprint 6 starts here ––>


    <div>

      <table class="govuk-table">

        <h1 class="govuk-fieldset__legend--m" style="margin-bottom: 2px">
          Sprint 6 - Broad solution showing navigation
        </h1>
        <span id="with-hint-hint" class="govuk-hint" style="margin-top: 0%;">14 Nov 2018 - 27 Nov 2018</span>


        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">Page</th>
            <th class="govuk-table__header" scope="col">Story</th>
            <th class="govuk-table__header" scope="col">Status</th>


          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell govuk-body-m" scope="row"><a href="sprint6/home.html">Home</a></td>
            <td class="govuk-table__cell govuk-body-m" scope="row"><a href="https://jira.i-env.net/browse/CVSB-397" target="_blank">CVSB-397</a></td>
            <td class="govuk-table__cell govuk-body-m" scope="row" style="color:orange; padding-left:5px">Ready for PO sign-off</td>

          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell govuk-body-m" scope="row"><a href="sprint6/activity-summary.html">Site management - Summary</a></td>
            <td class="govuk-table__cell govuk-body-m" scope="row"><a href="#" target="_blank">Story to be created</a></td>
            <td class="govuk-table__cell govuk-body-m" scope="row" style="color:orange; padding-left:5px">Ready for 3 Amigos</td>

          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell govuk-body-m" scope="row"><a href="sprint6/account-balance.html">Account activity - Balance</a></td>
            <td class="govuk-table__cell govuk-body-m" scope="row"><a href="https://jira.i-env.net/browse/CVSB-207" target="_blank">CVSB-207</a></td>
            <td class="govuk-table__cell govuk-body-m" scope="row" style="color:orange; padding-left:5px">Ready for PO sign-off</td>

          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell govuk-body-m" scope="row"><a href="sprint6/todays-activity.html">Site management - Today's activity</a></td>
            <td class="govuk-table__cell govuk-body-m" scope="row"><a href="https://jira.i-env.net/browse/CVSB-193" target="_blank">CVSB-193</a></td>
            <td class="govuk-table__cell govuk-body-m" scope="row" style="color:orange; padding-left:5px">Ready for PO sign-off</td>

          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell govuk-body-m" scope="row"><a href="sprint6/activity-history-search.html">Account activity - Transaction search</a></td>
            <td class="govuk-table__cell govuk-body-m" scope="row"><a href="https://jira.i-env.net/browse/CVSB-195" target="_blank">CVSB-195</a></td>
            <td class="govuk-table__cell govuk-body-m" scope="row" style="color:orange; padding-left:5px">Ready for PO sign-off</td>

          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell govuk-body-m" scope="row"><a href="sprint6/myatf-account.html">Account activity - Transactions</a></td>
            <td class="govuk-table__cell govuk-body-m" scope="row"><a href="https://jira.i-env.net/browse/CVSB-195" target="_blank">CVSB-195</a></td>
            <td class="govuk-table__cell govuk-body-m" scope="row" style="color:orange; padding-left:5px">Ready for PO sign-off</td>

          </tr>

          <tr class="govuk-table__row">
              <td class="govuk-table__cell govuk-body-m" scope="row"><a href="sprint6/invoice.html">Invoice</a></td>
              <td class="govuk-table__cell govuk-body-m" scope="row"><a href="https://jira.i-env.net/browse/CVSB-196" target="_blank">CVSB-196</a></td>
              <td class="govuk-table__cell govuk-body-m" scope="row" style="color:orange; padding-left:5px">Ready for PO sign-off</td>
  
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell govuk-body-m" scope="row"><a href="sprint6/invoice-printout.html">Printable invoice</a></td>
                <td class="govuk-table__cell govuk-body-m" scope="row"><a href="https://jira.i-env.net/browse/CVSB-196" target="_blank">CVSB-196</a></td>
                <td class="govuk-table__cell govuk-body-m" scope="row" style="color:orange; padding-left:5px">Ready for UX peer review</td>
    
              </tr>






        </tbody>
      </table>
    </div>

    <!–– sprint 6 ends here ––>





    <div>
        <p class="v-space">space</p>
      </div>



    <h2 class="govuk-heading-m" style="margin-bottom: 2px">Sprint 5</h2>
    <span id="with-hint-hint" class="govuk-hint" style="margin-top: 0%;">31 Oct 2018 - 13 Nov 2018</span>
    <ul class="govuk-list govuk-list--bullet">
      <li><a href="/sprint5/home.html">Home</a></li>
      <li><a href="/sprint5/todays-activity.html">Today's activity</a></li>
      <li><a href="/sprint5/activity-history-search.html">Search invoice period</a></li>
      <li><a href="/sprint5/activity-history-results.html">Invoice history</a></li>
    </ul>

    <h2 class="govuk-heading-m" style="margin-bottom: 2px">Sprint 4</h2>
    <span id="with-hint-hint" class="govuk-hint" style="margin-top: 0%;">17 October 2018 - 30 Oct 2018</span>
    <ul class="govuk-list govuk-list--bullet">
      <li><a href="/sprint4/home.html">Home</a></li>
    </ul>



    <h2 class="govuk-heading-m">Sprint 3</h2>

    <ul class="govuk-list govuk-list--bullet">
      <li><a href="https://marvelapp.com/51bg9da/screen/49352605" target="_blank">Marvel prototype</a></li>
    </ul>
  </div>
</div>


<br><br><br>
<h2 class="govuk-heading-m">Other links</h2>

<ul class="govuk-list govuk-list--bullet">
  <li><a href="https://webui-dev.nonprod.cvs.dvsacloud.uk/" target="_blank">Alpha prototype</a></li>
</ul>
</div>
</div>
<!-- test -->

{% endblock %}


