{% extends "layout.html" %}

{% block pageTitle %}
Beta Prototype
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Index (No homepage yet)
      <span class="govuk-caption-xl"></span>
    </h1>

    <h2 class="govuk-heading-m">Pages</h2>
    <ul class="govuk-list govuk-list--bullet">
      <li><a href="./todays-activity.html">Today's Activity</a></li>
    </ul>


    <br><br><br>
    <h2 class="govuk-heading-m">Other links</h2>

    <ul class="govuk-list govuk-list--bullet">
      <li><a href="https://webui-dev.nonprod.cvs.dvsacloud.uk/" target="_blank">Alpha prototype</a></li>
    </ul>
  </div>
</div>
{% endblock %}