{% extends "layout2.html" %}

{% block pageTitle %}
Beta Prototype
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Index
      <span class="govuk-caption-xl"></span>
    </h1>





    <h2 class="govuk-heading-m" style="margin-bottom: 2px">Sprint 5</h2>
    <span id="with-hint-hint" class="govuk-hint" style="margin-top: 0%;">31 Oct 2018 - 13 Nov 2018</span>
    <ul class="govuk-list govuk-list--bullet">
      <li><a href="home.html">Home</a></li>
      <li><a href="todays-activity.html">Today's activity</a></li>
      <li><a href="activity-history-search.html">Search invoice period</a></li>
      <li><a href="activity-history-results.html">Invoice history</a></li>
    </ul>

    <h2 class="govuk-heading-m" style="margin-bottom: 2px">Sprint 4</h2>
    <span id="with-hint-hint" class="govuk-hint" style="margin-top: 0%;">17 October 2018 - 30 Oct 2018</span>
    <ul class="govuk-list govuk-list--bullet">
      <li><a href="/sprint4/home.html">Home</a></li>
    </ul>


  
    <h2 class="govuk-heading-m">Sprint 3</h2>

    <ul class="govuk-list govuk-list--bullet">
      <li><a href="https://marvelapp.com/51bg9da/screen/49352605" target="_blank">Marvel prototype</a></li>
    </ul>
  </div>
</div>


<br><br><br>
<h2 class="govuk-heading-m">Other links</h2>

<ul class="govuk-list govuk-list--bullet">
  <li><a href="https://webui-dev.nonprod.cvs.dvsacloud.uk/" target="_blank">Alpha prototype</a></li>
</ul>
</div>
</div>
<!-- test -->

{% endblock %}