{% extends "layout2.html" %}

{% block pageTitle %}
Invoice
{% endblock %}

<!–– Beta header ––>

{% block beforeContent %}

{% from "phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
tag: {
text: "beta"
},
html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}


<!–– Breadcrumbs ––>

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="home.html">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="account-balance.html">Account activity</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="activity-history-search.html">Search</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="myatf-account.html">Transactions</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link">10 June 2018</a>
    </li>


  </ol>
</div>
{% endblock %}

{% block content %}
<span id="with-hint-hint" class="govuk-hint" style="margin-top: 0%; margin-bottom: 0%;">P57832 Scania Lincoln</span>
<thead class="govuk-table__head">



<body class="govuk-template__body ">


  <a href="#main-content" class="govuk-skip-link">Skip to main content</a>





  <script src="/govuk-frontend/all.js"></script>
  <script>
    window.GOVUKFrontend.initAll()

  </script>

  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset" aria-describedby="how-contacted-conditional-hint">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
        <h1 class="govuk-fieldset__heading">
          Account activity
        </h1>
      </legend>
      <div>
          <p class="v-space10">space</p>
      </div>

      <div class="box">

          <ul class="govuk-list" style="font-size:large">

 

              <li style="margin-bottom: 10px;"> &#8212;
                  <a class="govuk-link govuk-link--no-visited-state" Style="padding-left: 5px;" href="account-balance.html">Pre-funded account</a>
                  </li>


                  <li style="margin-bottom: 10px; "> &#8212;
                      <span Style="padding-left: 5px;"> Transactions</span>
                      </li>






                  <li style="margin-bottom: 10px;">
                      <p class="v-space10">space</p>
                  </li>
    
              </ul>
              <hr>      
              <div>
                  <p class="v-space10">space</p>
              </div>                
      

              </div>

<body class="govuk-template__body ">
  <script>
    document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');

  </script>

  <a href="#main-content" class="govuk-skip-link">Skip to main content</a>





  <script src="/govuk-frontend/all.js"></script>
  <script>
    window.GOVUKFrontend.initAll()

  </script>






  





  <!–– 6 column table  ––>

  

  <table class="govuk-table">
    <h1 class="govuk-fieldset__legend--l">
      Transaction

      <span id="with-hint-hint" class="govuk-hint" style="margin-top: 0%; margin-bottom: 0%;">10 June 2018</span>
    </h1>
    <p class="govuk-body"><a href="activity-history-search.html" class="govuk-link govuk-link--no-visited-state">
        Search for another transaction </a></p>

              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th class="govuk-table__header" scope="col">Test date</th>
                  <th class="govuk-table__header govuk-table__header--numeric" scope="col" style="text-align: left;">Time</th>
                  <th class="govuk-table__header" scope="col">Activity</th>
                  <th class="govuk-table__header" scope="col">Registration/ID</th>
                  <th class="govuk-table__header govuk-table__header--numeric" scope="col">Net amount</th>
                  <th class="govuk-table__header govuk-table__header--numeric" scope="col">VAT</th>
                  <th class="govuk-table__header govuk-table__header--numeric" scope="col" style="padding-right: 5px;">Total
                    amount</th>

                </tr>
              </thead>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell govuk-body-s" scope="row">10 June 2018</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s" style="text-align: left;">08:00</td>
                  <td class="govuk-table__cell govuk-body-s" scope="row">2 axle TRAILER annual test</td>
                  <td class="govuk-table__cell govuk-body-s" scope="row">C896121</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s">£54.00</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s">£0.00</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s" style="padding-right: 5px;">£54.00</td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell govuk-body-s" scope="row">10 June 2018</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s" style="text-align: left;">09:02</td>
                  <td class="govuk-table__cell govuk-body-s" scope="row">	3 axle motor vehicle annual test</td>
                  <td class="govuk-table__cell govuk-body-s" scope="row">KV63 CYC</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s">£113.00</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s">£0.00</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s" style="padding-right: 5px;">£113.00</td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell govuk-body-s" scope="row">10 June 2018</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s" style="text-align: left;">09:53</td>
                  <td class="govuk-table__cell govuk-body-s" scope="row">3 axle motor vehicle annual test</td>
                  <td class="govuk-table__cell govuk-body-s" scope="row">JY52 PDF</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s">£113.00</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s">£0.00</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s" style="padding-right: 5px;">£113.00</td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell govuk-body-s" scope="row">10 June 2018</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s" style="text-align: left;">10:05</td>
                  <td class="govuk-table__cell govuk-body-s" scope="row">4 axle motor vehicle annual test</td>
                  <td class="govuk-table__cell govuk-body-s" scope="row">X973 PYK</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s">£137.00</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s">£0.00</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s" style="padding-right: 5px;">£137.00</td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell govuk-body-s" scope="row">10 June 2018</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s" style="text-align: left;">10:55</td>
                  <td class="govuk-table__cell govuk-body-s" scope="row">2 axle motor vehicle annual test</td>
                  <td class="govuk-table__cell govuk-body-s" scope="row">AB58 XWV</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s">£91.00</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s">£0.00</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s" style="padding-right: 5px;">£91.00</td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell govuk-body-s" scope="row">10 June 2018</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s" style="text-align: left;">11:41</td>
                  <td class="govuk-table__cell govuk-body-s" scope="row">3 axle motor vehicle annual test</td>
                  <td class="govuk-table__cell govuk-body-s" scope="row">BM55 NLV</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s">£113.00</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s">£0.00</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s" style="padding-right: 5px;">£113.00</td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell govuk-body-s" scope="row">10 June 2018</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s" style="text-align: left;">12:17</td>
                  <td class="govuk-table__cell govuk-body-s" scope="row">2 axle motor vehicle annual test</td>
                  <td class="govuk-table__cell govuk-body-s" scope="row">RP16 OJW</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s">£91.00</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s">£0.00</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s" style="padding-right: 5px;">£91.00</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell govuk-body-s" scope="row">10 June 2018</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s" style="text-align: left;"></td>
                    <td class="govuk-table__cell govuk-body-s" scope="row">Retained fee</td>
                    <td class="govuk-table__cell govuk-body-s" scope="row"></td>
                    <td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s">£44.00</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s">£8.80</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s" style="padding-right: 5px;">£52.80</td>
                  </tr>
                <tr class="govuk-table__row" style="background: #dee0e2">
                  <td class="govuk-table__cell govuk-body-s" scope="row"></td>
                  <td class="govuk-table__cell govuk-body-s" style="text-align: left;"></td>
                  <td class="govuk-table__cell govuk-body-s" scope="row"></td>
                  <td class="govuk-table__cell govuk-body-s" scope="row"></td>
                  <td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s"><strong>£756.00</strong></td>
                  <td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s"><strong>£8.80</strong></td>
                  <td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s" style="padding-right: 5px;"><strong>£764.80</strong></td>
                </tr>






              </tbody>
            </table>


          </div>


         


    

         




          <p class="v-space10">space</p>

       


          <!–– Payment advice START ––>

          <div>

            <table class="govuk-table">

              <h1 class="govuk-fieldset__legend--m" style="margin-bottom: 2px">
               Payment advice
              </h1>
              <span id="with-hint-hint" class="govuk-hint" style="margin-top: 0%;">Invoice paid</span>

              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th class="govuk-table__header" scope="col">Date</th>
                  <th class="govuk-table__header" scope="col">Reference No</th>
                  <th class="govuk-table__header" scope="col">Payment type</th>
                  <th class="govuk-table__header govuk-table__header--numeric" scope="col" style="padding-right: 5px;">Total amount</th>

                </tr>
              </thead>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell govuk-body-s" scope="row">11 June 2018</td>
                  <td class="govuk-table__cell govuk-body-s" scope="row">0123456789</td>
                  <td class="govuk-table__cell govuk-body-s" scope="row">Pre-funded account</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s" style="padding-right: 5px;">£764.80</td>
                </tr>






              </tbody>
            </table>
          </div>


            <!–– Payment advice END ––>






        </body>

        </html>
        {% endblock %}