{% extends "layout2.html" %}

{% block pageTitle %}
Invoice
{% endblock %}

<!–– Beta header ––>

{% block beforeContent %}

{% from "phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
tag: {
text: "beta"
},
html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}


<!–– Breadcrumbs ––>

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="home.html">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="account-balance.html">Account activity</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="activity-history-search.html">Search</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link">4 January 2019</a>
    </li>


  </ol>
</div>
{% endblock %}

{% block content %}
<span id="with-hint-hint" class="govuk-hint" style="margin-top: 0%; margin-bottom: 0%;">P57832 Scania Lincoln</span>
<thead class="govuk-table__head">



  <body class="govuk-template__body ">


    <a href="#main-content" class="govuk-skip-link">Skip to main content</a>





    <script src="/govuk-frontend/all.js"></script>
    <script>
      window.GOVUKFrontend.initAll()

    </script>

    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" aria-describedby="how-contacted-conditional-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">
            Account activity
          </h1>
        </legend>
        <div>
          <p class="v-space10">space</p>
        </div>

        <div class="box">

          <ul class="govuk-list" style="font-size:large">



            <li style="margin-bottom: 10px;"> &#8212;
              <a class="govuk-link govuk-link--no-visited-state" Style="padding-left: 5px;" href="account-balance.html">Pre-funded
                account</a>
            </li>


            <li style="margin-bottom: 10px; "> &#8212;
              <span Style="padding-left: 5px;"> Transactions</span>
            </li>


            <li style="margin-bottom: 10px;"> &#8212;
              <a class="govuk-link govuk-link--no-visited-state" Style="padding-left: 5px;" href="sign-in.html">Sign
                out</a></li>



            <li style="margin-bottom: 10px;">
              <p class="v-space10">space</p>
            </li>

          </ul>
          <hr>
          <div>
            <p class="v-space10">space</p>
          </div>


        </div>

        <body class="govuk-template__body ">
          <script>
            document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');

          </script>

          <a href="#main-content" class="govuk-skip-link">Skip to main content</a>





          <script src="/govuk-frontend/all.js"></script>
          <script>
            window.GOVUKFrontend.initAll()

          </script>












          <!–– 6 column table  ––>



          <table class="govuk-table" style="font-size:medium">
            <h1 class="govuk-fieldset__legend--m">
              Transaction

              <span id="with-hint-hint" class="govuk-hint" style="margin-top: 0%; margin-bottom: 0%;">4 January 2019</span>
            </h1>
            <p class="govuk-body"><a href="activity-history-search.html" class="govuk-link govuk-link--no-visited-state">
                Search for another transaction </a></p>


            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="col">Test date</th>
                <th class="govuk-table__header govuk-table__header--numeric" scope="col" style="text-align: left;">Time</th>
                <th class="govuk-table__header" scope="col">Activity</th>
                <th class="govuk-table__header" scope="col">Registration/ID</th>
                <th class="govuk-table__header govuk-table__header--numeric" scope="col">Net amount</th>
                <th class="govuk-table__header govuk-table__header--numeric" scope="col">VAT</th>
                <th class="govuk-table__header govuk-table__header--numeric" scope="col" style="padding-right: 5px;">Total
                  amount</th>

              </tr>
            </thead>
            <tbody class="govuk-table__body">


              <tr class="govuk-table__row">
                <td class="govuk-table__cell govuk-body-s" scope="row" id="transaction-line1">4 January 2019</td>
                <td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s" style="text-align: left;" id="transaction-line2">08:00</td>
                <td class="govuk-table__cell govuk-body-s" scope="row" id="transaction-line3">4 axle motor vehicle
                  annual test</td>
                <td class="govuk-table__cell govuk-body-s" scope="row" id="transaction-line4">AB60 PPP</td>
                <td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s" id="transaction-line5">£137.00</td>
                <td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s" id="transaction-line6">£0.00</td>
                <td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s" style="padding-right: 5px;" id="transaction-line7">£137.00</td>
              </tr>

              <tr class="govuk-table__row">
                  <td class="govuk-table__cell govuk-body-s" scope="row" id="transaction-line1">4 January 2019</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s" style="text-align: left;" id="transaction-line2">08:00</td>
                  <td class="govuk-table__cell govuk-body-s" scope="row" id="transaction-line3">3 axle motor vehicle
                    annual test</td>
                  <td class="govuk-table__cell govuk-body-s" scope="row" id="transaction-line4">XN56 GYP</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s" id="transaction-line5">£113.00</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s" id="transaction-line6">£0.00</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s" style="padding-right: 5px;" id="transaction-line7">£113.00</td>
                </tr>

              <!–– ^ done  ––>

              <tr class="govuk-table__row">
                <td class="govuk-table__cell govuk-body-s" scope="row" id="transaction-line1">4 January 2019</td>
                <td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s" style="text-align: left;" id="transaction-line2">08:44</td>
                <td class="govuk-table__cell govuk-body-s" scope="row" id="transaction-line3"> 3 axle motor vehicle
                  annual test</td>
                <td class="govuk-table__cell govuk-body-s" scope="row" id="transaction-line4">FB58 BEN</td>
                <td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s" id="transaction-line5">£113.00</td>
                <td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s" id="transaction-line6">£0.00</td>
                <td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s" style="padding-right: 5px;" id="transaction-line7">£113.00</td>
              </tr>

              <tr class="govuk-table__row">
                  <td class="govuk-table__cell govuk-body-s" scope="row" id="transaction-line1">4 January 2019</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s" style="text-align: left;" id="transaction-line2">08:59</td>
                  <td class="govuk-table__cell govuk-body-s" scope="row" id="transaction-line3"> 3 axle motor vehicle
                    annual test</td>
                  <td class="govuk-table__cell govuk-body-s" scope="row" id="transaction-line4">KS58 YTS</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s" id="transaction-line5">£113.00</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s" id="transaction-line6">£0.00</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s" style="padding-right: 5px;" id="transaction-line7">£113.00</td>
                </tr>

              <!–– ^ done  ––>


              <tr class="govuk-table__row">
                <td class="govuk-table__cell govuk-body-s" scope="row" id="transaction-line1">4 January 2019</td>
                <td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s" style="text-align: left;" id="transaction-line2">09:32</td>
                <td class="govuk-table__cell govuk-body-s" scope="row" id="transaction-line3">3 axle motor vehicle
                  annual test</td>
                <td class="govuk-table__cell govuk-body-s" scope="row" id="transaction-line4">OH67 GFL</td>
                <td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s" id="transaction-line5">£113.00</td>
                <td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s" id="transaction-line6">£0.00</td>
                <td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s" style="padding-right: 5px;" id="transaction-line7">£113.00</td>
              </tr>

              <tr class="govuk-table__row">
                  <td class="govuk-table__cell govuk-body-s" scope="row" id="transaction-line1">4 January 2019</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s" style="text-align: left;" id="transaction-line2">09:47</td>
                  <td class="govuk-table__cell govuk-body-s" scope="row" id="transaction-line3">2 axle trailer
                    annual test</td>
                  <td class="govuk-table__cell govuk-body-s" scope="row" id="transaction-line4">C98562</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s" id="transaction-line5">£54.00</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s" id="transaction-line6">£0.00</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s" style="padding-right: 5px;" id="transaction-line7">£54.00</td>
                </tr>

              <!–– ^ done  ––>


              <tr class="govuk-table__row">
                <td class="govuk-table__cell govuk-body-s" scope="row" id="transaction-line1">4 January 2019</td>
                <td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s" style="text-align: left;" id="transaction-line2">10:17</td>
                <td class="govuk-table__cell govuk-body-s" scope="row" id="transaction-line3">3 axle motor vehicle
                  annual test</td>
                <td class="govuk-table__cell govuk-body-s" scope="row" id="transaction-line4">BAC67 PEA</td>
                <td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s" id="transaction-line5">£113.00</td>
                <td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s" id="transaction-line6">£0.00</td>
                <td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s" style="padding-right: 5px;" id="transaction-line7">£113.00</td>
              </tr>

              <tr class="govuk-table__row">
                  <td class="govuk-table__cell govuk-body-s" scope="row" id="transaction-line1">4 January 2019</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s" style="text-align: left;" id="transaction-line2">10:20</td>
                  <td class="govuk-table__cell govuk-body-s" scope="row" id="transaction-line3">3 axle motor vehicle
                    annual test</td>
                  <td class="govuk-table__cell govuk-body-s" scope="row" id="transaction-line4">PJ59 JMS</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s" id="transaction-line5">£113.00</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s" id="transaction-line6">£0.00</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s" style="padding-right: 5px;" id="transaction-line7">£113.00</td>
                </tr>

              <!–– ^ done  ––>


              <tr class="govuk-table__row">
                <td class="govuk-table__cell govuk-body-s" scope="row" id="transaction-line1">4 January 2019</td>
                <td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s" style="text-align: left;" id="transaction-line2">11:01</td>
                <td class="govuk-table__cell govuk-body-s" scope="row" id="transaction-line3">3 axle motor vehicle
                  annual test</td>
                <td class="govuk-table__cell govuk-body-s" scope="row" id="transaction-line4">XF58 HGO</td>
                <td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s" id="transaction-line5">£113.00</td>
                <td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s" id="transaction-line6">£0.00</td>
                <td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s" style="padding-right: 5px;" id="transaction-line7">£113.00</td>
              </tr>

              <tr class="govuk-table__row">
                  <td class="govuk-table__cell govuk-body-s" scope="row" id="transaction-line1">4 January 2019</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s" style="text-align: left;" id="transaction-line2">11:20</td>
                  <td class="govuk-table__cell govuk-body-s" scope="row" id="transaction-line3">4 axle motor vehicle
                    annual test</td>
                  <td class="govuk-table__cell govuk-body-s" scope="row" id="transaction-line4">DA53 KTP</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s" id="transaction-line5">£137.00</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s" id="transaction-line6">£0.00</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s" style="padding-right: 5px;" id="transaction-line7">£137.00</td>
                </tr>

              <!–– ^ done  ––>


              <tr class="govuk-table__row">
                <td class="govuk-table__cell govuk-body-s" scope="row" id="transaction-line1">4 January 2019</td>
                <td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s" style="text-align: left;" id="transaction-line2">11:49</td>
                <td class="govuk-table__cell govuk-body-s" scope="row" id="transaction-line3">4 axle motor vehicle
                  annual test</td>
                <td class="govuk-table__cell govuk-body-s" scope="row" id="transaction-line4">NG17 TYK</td>
                <td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s" id="transaction-line5">£137.00</td>
                <td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s" id="transaction-line6">£0.00</td>
                <td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s" style="padding-right: 5px;" id="transaction-line7">£137.00</td>
              </tr>

              <tr class="govuk-table__row">
                  <td class="govuk-table__cell govuk-body-s" scope="row" id="transaction-line1">4 January 2019</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s" style="text-align: left;" id="transaction-line2">12:18</td>
                  <td class="govuk-table__cell govuk-body-s" scope="row" id="transaction-line3">4 axle motor vehicle
                    annual test</td>
                  <td class="govuk-table__cell govuk-body-s" scope="row" id="transaction-line4">TQ15 HXB</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s" id="transaction-line5">£137.00</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s" id="transaction-line6">£0.00</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s" style="padding-right: 5px;" id="transaction-line7">£137.00</td>
                </tr>

              <!–– ^ done  ––>


              <tr class="govuk-table__row">
                <td class="govuk-table__cell govuk-body-s" scope="row" id="transaction-line1">4 January 2019</td>
                <td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s" style="text-align: left;" id="transaction-line2">12:51</td>
                <td class="govuk-table__cell govuk-body-s" scope="row" id="transaction-line3"> 4 axle motor vehicle
                  annual test</td>
                <td class="govuk-table__cell govuk-body-s" scope="row" id="transaction-line4">LT57 UYG</td>
                <td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s" id="transaction-line5">£137.00</td>
                <td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s" id="transaction-line6">£0.00</td>
                <td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s" style="padding-right: 5px;" id="transaction-line7">£137.00</td>
              </tr>

              <tr class="govuk-table__row">
                  <td class="govuk-table__cell govuk-body-s" scope="row" id="transaction-line1">4 January 2019</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s" style="text-align: left;" id="transaction-line2">13:20</td>
                  <td class="govuk-table__cell govuk-body-s" scope="row" id="transaction-line3"> 4 axle motor vehicle
                    annual test</td>
                  <td class="govuk-table__cell govuk-body-s" scope="row" id="transaction-line4">XP65 MGR</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s" id="transaction-line5">£137.00</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s" id="transaction-line6">£0.00</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s" style="padding-right: 5px;" id="transaction-line7">£137.00</td>
                </tr>

              <!–– ^ done  ––>

              <tr class="govuk-table__row">
                <td class="govuk-table__cell govuk-body-s" scope="row" id="transaction-line1">4 January 2019</td>
                <td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s" style="text-align: left;" id="transaction-line2">13:53</td>
                <td class="govuk-table__cell govuk-body-s" scope="row" id="transaction-line3"> 4 axle motor vehicle
                  annual test</td>
                <td class="govuk-table__cell govuk-body-s" scope="row" id="transaction-line4">PL61 JYV</td>
                <td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s" id="transaction-line5">£137.00</td>
                <td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s" id="transaction-line6">£0.00</td>
                <td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s" style="padding-right: 5px;" id="transaction-line7">£137.00</td>
              </tr>

              <tr class="govuk-table__row">
                  <td class="govuk-table__cell govuk-body-s" scope="row" id="transaction-line1">4 January 2019</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s" style="text-align: left;" id="transaction-line2">14:12</td>
                  <td class="govuk-table__cell govuk-body-s" scope="row" id="transaction-line3"> 3 axle motor vehicle
                    annual test</td>
                  <td class="govuk-table__cell govuk-body-s" scope="row" id="transaction-line4">EJ16 CJT</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s" id="transaction-line5">£113.00</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s" id="transaction-line6">£0.00</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s" style="padding-right: 5px;" id="transaction-line7">£113.00</td>
                </tr>

              <!–– ^ done  ––>

              <tr class="govuk-table__row">
                <td class="govuk-table__cell govuk-body-s" scope="row" id="transaction-line1">4 January 2019</td>
                <td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s" style="text-align: left;" id="transaction-line2">14:59</td>
                <td class="govuk-table__cell govuk-body-s" scope="row" id="transaction-line3"> 4 axle motor vehicle
                  annual test</td>
                <td class="govuk-table__cell govuk-body-s" scope="row" id="transaction-line4">AV59 HWZ</td>
                <td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s" id="transaction-line5">£137.00</td>
                <td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s" id="transaction-line6">£0.00</td>
                <td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s" style="padding-right: 5px;" id="transaction-line7">£137.00</td>
              </tr>

              <tr class="govuk-table__row">
                  <td class="govuk-table__cell govuk-body-s" scope="row" id="transaction-line1">4 January 2019</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s" style="text-align: left;" id="transaction-line2">15:01</td>
                  <td class="govuk-table__cell govuk-body-s" scope="row" id="transaction-line3"> 3 axle motor vehicle
                    annual test</td>
                  <td class="govuk-table__cell govuk-body-s" scope="row" id="transaction-line4">CP66 PTS</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s" id="transaction-line5">£113.00</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s" id="transaction-line6">£0.00</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s" style="padding-right: 5px;" id="transaction-line7">£113.00</td>
                </tr>

              <!–– ^ done  ––>

              <tr class="govuk-table__row">
                <td class="govuk-table__cell govuk-body-s" scope="row" id="transaction-line1">4 January 2019</td>
                <td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s" style="text-align: left;" id="transaction-line2">15:45</td>
                <td class="govuk-table__cell govuk-body-s" scope="row" id="transaction-line3"> 3 axle motor vehicle
                  annual test</td>
                <td class="govuk-table__cell govuk-body-s" scope="row" id="transaction-line4">DY57 NDR</td>
                <td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s" id="transaction-line5">£113.00</td>
                <td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s" id="transaction-line6">£0.00</td>
                <td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s" style="padding-right: 5px;" id="transaction-line7">£113.00</td>
              </tr>

              <tr class="govuk-table__row">
                  <td class="govuk-table__cell govuk-body-s" scope="row" id="transaction-line1">4 January 2019</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s" style="text-align: left;" id="transaction-line2">15:59</td>
                  <td class="govuk-table__cell govuk-body-s" scope="row" id="transaction-line3"> 3 axle motor vehicle
                    annual test</td>
                  <td class="govuk-table__cell govuk-body-s" scope="row" id="transaction-line4">AJ18 HTD</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s" id="transaction-line5">£113.00</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s" id="transaction-line6">£0.00</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s" style="padding-right: 5px;" id="transaction-line7">£113.00</td>
                </tr>

              <!–– ^ done  ––>

              <tr class="govuk-table__row">
                <td class="govuk-table__cell govuk-body-s" scope="row" id="transaction-line1">4 January 2019</td>
                <td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s" style="text-align: left;" id="transaction-line2">16:04</td>
                <td class="govuk-table__cell govuk-body-s" scope="row" id="transaction-line3"> HGV Annual Test & LEC Low Emissions test</td>

                <!–– Build in error  ––>
                <td class="govuk-table__cell govuk-body-s" scope="row" id="transaction-line4">DU57 NDR</td>
                <!–– Build in error  ––>

                <td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s" id="transaction-line5">£25.00</td>
                <td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s" id="transaction-line6">£0.00</td>
                <td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s" style="padding-right: 5px;" id="transaction-line7">£25.00</td>
              </tr>

              

              <!–– ^ done  ––>


              <tr class="govuk-table__row" style="background:white;">
                <td class="govuk-table__cell govuk-body-s collapse-line" scope="row" id="transaction-line1"></td>
                <td class="govuk-table__cell govuk-body-s collapse-line" style="text-align: left;" id="transaction-line2"></td>
                <td class="govuk-table__cell govuk-body-s collapse-line" scope="row" id="transaction-line3"></td>
                <td class="govuk-table__cell govuk-body-s" scope="row" id="transaction-total"></td>
                <td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s" id="transaction-line5"><strong>£2418.00</strong></td>
                <td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s" id="transaction-line6"><strong>£0.00</strong></td>
                <td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s" style="padding-right: 5px" id="transaction-line7"><strong>£2418.00</strong></td>
              </tr>

              <!–– ^ done  ––>






            </tbody>
          </table>


    </div>












    <p class="v-space10">space</p>




    <!–– Payment advice START ––>

    <div>

      <table class="govuk-table">

        <h1 class="govuk-fieldset__legend--m resp-vspace" style="margin-bottom: 2px">
          Payment advice
        </h1>
        <span id="with-hint-hint" class="govuk-hint" style="margin-top: 0%;">Invoice paid</span>

        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">Date</th>
            <th class="govuk-table__header" scope="col">Reference no</th>
            <th class="govuk-table__header" scope="col">Payment type</th>
            <th class="govuk-table__header govuk-table__header--numeric" scope="col" style="padding-right: 5px;">Total
              amount</th>

          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell govuk-body-s" scope="row" id="advice-line1">5 January 2019</td>
            <td class="govuk-table__cell govuk-body-s" scope="row" id="advice-line2">0123456789</td>
            <td class="govuk-table__cell govuk-body-s" scope="row" id="advice-line3">Pre-funded account</td>
            <td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s" id="advice-total" style="padding-right: 5px;">£2418.00</td>
          </tr>






        </tbody>
      </table>
    </div>


    <!–– Payment advice END ––>


    <p class="v-space10">space</p>

    <p>
      <a href="http://cvs.devphase.co.uk/invoice-4jan.pdf" target="_blank">Printable invoice (PDF, 58KB)</a>
    </p>






  </body>

  </html>
  {% endblock %}