{% extends "layout.html" %}

{% block pageTitle %}
MyATF account
{% endblock %}

<!–– Beta header ––>

{% block beforeContent %}

{% from "phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
tag: {
text: "beta"
},
html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}


<!–– Breadcrumbs ––>

<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="#">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Prefunded account</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="MyATF-account-date.html">Select date range</a>
        </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Accounts</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}
<h2 class="govuk-heading-m">
  P57832 Scania Lincoln
</h2>

<h1 class="govuk-heading-xl">
  MyATF account
</h1>

<body class="govuk-template__body ">
  <script>
    document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');

  </script>

  <a href="#main-content" class="govuk-skip-link">Skip to main content</a>





  <script src="/govuk-frontend/all.js"></script>
  <script>
    window.GOVUKFrontend.initAll()

  </script>






  {% block radios %}
  <!–– Radios ––>
  <hr>

  <div style= class="govuk-form-group">
    <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
        <h1 class="govuk-fieldset__legend--m">
          Select a payment type to view
        </h1>
      </legend>
      


      <div class="govuk-radios govuk-radios--inline">

        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="changed-name-1" name="changed-name" type="radio" value="all-payments" checked="checked">
          <label class="govuk-label govuk-radios__label" for="changed-name-1">
            All transactions
          </label>
        </div>

        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="invoices">
          <label class="govuk-label govuk-radios__label" for="changed-name-2">
            Invoices
          </label>
        </div>

        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="changed-name-3" name="changed-name" type="radio" value="top-ups">
          <label class="govuk-label govuk-radios__label" for="changed-name-3">
            Account top-ups
          </label>
        </div>

      </div>
    </fieldset>
  </div>
  <hr>

  {% endblock %}





  <!–– 6 column table  ––>

<div><p class="v-space">space</p></div>

  <table class="govuk-table">
      <h1 class="govuk-fieldset__legend--m">
          All transactions from 10 June 2018
        </h1>
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="col">Date</th>
        <th class="govuk-table__header govuk-table__header--text" scope="col">Item</th>
        <th class="govuk-table__header govuk-table__header--text" scope="col">Reference</th>
        <th class="govuk-table__header govuk-table__header--numeric" scope="col">Amount</th>
        <th class="govuk-table__header govuk-table__header--numeric" scope="col">VAT</th>
        <th class="govuk-table__header govuk-table__header--numeric" scope="col">Total</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <td class="govuk-table__cell" scope="row">10 June 2018</td>
        <td class="govuk-table__cell">Vehicle testing</td>
        <td class="govuk-table__cell"><a href="#">1-3498244389</a></td>
        <td class="govuk-table__cell govuk-table__cell--numeric">-£756.00</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">£34.80</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">£790.80</td>
      </tr>

      <tr class="govuk-table__row">
        <td class="govuk-table__cell" scope="row">10 June 2018</td>
        <td class="govuk-table__cell">Vehicle testing</td>
        <td class="govuk-table__cell"><a href="#">1-3498244389</a></td>
        <td class="govuk-table__cell govuk-table__cell--numeric">-£756.00</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">£34.80</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">£790.80</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell" scope="row">10 June 2018</td>
        <td class="govuk-table__cell">Vehicle testing</td>
        <td class="govuk-table__cell"><a href="#">1-3498244389</a></td>
        <td class="govuk-table__cell govuk-table__cell--numeric">-£756.00</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">£34.80</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">£790.80</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell" scope="row">10 June 2018</td>
        <td class="govuk-table__cell">Vehicle testing</td>
        <td class="govuk-table__cell"><a href="#">1-3498244389</a></td>
        <td class="govuk-table__cell govuk-table__cell--numeric">-£756.00</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">£34.80</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">£790.80</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell" scope="row">10 June 2018</td>
        <td class="govuk-table__cell">Vehicle testing</td>
        <td class="govuk-table__cell"><a href="#">1-3498244389</a></td>
        <td class="govuk-table__cell govuk-table__cell--numeric">-£756.00</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">£34.80</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">£790.80</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell" scope="row">10 June 2018</td>
        <td class="govuk-table__cell">Vehicle testing</td>
        <td class="govuk-table__cell"><a href="#">1-3498244389</a></td>
        <td class="govuk-table__cell govuk-table__cell--numeric">-£756.00</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">£34.80</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">£790.80</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell" scope="row">10 June 2018</td>
        <td class="govuk-table__cell">Vehicle testing</td>
        <td class="govuk-table__cell"><a href="#">1-3498244389</a></td>
        <td class="govuk-table__cell govuk-table__cell--numeric">-£756.00</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">£34.80</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">£790.80</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell" scope="row">10 June 2018</td>
        <td class="govuk-table__cell">Vehicle testing</td>
        <td class="govuk-table__cell"><a href="#">1-3498244389</a></td>
        <td class="govuk-table__cell govuk-table__cell--numeric">-£756.00</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">£34.80</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">£790.80</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell" scope="row">10 June 2018</td>
        <td class="govuk-table__cell">Vehicle testing</td>
        <td class="govuk-table__cell"><a href="#">1-3498244389</a></td>
        <td class="govuk-table__cell govuk-table__cell--numeric">-£756.00</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">£34.80</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">£790.80</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell" scope="row">10 June 2018</td>
        <td class="govuk-table__cell">Vehicle testing</td>
        <td class="govuk-table__cell"><a href="#">1-3498244389</a></td>
        <td class="govuk-table__cell govuk-table__cell--numeric">-£756.00</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">£34.80</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">£790.80</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell" scope="row">10 June 2018</td>
        <td class="govuk-table__cell">Vehicle testing</td>
        <td class="govuk-table__cell"><a href="#">1-3498244389</a></td>
        <td class="govuk-table__cell govuk-table__cell--numeric">-£756.00</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">£34.80</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">£790.80</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell" scope="row">10 June 2018</td>
        <td class="govuk-table__cell">Vehicle testing</td>
        <td class="govuk-table__cell"><a href="#">1-3498244389</a></td>
        <td class="govuk-table__cell govuk-table__cell--numeric">-£756.00</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">£34.80</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">£790.80</td>
      </tr>

    </tbody>
  </table>


  <p>
      <a href="#">Download (CSV, 24KB)</a>
    </p>


</body>

</html>
{% endblock %}