{% extends "layout-account.html" %}

{% block pageTitle %}
MyATF account
{% endblock %}

<!–– Beta header ––>

{% block beforeContent %}

{% from "phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
tag: {
text: "beta"
},
html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}


<!–– Breadcrumbs ––>

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="home.html">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="activity-history-search.html">Account activity - Transactions and invoices</a>
      </li>
  

    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link">10 June 2018 to 13 June 2018</a>
    </li>
  </ol>
</div>
{% endblock %}

{% block content %}
<span id="with-hint-hint" class="govuk-hint" style="margin-top: 0%; margin-bottom: 0%;">P57832 Scania Lincoln</span>
<thead class="govuk-table__head">



<body class="govuk-template__body ">


  <a href="#main-content" class="govuk-skip-link">Skip to main content</a>





  <script src="/govuk-frontend/all.js"></script>
  <script>
    window.GOVUKFrontend.initAll()

  </script>

  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset" aria-describedby="how-contacted-conditional-hint">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
        <h1 class="govuk-fieldset__heading">
          Account activity
        </h1>
      </legend>
      <div>
          <p class="v-space10">space</p>
      </div>

      <div class="box">

          <ul class="govuk-list" style="font-size:large">

 

              <li style="margin-bottom: 10px;"> &#8212;
                  <a class="govuk-link govuk-link--no-visited-state" Style="padding-left: 5px;" href="account-balance.html">Balance: £2123.89</a>
                  </li>


                  <li style="margin-bottom: 10px;"> &#8212;
                      <a class="govuk-link govuk-link--no-visited-state" Style="padding-left: 5px;" href="activity-history-search.html">Transactions and 
                          invoices</a>
                      </li>



              <li style="margin-bottom: 10px;"> &#8212;
                  <a class="govuk-link govuk-link--no-visited-state" Style="padding-left: 5px;" href="#">Refunds</a>
              <li>


                  <li style="margin-bottom: 10px;">
                      <p class="v-space10">space</p>
                  </li>
    
              </ul>
              <hr>      
              <div>
                  <p class="v-space10">space</p>
              </div>                
      

              </div>

<body class="govuk-template__body ">
  <script>
    document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');

  </script>

  <a href="#main-content" class="govuk-skip-link">Skip to main content</a>





  <script src="/govuk-frontend/all.js"></script>
  <script>
    window.GOVUKFrontend.initAll()

  </script>






  





  <!–– 6 column table  ––>

  

  <table class="govuk-table">
    <h1 class="govuk-fieldset__legend--m">
      Transactions and invoices 
      <span id="with-hint-hint" class="govuk-hint" style="margin-top: 0%; margin-bottom: 0%;">10 June 2018 - 13 June 2018</span>
      
    </h1>
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="col">Date</th>
        <th class="govuk-table__header govuk-table__header--text" scope="col">Item</th>
        <th class="govuk-table__header govuk-table__header--text" scope="col">Invoice / Reference (PDF)</th>
  
        <th class="govuk-table__header govuk-table__header--numeric" scope="col">Amount</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <td class="govuk-table__cell" scope="row">10 June 2018</td>
        <td class="govuk-table__cell">Top-up to PFA</td>
        <td class="govuk-table__cell"><a href="https://github.com/nblore/my-atf/raw/master/app/views/downloads/myatf-invoice.pdf">1-3498345685</a></td>

        <td class="govuk-table__cell govuk-table__cell--numeric">+ £15,000.00</td>
      </tr>

      <tr class="govuk-table__row">
        <td class="govuk-table__cell" scope="row">10 June 2018</td>
        <td class="govuk-table__cell">Vehicle testing</td>
        <td class="govuk-table__cell"><a href="https://github.com/nblore/my-atf/raw/master/app/views/downloads/myatf-invoice.pdf">1-3498204746</a></td>

        <td class="govuk-table__cell govuk-table__cell--numeric">- £790.80</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell" scope="row">10 June 2018</td>
        <td class="govuk-table__cell">Vehicle testing</td>
        <td class="govuk-table__cell"><a href="https://github.com/nblore/my-atf/raw/master/app/views/downloads/myatf-invoice.pdf">1-3498240123</a></td>

        <td class="govuk-table__cell govuk-table__cell--numeric">- £790.80</td>
      </tr>
      <tr class="govuk-table__row">
          <td class="govuk-table__cell" scope="row">10 June 2018</td>
          <td class="govuk-table__cell">Vehicle testing</td>
          <td class="govuk-table__cell"><a href="https://github.com/nblore/my-atf/raw/master/app/views/downloads/myatf-invoice.pdf">1-3498249595</a></td>

          <td class="govuk-table__cell govuk-table__cell--numeric">- £790.80</td>
        </tr>


        <td class="govuk-table__cell" scope="row">11 June 2018</td>
        <td class="govuk-table__cell">Refund</td>
        <td class="govuk-table__cell"><a href="https://github.com/nblore/my-atf/raw/master/app/views/downloads/myatf-invoice.pdf">1-3498246792</a></td>

        <td class="govuk-table__cell govuk-table__cell--numeric">+ £790.80</td>
      </tr>
      
      <tr class="govuk-table__row">
        <td class="govuk-table__cell" scope="row">11 June 2018</td>
        <td class="govuk-table__cell">Vehicle testing</td>
        <td class="govuk-table__cell"><a href="https://github.com/nblore/my-atf/raw/master/app/views/downloads/myatf-invoice.pdf">1-3498134976</a></td>

        <td class="govuk-table__cell govuk-table__cell--numeric">- £790.80</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell" scope="row">11 June 2018</td>
        <td class="govuk-table__cell">Vehicle testing</td>
        <td class="govuk-table__cell"><a href="https://github.com/nblore/my-atf/raw/master/app/views/downloads/myatf-invoice.pdf">1-3498242589</a></td>

        <td class="govuk-table__cell govuk-table__cell--numeric">- £790.80</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell" scope="row">11 June 2018</td>
        <td class="govuk-table__cell">Vehicle testing</td>
        <td class="govuk-table__cell"><a href="https://github.com/nblore/my-atf/raw/master/app/views/downloads/myatf-invoice.pdf">1-3498219735</a></td>
 
        <td class="govuk-table__cell govuk-table__cell--numeric">- £790.80</td>
      </tr>
      
      <tr class="govuk-table__row">
          <td class="govuk-table__cell" scope="row">12 June 2018</td>
          <td class="govuk-table__cell">Vehicle testing</td>
          <td class="govuk-table__cell"><a href="https://github.com/nblore/my-atf/raw/master/app/views/downloads/myatf-invoice.pdf">1-3498245678</a></td>

          <td class="govuk-table__cell govuk-table__cell--numeric">- £790.80</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" scope="row">12 June 2018</td>
          <td class="govuk-table__cell">Vehicle testing</td>
          <td class="govuk-table__cell"><a href="https://github.com/nblore/my-atf/raw/master/app/views/downloads/myatf-invoice.pdf">1-3498246935</a></td>
 
          <td class="govuk-table__cell govuk-table__cell--numeric">- £790.80</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" scope="row">12 June 2018</td>
          <td class="govuk-table__cell">Vehicle testing</td>
          <td class="govuk-table__cell"><a href="https://github.com/nblore/my-atf/raw/master/app/views/downloads/myatf-invoice.pdf">1-3498242323</a></td>

          <td class="govuk-table__cell govuk-table__cell--numeric">- £790.80</td>
        </tr>
        
        </tr>
        <td class="govuk-table__cell" scope="row">13 June 2018</td>
        <td class="govuk-table__cell">Refund</td>
        <td class="govuk-table__cell"><a href="https://github.com/nblore/my-atf/raw/master/app/views/downloads/myatf-invoice.pdf">1-3498249764</a></td>
 
        <td class="govuk-table__cell govuk-table__cell--numeric">+ £790.80</td>
      </tr>
    
      <tr class="govuk-table__row">
        <td class="govuk-table__cell" scope="row">13 June 2018</td>
        <td class="govuk-table__cell">Vehicle testing</td>
        <td class="govuk-table__cell"><a href="https://github.com/nblore/my-atf/raw/master/app/views/downloads/myatf-invoice.pdf">1-3498245559</a></td>

        <td class="govuk-table__cell govuk-table__cell--numeric">- £790.80</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell" scope="row">13 June 2018</td>
        <td class="govuk-table__cell">Vehicle testing</td>
        <td class="govuk-table__cell"><a href="https://github.com/nblore/my-atf/raw/master/app/views/downloads/myatf-invoice.pdf">1-3498242521</a></td>

        <td class="govuk-table__cell govuk-table__cell--numeric">- £790.80</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell" scope="row">13 June 2018</td>
        <td class="govuk-table__cell">Vehicle testing</td>
        <td class="govuk-table__cell"><a href="https://github.com/nblore/my-atf/raw/master/app/views/downloads/myatf-invoice.pdf">1-3498242155</a></td>

        <td class="govuk-table__cell govuk-table__cell--numeric">- £790.80</td>
      </tr>


    </tbody>
  </table>


  <p>
    <a href="#">Download (CSV, 24KB)</a>
  </p>


</body>

</html>
{% endblock %}