<!DOCTYPE html>
<html lang="en" class="email01">

<head>

</head>

<body class="email01">
  

  

  <div class="email01">
   
      <h2 class="email01"><font face="arial" color="black">DVSA - Your password has been reset</font></h2>

      <p><strong><font face="arial" color="black">From:</strong> DVSA Business support email <span style="color:gray;font-size:small;">no.reply@dvsa.gov.uk</span></font></p>

      <p><strong><font face="arial" color="black">To: </strong>Shane Hemming  <span style="color:gray;font-size:small;">shane@hemmingATF.co.uk</span></font></p>

      <p><strong><font face="arial" color="black">Date: </strong>7 January 2019  </font></p>
      <hr>
   
  </div>

  <div style="padding: 50px; text-align: left; line-height: 24px;">

      <font face="arial" color="black">

          <p>Your password has been reset. </p><p><a href="sign-in.html"><strong>Sign in to Manage Your Authorised Testing Facility</strong> </a></p>

  
      
    

      </font>

  </div>




</body>

</html>