{% extends "layout-site.html" %}

{% block pageTitle %}
Todays activity
{% endblock %}

<!–– Beta header ––>

{% block beforeContent %}

{% from "phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
tag: {
text: "beta"
},
html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}


<!–– Breadcrumbs ––>

<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="home.html">Home</a>
        </li>

        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="#">Site management summary</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link">Today's activity</a>
            </li>
    </ol>
</div>


{% endblock %}
{% block content %}

<!-- Headings start here -->

<div class="govuk-width-container">

    <main class="govuk-main-wrapper">

        
            <!-- Local nave and header STARTS here -->

                <span id="with-hint-hint" class="govuk-hint" style="margin-top: 0%; margin-bottom: 0%;">P57832 Scania Lincoln</span>
                <thead class="govuk-table__head">

                <h1 class="govuk-heading-xl" style="margin-bottom: 2px">Site management</h1>



               

                <div>
                    <p class="v-space10">space</p>
                </div>




 <!-- links start here -->
                

                <ol class="govuk-list" style="font-size:large">

                    <li style="margin-bottom: 10px;">    &#8212;  
                        <a class="govuk-link govuk-link--no-visited-state" Style="padding-left: 5px;" href="activity-summary.html">Summary</a></li>
                        
                        <li style="margin-bottom: 10px;">
                        &#8212; <span  Style="padding-left: 5px;">Today's activity</span>
                    </li>
        

                    <li style="margin-bottom: 10px;">    &#8212;  
                            <a class="govuk-link govuk-link--no-visited-state" Style="padding-left: 5px;" href="#">Utilisation</a></li>


                            <li style="margin-bottom: 10px;">    &#8212;  
                                <a class="govuk-link govuk-link--no-visited-state" Style="padding-left: 5px;" href="#">Health and safety issues</a></li>
                            
                            <li style="margin-bottom: 10px;">    &#8212;  
                        <a class="govuk-link govuk-link--no-visited-state" Style="padding-left: 5px;" href="#">Cancel a tester</a></li>



                      

                            
                    
                    <li style="margin-bottom: 10px;">
                        <p class="v-space10">space</p>
                    </li>

                </ol>
                <hr>                        <p class="v-space10">space</p>


                <!-- Local nave and header ENDS here -->








                <!-- Table starts here -->

                <table class="govuk-table" style="font-size:medium">
                    <h1 class="govuk-fieldset__legend--m" style="margin-bottom: 2px">
                        Today's activity
                    </h1>
                    <span id="with-hint-hint" class="govuk-hint" style="margin-top: 0%;">Monday October 8 2018</span>
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th class="govuk-table__header" scope="col">VSA</th>
                            <th class="govuk-table__header" scope="col">Vehicle</th>
                            <th class="govuk-table__header" scope="col">Activity</th>
                            <th class="govuk-table__header" scope="col" style="text-align: left;">Start</th>
                            <th class="govuk-table__header" scope="col" style="text-align: left;">End</th>
                            <th class="govuk-table__header" scope="col" style="text-align: left;">Time</th>
                            <th class="govuk-table__header" scope="col" style="text-align: right;">Fees</th>
                            <th class="govuk-table__header" style="padding: 10px;" scope="col">Status</th>
                        </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">1</td>
                            <td class="govuk-table__cell">CN54 MKU</td>
                            <td class="govuk-table__cell">3 axle motor vehicle annual test</td>
                            <td class="govuk-table__cell" sstyle="text-align: left;">11:00</td>
                            <td class="govuk-table__cell" style="text-align: left;"></td>
                            <td class="govuk-table__cell" style="text-align: left;">45 mins</td>
                            <td class="govuk-table__cell" style="text-align: right;">£113.00</td>
                            <td class="govuk-table__cell" style="padding: 10px;">In progress</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">1</td>
                            <td class="govuk-table__cell">PO58 FLN</td>
                            <td class="govuk-table__cell">2 axle TRAILER annual test</td>
                            <td class="govuk-table__cell" style="text-align: left;"">10:15</td>
                            <td class="
                                govuk-table__cell" style="text-align: left;"">10:55</td>
                            <td class="
                                govuk-table__cell" style="text-align: left;">45 mins</td>
                            <td class="govuk-table__cell" style="text-align: right;">£54.00</td>
                            <td class="govuk-table__cell" style="padding: 10px;">Complete</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">1</td>
                            <td class="govuk-table__cell">KV63 CYC</td>
                            <td class="govuk-table__cell">3 axle motor vehicle annual test</td>
                            <td class="govuk-table__cell" style="text-align: left;">09:30</td>
                            <td class="govuk-table__cell" style="text-align: left;">10:10</td>
                            <td class="govuk-table__cell" style="text-align: left;">45 mins</td>
                            <td class="govuk-table__cell" style="text-align: right;">£113.00</td>
                            <td class="govuk-table__cell" style="padding: 10px;">Complete</td>
                        </tr>
                        <tr class="govuk-table__row">
                                <td class="govuk-table__cell">1</td>
                                <td class="govuk-table__cell"></td>
                                <td class="govuk-table__cell"><a href>Health and safety issue</a></td>
                                <td class="govuk-table__cell" style="text-align: left;">10:45</td>
                                <td class="govuk-table__cell" style="text-align: left;">11:00</td>
                                <td class="govuk-table__cell" style="text-align: left;">15 mins</td>
                                <td class="govuk-table__cell" style="text-align: right;"></td>
                                <td class="govuk-table__cell" style="padding: 10px;">Resolved</td>
                            </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">1</td>
                            <td class="govuk-table__cell">JY52 PDF</td>
                            <td class="govuk-table__cell">3 axle motor vehicle annual test</td>
                            <td class="govuk-table__cell" style="text-align: left;">08:45</td>
                            <td class="govuk-table__cell" style="text-align: left;">09:25</td>
                            <td class="govuk-table__cell" style="text-align: left;">45 mins</td>
                            <td class="govuk-table__cell" style="text-align: right;">£113.00</td>
                            <td class="govuk-table__cell" style="padding: 10px;">Complete</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">1</td>
                            <td class="govuk-table__cell">X973 PYK</td>
                            <td class="govuk-table__cell">4 axle motor vehicle annual test</td>
                            <td class="govuk-table__cell" style="text-align: left;">08:00</td>
                            <td class="govuk-table__cell" style="text-align: left;">08:40</td>
                            <td class="govuk-table__cell" style="text-align: left;">45 mins</td>
                            <td class="govuk-table__cell" style="text-align: right;">£137.00</td>
                            <td class="govuk-table__cell" style="padding: 10px;">Complete</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">2</td>
                            <td class="govuk-table__cell">AB58 XWV</td>
                            <td class="govuk-table__cell">2 axle motor vehicle annual test</td>
                            <td class="govuk-table__cell" style="text-align: left;">12:36</td>
                            <td class="govuk-table__cell" style="text-align: left;">13:26</td>
                            <td class="govuk-table__cell" style="text-align: left;">45 mins</td>
                            <td class="govuk-table__cell" style="text-align: right;">£91.00</td>
                            <td class="govuk-table__cell" style="padding: 10px;">Complete</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">2</td>
                            <td class="govuk-table__cell"></td>
                            <td class="govuk-table__cell">Wait time</td>
                            <td class="govuk-table__cell" style="text-align: left;">10:45</td>
                            <td class="govuk-table__cell" style="text-align: left;">11:45</td>
                            <td class="govuk-table__cell" style="text-align: left;">45 mins</td>
                            <td class="govuk-table__cell" style="text-align: right;"></td>
                            <td class="govuk-table__cell" style="padding: 10px;"></td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">2</td>
                            <td class="govuk-table__cell">BM55 NLV</td>
                            <td class="govuk-table__cell">3 axle motor vehicle annual test</td>
                            <td class="govuk-table__cell" style="text-align: left;">10:05</td>
                            <td class="govuk-table__cell" style="text-align: left;">10:45</td>
                            <td class="govuk-table__cell" style="text-align: left;">45 mins</td>
                            <td class="govuk-table__cell" style="text-align: right;">£188.00</td>
                            <td class="govuk-table__cell" style="padding: 10px;">Complete</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">2</td>
                            <td class="govuk-table__cell">RP16 OJW</td>
                            <td class="govuk-table__cell">2 axle motor vehicle annual test</td>
                            <td class="govuk-table__cell" style="text-align: left;">09:55</td>
                            <td class="govuk-table__cell" style="text-align: left;">10:00</td>
                            <td class="govuk-table__cell" style="text-align: left;">45 mins</td>
                            <td class="govuk-table__cell" style="text-align: right;">£91.00</td>
                            <td class="govuk-table__cell" style="padding: 10px;">Complete</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">2</td>
                            <td class="govuk-table__cell">BB62 DYA</td>
                            <td class="govuk-table__cell">3 axle motor vehicle annual test</td>
                            <td class="govuk-table__cell" style="text-align: left;">08:45</td>
                            <td class="govuk-table__cell" style="text-align: left;">09:45</td>
                            <td class="govuk-table__cell" style="text-align: left;">45 mins</td>
                            <td class="govuk-table__cell" style="text-align: right;">£188.00</td>
                            <td class="govuk-table__cell" style="padding: 10px;">Complete</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">2</td>
                            <td class="govuk-table__cell">CB56 KTP</td>
                            <td class="govuk-table__cell">3 axle motor vehicle annual test</td>
                            <td class="govuk-table__cell" style="text-align: left;">08:00</td>
                            <td class="govuk-table__cell" style="text-align: left;">08:40</td>
                            <td class="govuk-table__cell" style="text-align: left;">45 mins</td>
                            <td class="govuk-table__cell" style="text-align: right;">£188.00</td>
                            <td class="govuk-table__cell" style="padding: 10px;">Complete</td>
                        </tr>

                    </tbody>
                </table>

                <div>
                        <p class="v-space">space</p>
                      </div>
                    

 


     
                <div>
                        <p class="v-space">space</p>
                    </div>
              






            </div>
        

    </main>
</div>


{% endblock %}