<form action="{{urlRoot}}prototype/multi-site-user" method="post" role="search" class="search-bar">
	<div class="search-main">
		<label for="search-main">
			<h3 class="heading-medium">Search results for</h3>
		</label>
		<div class="search-wrapper">
			<input type="search" placeholder="{{searchPlaceholderText}}" value="{{searchQuery}}" id="search-main" name="searchQuery" title="Search" class="search-input">
			<div class="search-submit">
				<button 
					style="background-image: url({{assets}}public/images/search-button.png)" 
					type="submit">Search</button>
			</div>
		</divs>
	</div>
</form>